.slider_clienti_homepage_single {
  padding: 50px 0;
  text-align: center;
  background-color: $color2;
  .title_section {
    font-size: 24px;
    color: $text1n;
    font-family: 'montserratsemibold';
    margin-bottom: 30px;
  }
  .img_cliente {
    margin: auto;
    padding-top: 30px;
  }
  .slick-slide:focus {
    @include no-outline();
  }
  .slick-dots li button:before {
    font-size: 18px !important;
    content: '' !important;
    border-radius: 10px;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    background-color: $color1g;
    opacity: .55;
  }

  .slick-dots li.slick-active button:before {
    background-color: white;
    border: 3px solid $text3n;
    width: 15px;
    height: 15px;
    margin-top: -1.5px;
  }
  .subtitle_dicono {
    font-size: 26px;
    padding: 0 15%;
    color: $text1n;
    font-style: italic;
    font-family: 'montserratextralight';
    margin: 40px 20px;
    span {
      color: $text3n;
    }
  }
  .firma_section {
    margin-top: 40px;
    font-size: 18px;
    color: $text3n;
    font-family: 'montserratregular';
  }
}

@media screen and (max-width: 1300px) {
  .slider_clienti_homepage_single {
    .subtitle_dicono {
      font-size: 25px;
      margin-top: 30px;
    }
  }
}

@media screen and (max-width: 991px) {
  .slider_clienti_homepage_single {
    padding: 50px 0;
    .subtitle_dicono {
      font-size: 20px;
      margin-top: 25px;
      padding: 0 7%;
    }
    .img_cliente {
      padding-top: 0;
    }
  }
}

@media screen and (max-width: 640px) {
  .slider_clienti_homepage_single {
    .title_section {
      font-size: 20px;
    }
    .subtitle_dicono {
      font-size: 16px;
      margin-top: 20px;
      padding: 0 5px;
    }
    .slick-next,
    .slick-prev {
      display: block !important;
    }
    .slick-prev:before, .slick-next:before {
      color: $text2g;
    }
    .clienti_feedback_single {
      margin: 0 30px;
    }
  }
}

@media screen and (max-width: 350px) {
  .slider_clienti_homepage_single {
    .subtitle_dicono {
      font-size: 14px;
    }
  }
}
