<div class="sezione box-doppio-bottone-invertito">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 col-img"
                 data-aos="fade-right" data-aos-duration="800">
                <img src="{{ immagine.src }}" alt="{{ immagine.alt }}"/>
            </div>
            <div class="col-xs-6 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 col-text"
                 data-aos="fade-left" data-aos-duration="800">
                <div class="box-testo">
                    <p>
                        {{ titoletto.val }}
                    </p>
                    <h3>{{ titolo.val|raw }}</h3>
                    <a href="{{ link.link }}" type="button" class="btn btn-default">{{ link.label }}</a>
                </div>
            </div>
        </div>
    </div>
</div>
