<div class="box-contattaci">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                {% if sottotitolo.val|default("") %}<span>{{ sottotitolo.val }}</span>{% endif %}
                <p>{{ titolo.val }}</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                {% if link1.link|default("") %}
                    <a href="{{ link1.link }}" class="btn btn-default">{{ link1.label }}
                        <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>