& {
  .header-categoria {

    padding-top: 100px;
    padding-bottom: 50px;
    background-size: cover;
    background-position: center;
  }
  .nome-categoria {
    font-family: $font2;
    color: $color1;
    font-size: 72px;
    margin-bottom: 10px;
  }
  .descrizione-categoria {
    font-size: 14px;
    color: $color1;
    line-height: 24px;
  }

  @media(max-width: 767px) {
    .header-categoria {
      padding-top: 30px;
    }
  }

}