{% trans_default_domain "public" %}
<div class="container-fluid container-limitato">
    <div class="row">
        <div class="col-sm-12 col-titolo">
            <h1 class="titolo">{{ data.nome }}{% if app.request.get('page') and data.page is defined %} - {% trans %}default.labels.pagina{% endtrans %} {{ data.page }}{% endif %}</h1>
        </div>
    </div>
</div>
<section class="container-fluid container-limitato lista-prodotti lista-prodotti-3col">
    <div class="row">
        {% if data.pagination|length %}
            {% for Prodotto in data.pagination %}
                <div class="col-md-4 col-xs-6 colonna-prodotto">
                    <div class="box-prodotto">
                        <div class="img-prodotto-wrap">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}">
                                <img class="img-prodotto"
                                     src="{{ asset(Prodotto.uploadDir ~ Prodotto.listImgFileName) }}"
                                     alt="{{ Prodotto.listImgAlt }}">
                            </a>
                        </div>
                        {% if(Prodotto.brand) %}
                            <div class="marca">{{ Prodotto.brand.translate().titolo }}</div>
                        {% endif %}
                        <h3 class="nome-prodotto">{{ Prodotto.translate().titolo }}
                        </h3>
                        <div class="prezzo"> {{ productHelper.prezzo(Prodotto, listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                        <div class="clearfix pulsanti">
                            <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}"
                               class="acquista-button pulsante-ghebagas btn"><span> {% trans %}
                                        ecommerce.labels.acquista {% endtrans %}</span></a>
                            <a data-product="{{ Prodotto.id }}" href="#"
                               class="wishlist-button pulsante-ghebagas btn {% if Prodotto.inWishlist == 1 %}active{% endif %}"><span>  {% trans %}
                                        ecommerce.labels.wishlist {% endtrans %}</span></a>
                        </div>

                    </div>
                </div>
            {% endfor %}
            <div class="navigation">
                {{ knp_pagination_render(data.pagination) }}
            </div>
            <div class="category" data-category="{{ data.category }}"></div>
        {% else %}
            <div class="alert alert-danger">
                &nbsp;{% trans %}product.labels.nessun_prodotto{% endtrans %}
            </div>
        {% endif %}
    </div>
</section>


<script type="text/x-handlebars" id="productTemplate">
    <div class="col-md-4 col-xs-6 colonna-prodotto">
                    <div class="box-prodotto">
                        <div class="img-prodotto-wrap">
                            <img class="img-prodotto" src="{% verbatim %}{{ img }}{% endverbatim %}
    " alt={% verbatim %}{{ imgAlt }}{% endverbatim %}>
                        </div>
                        <div class="marca">{% verbatim %}{{ brand }}{% endverbatim %}</div>
                        <h3 class="nome-prodotto">{% verbatim %}{{ titolo }}{% endverbatim %}
                        </h3>
                        <div class="prezzo">{% verbatim %}{{ prezzo }}{% endverbatim %}</div>
                        <div class="clearfix pulsanti">
                            <a href="{% verbatim %}{{ url }}{% endverbatim %}"
                               class="acquista-button pulsante-ghebagas btn"><span> {% trans %}
                                    ecommerce.labels.acquista {% endtrans %}</span></a>
                            <a data-product="{% verbatim %}{{ id }}{% endverbatim %}" href="#"
                               class="wishlist-button pulsante-ghebagas btn {% verbatim %}{{ inWishlist }}{% endverbatim %}
    "><span>  {% trans %}
                                    ecommerce.labels.wishlist {% endtrans %}</span></a>
                        </div>

                    </div>
                </div>
































</script>

<script type="text/x-handlebars" id="noWishlistTemplate">

    <div id="noWishlistModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <h3 class="titolo">
                           {% trans %}default.labels.registrationRequired{% endtrans %}
                    </h3>
                    <div class="testo">
                        {% trans %}ecommerce.labels.registrationRequiredforWishlist{% endtrans %}
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <a data-dismiss="modal" class="btn pulsante-ghebagas grey">
                                <span>{% trans %}ecommerce.labels.keepShopping{% endtrans %}</span>
                            </a>

                        </div>
                        <div class="col-sm-6">
                        <a href="/registrazione" data-dismiss="modal" class="btn pulsante-ghebagas">
                                <span>{% trans %}ecommerce.labels.goToRegistration{% endtrans %}</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>























</script>
