{% extends "@WebtekEcommerce/admin/delivery/formLayout.html.twig" %}

{% block title %} {% trans %} delivery.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} delivery.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


