<div class="sezione box-sei-loghi">
    <div class="container">
        <p>
            {{ testo.val }}
        </p>
        <div class="row">
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img class="" src="{{ logo1.src }}" alt="{{ logo1.alt|default("") }}"/>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img class="" src="{{ logo2.src }}" alt="{{ logo2.alt|default("") }}"/>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img class="" src="{{ logo3.src }}" alt="{{ logo3.alt|default("") }}"/>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img class="" src="{{ logo4.src }}" alt="{{ logo4.alt|default("") }}"/>
                </div>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img class="" src="{{ logo5.src }}" alt="{{ logo5.alt|default("") }}"/>
                </div>
            </div>
            <div class="col-xs-6 col-sm-4 col-md-4 col-lg-4">
                <div class="thumbnail">
                    <img class="" src="{{ logo6.src }}" alt="{{ logo6.alt|default("") }}"/>
                </div>
            </div>
        </div>
    </div>
</div>
