{% trans_default_domain "public" %}
{% if data.files %}
    <div class="box-documentazione">
        <div class="container">
            <div class="row">
                {% if titolo.val|default("") %}<h3> {{ titolo.val }} </h3>{% endif %}
                <p>{% trans %} default.labels.scarica_documenti {% endtrans %}</p>
                {% if data.files|length > 2 %}
                    {% set colonnaLength = (data.files| length // 2) %}
                    {% if data.files|length % 2 %}
                        {% set colonnaLength = (colonnaLength + 1) %}
                    {% endif %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {% for file in data.files %}
                            {% if loop.index0 < colonnaLength %}
                                <div class="media">
                                    <div class="media-left">
                                        <a target="_blank" download href="{{ vich_uploader_asset(file, 'file') }}">
                                            <img class="media-object"
                                                 src="{{ asset('images/energia/grafica/pdf.png') }}"
                                                 alt="Download {{ file.name }}">
                                        </a>
                                    </div>
                                    <div class="media-body media-middle">
                                        <h4 class="media-heading">
                                            {{ file.translate().alt }}
                                        </h4>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                        {% for file in data.files %}
                            {% if loop.index0 < colonnaLength %}
                                <div class="media">
                                    <div class="media-left">
                                        <a target="_blank" download href="{{ vich_uploader_asset(file, 'file') }}">
                                            <img class="media-object"
                                                 src="{{ asset('images/energia/grafica/pdf.png') }}"
                                                 alt="Download {{ file.name }}">
                                        </a>
                                    </div>
                                    <div class="media-body media-middle">
                                        <h4 class="media-heading">
                                            {{ file.translate().alt }}
                                        </h4>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-lg-offset-3 col-sm-offset-3 col-md-offset-3">
                        {% for file in data.files %}
                            <div class="media">
                                <div class="media-left">
                                    <a target="_blank" download href="{{ vich_uploader_asset(file, 'file') }}">
                                        <img class="media-object" src="{{ asset('images/energia/grafica/pdf.png') }}"
                                             alt="Download {{ file.name }}">
                                    </a>
                                </div>
                                <div class="media-body media-middle">
                                    <h4 class="media-heading">
                                        {{ file.translate().alt }}
                                    </h4>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}


