$color2: #F39200 !default;
$color3: #878787 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.navigation {
  display: block;
  padding-top: 14px;
  border-top: 1px solid #EBEBEB;
  .pagination {
    float: right;
    .page, .current, .next, .previous, .last, .first {
      width: 36px;
      height: 36px;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      padding-top: 8px;
      &:hover {
        background-color: $color2;
        color: white;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .current {
      background-color: $color2;
      color: white;
    }
    .page, .next, .previous, .last, .first {
      background-color: #EBEBEB;
      color: #8C8C8C;
    }
  }
}

.totalCount {
  text-align: right;
  strong {
    color: $color2;
  }
}

@media(max-width: 500px) {
  .colonna-prodotto {
    width: 100%;
  }
  .titolo {
    font-size: 20px;
  }
}

.alert {
  background-color: $color2;
  background-image: none;
  color: white;
  font-weight: 600;
  font-size: 18px;
  border: 0;
}
