{% set entityId = form.uuid.vars.value %}

{% if form.vars.data.id %}
    {% set entityId = form.vars.data.id %}
{% endif %}

{{ form_start(form, {'attr': {'data-id': entityId, 'data-can_edit_page_rows': is_granted("ROLE_CAN_EDIT_PAGE_ROWS")}}) }}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        {{ errors | raw }}
    </div>
{% endif %}

<div class="row">
    <div class="col-md-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} default.labels.dati_strutturali {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.isEnabled) }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.sedi) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.nome) }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.cognome) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.email) }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.telefono) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.facebook) }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.twitter) }}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.linkedin) }}
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                            {{ form_row(form.googleplus) }}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="a2lix_translations tabbable">
                    <ul class="a2lix_translationsLocales nav nav-tabs">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#" data-toggle="tab"
                                   data-target=".page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                                    {{ locale }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="a2lix_translationsFields tab-content">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                                 class="page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                                {% for field in attribute(form.translations, shortLocale) %}
                                    {{ form_row(field) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>


        </div>


    </div>

    {% set dimensioni = dipendenti.list_img_dimensions %}
    {% set src = supportData.listImgUrl %}
    {% set fieldName = "listImg" %}
    {% set formName = "dipendente_form" %}
    {% set label = "default.labels.immagine_elenchi" %}
    {% include "admin/includes/resizableImg.html.twig" %}

    {% set typeofobject = "dipendenti" %}

    {% include "admin/includes/attachments.html.twig" %}


</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
            default.labels.salva {% endtrans %}</button>

    <a href="{{ path('dipendenti') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>
</div>

{{ form_end(form) }}

<script type="text/template" id="modalCroppieTemplate">
    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% verbatim %}{{title}}{% endverbatim %}</h4>
                </div>
                <div class="modal-body">
                    <div class="croppie"></div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="alt">
                                {% trans %}news.labels.immagine_elenchi_alt{% endtrans %}
                                <span class="required" title="This field is required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" id="alt" name="alt" required="required" class="form-control"
                                       value="">
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                {% trans %}news.messages.altimage {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel btn-info">{% trans %}
                            default.labels.annulla {% endtrans %}</button>
                    <button type="button" class="btn btn-success btn-confirm">{% trans %}
                            default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>
