{% extends "@Azienda/admin/dipendenti/formLayout.html.twig" %}

{% block title %} {% trans %} dipendenti.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} dipendenti.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


