<ul class="nav navbar-nav navbar-right">
    {% for socialImage in socialImages %}
        {% if socialImage.src|default("") %}
            <li>
                <a target="_blank" href="{{ socialUrls[loop.index0]['val'] }}"><img class="social_icon"
                                                                                    src="{{ socialImage.src }}"
                                                                                    alt="{{ socialImage.alt|default("") }}"/></a>
            </li>
        {% endif %}
    {% endfor %}
</ul>
