.sezione.box-doppio-bottone {
  padding: 0;
  background-color: transparent;
  .col-xs-6 {
    position: relative;
    height: 600px;
    text-align: center;
    padding: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-text {
    background-color: $color5;
    display: table;
    .box-testo {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 0 15%;
      h3 {
        margin-bottom: 30px;
        font-size: $text10;
        color: $color3;
        strong {
          color: $color1;
        }
      }
      p {
        color: $color3;
        font-size: $text6;
      }
      .btn-default {
        display: inline-block;
        margin: 0 auto;
        padding: 20px 30px;
        border-radius: 4px;
        font-weight: $bold;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sezione.box-doppio-bottone .col-text .box-testo {
    padding: 0 10%;
    h3 {
      font-size: font-percentage($text10, 0.9);
    }
    p {
      font-size: font-percentage($text6, 0.9);
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.box-doppio-bottone .col-text .box-testo {
    padding: 0 10%;
    h3 {
      font-size: font-percentage($text10, 0.8);
    }
    p {
      font-size: font-percentage($text6, 0.8);
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.box-doppio-bottone .col-xs-6 {
    height: 300px;
  }
  .sezione.box-doppio-bottone .col-text .box-testo {
    padding: 20px 5%;
    text-align: center;
    h3 {
      font-size: font-percentage($text10, 0.55);
    }
    p {
      font-size: font-percentage($text6, 0.55);
    }
    .btn-default {
      font-size: font-percentage($text1, 0.85);
      padding: 15px;
    }
  }
}

@media screen and (max-width: 499px) {
  .sezione.box-doppio-bottone .col-xs-6 {
    width: 100%;
  }
}