<section class="only_title_text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3 class="title_section align-center" data-aos="fade-in"
                    data-aos-duration="800">{{ titolo.val|raw }}</h3>
                <p class="text_section align-center" data-aos="fade-in" data-aos-duration="800">{{ testo.val|raw }}</p>
                {% if(testo_l.val|raw != "") %}
                    <p class="text_section testo2" data-aos="fade-in" data-aos-duration="800">{{ testo_l.val|raw }}</p>

                {% endif %}
            </div>
        </div>
    </div>
</section>
