.address-footer {
  .footer_title {
    color: white;
    font-size: 24px;
    margin: 0;
    font-family: 'montserratlight';
  }
  .lista_footer {
    list-style-type: none;
    padding-left: 0;
    margin: 25px 0;
    li {
      color: $text14n;
      margin-bottom: 10px;
      font-size: 18px;
      font-family: 'montserratlight';
    }
    a {
      color: $text14n;
      &:hover {
        color: $text14n;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .address-footer {
    .lista_footer li {
      margin-bottom: 4px;
      font-size: 15px;
    }
    .footer_title {
      font-size: 20px;
    }
  }
}

@media screen and (max-width: 991px) {
  .address-footer {
    text-align: center;
    .lista_footer {
      margin: 20px 0;
    }
    .footer_title {
      padding-top: 10px;
    }
  }
}

@media screen and (max-width: 640px) {
  .address-footer {
    .footer_title {
      font-size: 17px;
    }
    .lista_footer li {
      font-size: 13px;
    }
  }
}
