{% if data.formRecupero is defined %}
    {% set form=data.formRecupero %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">
                <div class="container-fluid container-limitato">
                    {{ form_start(form) }}
                    <h1>Richiesta di recupero password</h1>

                    {% for msg in app.session.flashBag.get('success') %}
                        <div class="alert alert-success">{{ msg|trans({}, 'security') }}</div>
                    {% endfor %}

                    {% for msg in app.session.flashBag.get('error') %}
                        <div class="alert alert-danger">{{ msg|trans({}, 'security') }}</div>
                    {% endfor %}

                    {% if data.error is defined and data.error|length %}
                        <div class="alert alert-danger">{{ data.error|trans() }}</div>
                    {% endif %}

                    {{ form_errors(form) }}

                    {{ form_row(form.email) }}

                    {{ form_row(form.recaptcha) }}


                    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                        <button class="btn submit pull-right" type="submit"><i
                                    class="fa fa-lock"></i> <span>{% trans %}
                                    default.labels.richiedi_pass {% endtrans %} </span></button>
                    </div>

                    <div class="clearfix"></div>
                    {{ form_end(form) }}
                </div>
            </section>
        </div>

    </div>

{% endif %}

{% if data.formEdit is defined %}
    {% if not data.completed %}
        {% set form=data.formEdit %}
        <div class="login_wrapper">
            <div class="animate form login_form">
                <section class="login_content">
                    <div class="container-fluid container-limitato">
                        {% if data.error is defined and data.error|length %}
                            <div class="alert alert-danger">{{ data.error|trans() }}</div>
                        {% endif %}

                        {{ form_start(form) }}


                        <h1>{% trans %} operatori.labels.reset_pass {% endtrans %}</h1>

                        {{ form_errors(form) }}

                        {{ form_row(form.plainPassword.first) }}
                        {{ form_row(form.plainPassword.second) }}
                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                            <button class="btn submit" type="submit"><i
                                        class="fa fa-lock"></i> {% trans %}
                                    default.labels.salva {% endtrans %}</button>
                        </div>
                        <div class="clearfix"></div>
                        {{ form_end(form) }}
                    </div>
                </section>
            </div>

        </div>
    {% else %}
        <div class="container-fluid container-limitato">
            <h1> LA NUOVA PASSWORD E' STATA IMPOSTATA.</h1>
        </div>
    {% endif %}
{% endif %}