{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} pages.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} pages.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}

{% block page_content %}

    <div class="x_panel">
        <div class="x_title">
            <p class="help-block">
                {% trans %} pages.help.sort_help {% endtrans %}
            </p>
        </div>
        <div class="x_content">
            <div id="sortContainer">
            </div>
        </div>
    </div>


    <a href="#" class="btn btn-success" id="jsonExport"><i
                class="fa fa-save"></i> {% trans %} pages.labels.salva_disposizione{% endtrans %}
    </a>
    <a href="{{ path('pages_list') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/pages.js') }}"></script>
    <script type="text/javascript" src="{{ asset('admin/vendors/jstree/dist/jstree.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/vendors/jstree/dist/themes/default/style.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/vendors/jstree-bootstrap-theme/dist/themes/proton/style.min.css') }}"/>

{% endblock %}