.sezione.box-doppio {
  .col-lg-7 {
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .box-testo {
    text-align: center;
    padding: 15%;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    img {
      margin-bottom: 80px;
    }
    h2 {
      color: $color1;
    }
    p {
      font-size: 18px;
      font-weight: 700;
    }
  }
}

// BOX DOPPIO

@media screen and (max-width: 1199px) {
  .sezione.box-doppio .box-testo {
    padding: 30px;
    img {
      margin-bottom: 40px;
    }
  }

  @media screen and (max-width: 767px) {
    .sezione.box-doppio .col-lg-7, .sezione.box-doppio .col-lg-5 {
      height: 350px;
    }
    .sezione.box-doppio .box-testo {
      padding: 20px;
      img {
        margin-bottom: 10px;
        width: 60px;
      }
      h2 {
        font-size: 20px;
      }
      p {
        font-size: 12px;
        font-weight: 400;
      }
    }
  }
}
