<div class="sezione box-quadruplo">
    <div class="container-fluid">
        <div class="row">
            {% for automezzo in titles %}
                {% set title = automezzo %}
                {% set image = attribute(images, loop.index0) %}
                {% set link = attribute(links, loop.index0) %}
                <div class="col-xs-6 col-lg-6" data-aos="fade-down-right" data-aos-duration="1000">
                    <div class="thumbnail">
                        {% if image.src|default("") %}
                            <img src="{{ image.src }}" alt="{{ image.src | default(title) }}" />{% endif %}
                        <div class="caption">
                            <h2>{{ title.val }}</h2>
                            {% if link.link | default("") %}
                            <a href="{{ link.link }}">&#62; {{ link.label }}</a>{% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>