.sezione.box-quadruplo {
  background-color: $color4;
  .col-lg-6 {
    height: 400px;
    padding: 0;
    .thumbnail {
      height: 100%;
      position: relative;
      margin-bottom: 10px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .caption {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: rgba($color3, .8);
        h2, a {
          color: $color4;
        }
        transition: 0.3s all ease;
      }
    }
    .thumbnail:hover {
      .caption {
        background-color: rgba($color1, .8);
        transition: 0.3s all ease;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.box-quadruplo .col-lg-6 {
    height: 200px;
  }
  .sezione.box-quadruplo .col-lg-6 .thumbnail .caption {
    h2 {
      margin-top: 10px;
      font-size: 20px;
    }
    p {
      margin-bottom: 5px;
    }
  }
}

@media screen and (max-width: 450px) {
  .sezione.box-quadruplo {
    .col-lg-6 {
      width: 100%;
    }
  }
}
