//TODO VALUTARE SE MIGLIORARE LE TRANSIZIONI CON VELOCITY ( IN CASO ALLA FINE DI TUTTO IL LAVORO)
//body.fullscreenMenu {
//  overflow: hidden;
//  .treeMenuFullScreen {
//    display: block;
//    max-width: 100%;
//    transition: 0s;
//    .column:first-child {
//      left: 0;
//      opacity: 1;
//      transition: left 1s, opacity 500ms;
//    }
//  }
//}
//
//.treeMenuFullScreen {
//  //display: none;
//  transition-delay: 600ms;
//  max-width: 0;
//  position: fixed;
//  top: 0;
//  left: 0;
//  width: 100%;
//  height: 100%;
//  z-index: 100;
//  .titolo {
//    font-size: 18px;
//    font-weight: 600;
//    margin-bottom: 30px;
//  }
//  .logo-btm {
//    margin-top: 30px;
//  }
//  .block-wrap {
//    height: 100%;
//    margin-top: -70px;
//    padding-top: 70px;
//    margin-bottom: -92px;
//    padding-bottom: 92px;
//
//    &.submenu {
//      margin-top: 0;
//      padding-top: 0;
//    }
//  }
//  .menu-prodotti, .submenu-prodotti, .subsubmenu-prodotti {
//    list-style: none;
//    padding: 0;
//    margin: 0;
//    max-height: 100%;
//    overflow: auto;
//    padding-right: 6px;
//  }
//  .menu-prodotti {
//    li {
//      padding: 0;
//      margin: 0;
//      margin-bottom: 6px;
//    }
//    .icona {
//      margin-right: 5px;
//    }
//    .elemento {
//      color: $color6;
//      font-size: 17px;
//      font-weight: 300;
//      &:hover, &.selected, &:focus {
//        font-weight: 600;
//        text-decoration: none;
//        font-size: 16px;
//        box-shadow: none;
//        outline: 0;
//      }
//      &.selected::after {
//        content: " >";
//        margin-left: 10px;
//        font-weight: 700;
//        color: $color2;
//      }
//
//    }
//    a {
//      display: inline-block;
//      vertical-align: middle;
//
//    }
//  }
//  .submenu-prodotti {
//    .elemento {
//      &.selected::after {
//        content: " >";
//        margin-left: 10px;
//        font-weight: 700;
//        color: $color2;
//      }
//    }
//
//  }
//  .submenu-prodotti, .subsubmenu-prodotti {
//    display: none;
//    .elemento {
//      &:hover, &.selected, &:focus {
//        font-weight: 600;
//        text-decoration: none;
//        font-size: 14px;
//        box-shadow: none;
//        outline: 0;
//        color: $color6;
//      }
//
//    }
//    &.open {
//      display: block;
//    }
//    li {
//      padding: 0;
//      margin: 0;
//      margin-bottom: 6px;
//    }
//    .elemento {
//      font-size: 14px;
//      color: $color3;
//    }
//
//  }
//  .container-fluid {
//    padding: 0;
//  }
//  .riga, .container-fluid, .column {
//    height: 100%;
//  }
//  .column:first-child {
//    width: 32.85%;
//    position: relative;
//    z-index: 4;
//    opacity: 0;
//    left: -32.85%;
//    transition: left 1s, opacity 500ms;
//  }
//  .column:nth-child(2) {
//    width: 28.57%;
//    padding-top: 100px;
//    transform: translateX(-100%);
//    position: relative;
//    z-index: 3;
//    opacity: 0;
//    transition: transform 1s, opacity 500ms;
//
//  }
//  &.first-opening {
//    .column:nth-child(2) {
//      transform: translateX(0);
//      transition: transform 1s, opacity 500ms;
//      opacity: 1;
//    }
//    .column:last-child {
//      display: block;
//      transition: transform 1s, opacity 500ms;
//    }
//  }
//  &.second-opening {
//    .column:last-child {
//      transform: translateX(0);
//      opacity: 1;
//    }
//  }
//
//  .column:last-child {
//    width: 38.58%;
//    padding-top: 100px;
//    position: relative;
//    transform: translateX(-100%);
//    display: none;
//    opacity: 0;
//    .close-btn {
//      position: absolute;
//      top: 4%;
//      right: 10%;
//      background-color: black;
//      width: 30px;
//      height: 30px;
//      cursor: pointer;
//    }
//    z-index: 2;
//  }
//  .column {
//    background-color: white;
//    float: left;
//    padding: 2% 8%;
//    padding-right: 4%;
//  }
//  .column:first-child {
//    background-color: $color18;
//  }
//  .column:last-child {
//    border-left: 2px solid $color18;
//  }
//}
