<div class="container-fluid">
    <div class="riga">
        <div class="column menu-prodotti-column">
            <h3 class="titolo">I NOSTRI PRODOTTI</h3>
            <div class="back-arrow"><img src="{{ assetLayout("img/arrow_back.png") }}"></div>
            <div class="titolo-cell">Seleziona la categoria di prodotto desiderata</div>
            <div class="block-wrap">
                <ul class="menu-prodotti">
                    {% for cat in data.categorie %}
                        <li>
                            {% if(cat.icona != "") %}
                                <span class="{{ cat.icona }}"></span>
                                {#<a href="#" class="icona"><img src="{{ asset(cat.listImg) }}"></a>#}
                            {% endif %}
                            <a href="#cat_{{ cat.id }}" class="elemento">{{ cat.name }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <img src="{{ assetLayout("img/logo.png") }}" class="img-responsive logo-btm">
        </div>
        <div class="column submenu-prodotti-column primo">
            <div class="back-arrow"><img src="{{ assetLayout("img/arrow_back.png") }}"></div>
            <div class="block-wrap submenu">

                {% for cat in data.categorie %}
                    {% if cat.children|length %}
                        <ul class="submenu-prodotti" data-parent="cat_{{ cat.id }}">
                            <div class="titoloMobile-cat"><span class="{{ cat.icona }}"></span>{{ cat.name }}</div>
                            {% for child in cat.children %}
                                <li><a href="#cat_{{ child.id }}" class="elemento">{{ child.name }}</a></li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                {% endfor %}
            </div>

        </div>
        <div class="column secondo">
            <span class="close-btn "><img src="{{ assetLayout("img/close.png") }}"></span>
            <div class="back-arrow"><img src="{{ assetLayout("img/arrow_back.png") }}"></div>
            <div class="block-wrap submenu">

                {% for cat in data.categorie %}
                    {% if cat.children|length %}
                        {% for child in cat.children if child.children|length %}
                            <ul class="subsubmenu-prodotti" data-parent="cat_{{ child.id }}">
                                <div class="titoloMobile-cat"><span class="{{ cat.icona }}"></span>{{ cat.name }}</div>
                                <div class="titoloMobile-subcat">{{ child.name }}</div>


                                {% for grandchild in child.children %}
                                    <li>
                                        <a href="{{ to_route("categoria_ecommerce",{"slug":cat.slug ~ "/" ~ child.slug ~ "/" ~ grandchild.slug}) }}"
                                           class="elemento">{{ grandchild.name }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endfor %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

</div>
