{% trans_default_domain "public" %}

{% if data.prodotti is defined and data.prodotti != null %}
    <div class="titoloMenu">
        {% trans %}ecommerce.labels.piuvenduti{% endtrans %}
    </div>
    <ul class="lista-piu-venduti media-list">
        {% for Prodotto in data.prodotti %}
            {% include "public/layouts/"~generali.layout~"/includes/prodotto-smallList.twig" with {"Prodotto":Prodotto} %}
        {% endfor %}
    </ul>
{% endif %}

