$color4: #D6BE77 !default;
$color5: #161618 !default;
$color23: #5D5D5D !default;
$textsize14: 14px !default;
$textsize16: 16px !default;
$fontfamily1: $font;
$fontweightRegular: 400 !default;
$fontweightBold: 700 !default;

.blogArchive {
  .titolo {
    font-family: $fontfamily1;
    color: $color1;
    font-weight: 600;
    font-size: $textsize14;
    margin-top: 30px;
    margin-bottom: 20px;
    position: relative;
    &:after {
      display: block;
      content: '';
      bottom: -20px;
      left: 0;
      width: 10%;
      height: 2px;
      position: absolute;
      background: $color2;
    }
  }
  .side-list {
    list-style-type: none;
    padding-left: 0;
    margin-bottom: 40px;
    li {
      border-bottom: 1px solid rgba($color21, .3);
      padding: 15px 0;
      position: relative;
      a {
        font-family: $fontfamily1;
        color: #6e6e6e;
        font-weight: 300;
        font-size: $textsize14;
        &:hover {
          color: $color1;
        }
      }
    }
  }
}
