{% extends "@WebtekEcommerce/admin/attribute/formLayout.html.twig" %}

{% block title %} {% trans %} attribute.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} attribute.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


