{% form_theme form with ['_formTheme.html.twig', '@Azienda/admin/sedi/orario.html.twig'] %}
{{ form_start(form) }}

{% if not form.vars.valid %}
    <div class="alert alert-danger">
        {{ errors | raw }}
    </div>
{% endif %}

<div class="row">

    <div class="col-md-8 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} pages.labels.dati_strutturali {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_row(form.isEnabled) }}
                {{ form_row(form.codice) }}
                {{ form_row(form.dipendenti) }}
                {{ form_row(form.sort) }}
                {{ form_row(form.nome) }}
                {{ form_row(form.email) }}
                {{ form_row(form.telefono) }}
                {{ form_row(form.fax) }}
            </div>
        </div>


        {% if attribute(form.translations, "it")|default("") %}
            <div class="x_panel">
                <div class="x_title">
                    <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">

                    <div class="a2lix_translations tabbable">
                        <ul class="a2lix_translationsLocales nav nav-tabs">
                            {% for shortLocale, locale in languages.getActiveLanguages %}
                                <li{% if loop.first %} class="active"{% endif %}>
                                    <a href="#" data-toggle="tab"
                                       data-target=".modelli_nuovo_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                                        {{ locale }}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>

                        <div class="a2lix_translationsFields tab-content">
                            {% for shortLocale, locale in languages.getActiveLanguages %}
                                <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                                     class="modelli_nuovo_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                                    {% for field in attribute(form.translations, shortLocale) %}
                                        {{ form_row(field) }}
                                    {% endfor %}
                                </div>
                            {% endfor %}

                        </div>
                    </div>

                </div>

            </div>
        {% endif %}

        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} sedi.labels.dipartimenti {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content dipartimenti">
                {% for dipartimento in form.departments %}
                    <div class="x_panel department-panel">
                        <div class="x_content">
                            {{ form_widget(dipartimento) }}
                            <a href="#" class="btn btn-danger btn-block btn-remove-departement"><i
                                        class="fa fa-trash"></i> {% trans %}
                                    sedi.labels.rimuovi_dipartimento {% endtrans %}
                            </a>
                        </div>
                    </div>
                {% endfor %}
                <a href="#" class="btn btn-success btn-block btn-add-departement"><i class="fa fa-plus"></i> {% trans %}
                        sedi.labels.aggiungi_dipartimento {% endtrans %}
                </a>
            </div>
        </div>

        <script type="text/x-handlebars-template" id="sede_formTemplate">
            <div class="x_panel department-panel">
                <div class="x_content">
                    {{ form_row(form.children.departments.vars.prototype) }}
                    <a href="#" class="btn btn-danger btn-block btn-remove-departement"><i
                                class="fa fa-trash"></i> {% trans %} sedi.labels.rimuovi_dipartimento {% endtrans %}
                    </a>
                </div>
            </div>
        </script>

        <script type="text/x-handlebars-template" id="orarioTemplate">

        </script>


    </div>

    {% set dimensioni = sedi.header_img_dimensions %}
    {% set src = supportData.headerImgUrl %}
    {% set fieldName = "headerImg" %}
    {% set formName = "modelli_nuovo_form" %}
    {% set label = "default.labels.immagine_header" %}
    {% include "admin/includes/resizableImg.html.twig" %}

    {% set typeofobject = "sede" %}

    <div class="col-md-4">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} sedi.labels.mappa {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content mapContainer">
                {{ form_row(form.coordinate) }}
                {{ form_row(form.zoom) }}
                {{ form_row(form.indirizzo) }}
                {{ form_row(form.indirizzo2) }}
                <a href="#" class="btn btn-primary btn-block btn-geocode">{% trans %}
                        default.labels.geolocalizza {% endtrans %}</a>

                <div id="map">
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

        <button class="btn btn-success btn-main-submit" formnovalidate><i class="fa fa-save"></i> {% trans %}
                default.labels.salva {% endtrans %}</button>

        <a href="{{ path('sedi') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                default.labels.chiudi {% endtrans %}
        </a>
    </div>

</div>


{{ form_widget(form._token) }}


<script type="text/template" id="modalCroppieTemplate">
    <div id="modalImageDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span aria-hidden="true">×</span>
                    </button>
                    <h4 class="modal-title text-success">{% verbatim %}{{title}}{% endverbatim %}</h4>
                </div>
                <div class="modal-body">
                    <div class="croppie"></div>
                    <div class="row">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="alt">
                                {% trans %}pages.labels.immagine_elenchi_alt{% endtrans %}
                                <span class="required" title="This field is required">*</span>
                            </label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                                <input type="text" id="alt" name="alt" required="required" class="form-control"
                                       value="">
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                {% trans %}pages.messages.altimage {% endtrans %}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-cancel btn-info">{% trans %}
                            default.labels.annulla {% endtrans %}</button>
                    <button type="button" class="btn btn-success btn-confirm">{% trans %}
                            default.labels.conferma {% endtrans %}</button>
                </div>
            </div>
        </div>
    </div>
</script>
