{% extends "admin/gallerycat/formLayout.html.twig" %}

{% block title %} {% trans %} gallerycat.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} gallerycat.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
