height:

100
%;
.text_with_background_image {
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: relative;
  .overlay_video {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
  }
  .wrapper_text {
    position: absolute;
    bottom: 130px;
    text-align: center;
    width: 100%;
    padding: 0 30px;
    .title1 {
      font-size: 100px;
      margin: 0;
      font-family: "alana";
      margin-bottom: 14px;
      font-weight: 400;
      color: $color11;
      padding-bottom: 140px;
      strong {
        color: $color5;
        font-weight: 400;
      }
    }
    .title2 {
      font-size: 18px;
      font-family: 'Merriweather', serif;
      margin-bottom: 0;
      font-weight: 400;
      color: $color11;
    }
  }

  #scroll_button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    left: 0;
  }

  #scroll_button a span {
    position: absolute;
    top: -45px;
    left: 50%;
    width: 50px;
    height: 50px;
    margin-left: -23px;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
    background-color: rgba(189, 189, 189, 0.5);
  }
  #scroll_button a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid #bdbdbd;
    border-bottom: 3px solid #bdbdbd;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #scroll_button a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 50px;
    height: 50px;
    box-shadow: 0 0 0 0 #d2d2d2;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 2s infinite;
    animation: sdb03 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1550px) {
  .text_with_background_image {
    .wrapper_motto {
      .title1 {
        font-size: 22px;
      }
      .title2 {
        font-size: 54px;
      }
      .title3 {
        font-size: 54px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .text_with_background_image {
    .wrapper_text {
      bottom: 120px;
      .title1 {
        font-size: 50px;
        padding-bottom: 30px;
      }
      .title2 {
        font-size: 16px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .text_with_background_image {
    .wrapper_text {
      bottom: 90px;
      .title1 {
        font-size: 40px;
        padding-bottom: 10px;
      }
      .title2 {
        font-size: 14px;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .text_with_background_image {

  }
}

@media screen and (max-width: 640px) {
  .text_with_background_image {
    #scroll_button a span {
      position: absolute;
      top: -20px;
    }

  }
}
