.two_blocks_text_image_right {
  background-color: $color12;
  .img_right {
    float: right;
  }
  .col_text {
    display: table;
    text-align: center;
    padding: 0;
  }
  .col_img {
    padding: 0;
  }
  .wrapper_text {
    display: table-cell;
    vertical-align: middle;
  }
  .title_section {
    font-size: 35px;
    margin: 30px;
    color: $color11;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    strong {
      font-family: "alana";
      color: $color5;
      font-size: 65px;
      font-weight: 400;
    }
  }
  .text_section {
    font-size: 15px;
    color: $color1;
    margin: 0px 25px;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    line-height: 30px;
  }
}

@media screen and (max-width: 1500px) {
  .two_blocks_text_image_right {
    .text_section {
      font-size: 14px;
      margin: 0px 20px;
      line-height: 25px;
    }
  }
}

@media screen and (max-width: 1500px) {
  .two_blocks_text_image_right {
    .text_section {
      font-size: 14px;
      line-height: 20px;
    }
    .title_section {
      font-size: 27px;
      margin: 10px;
      strong {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .two_blocks_text_image_right {
    padding: 50px 0;
    .col_text {
      display: block;
    }
    .col_img {
      display: none;
    }
    .img_right {
      padding: 10px 20px 0 20px;
      display: block;
      margin: auto;
      float: none;
    }
    .text_section {
      font-size: 14px;
      line-height: 22px;
    }
    .title_section {
      display: block;
      font-size: 23px;
      strong {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .two_blocks_text_image_right {
    .text_section {
      font-size: 13px;
      margin: 10px;
      line-height: 20px;
    }
  }
}
