{% extends "admin/news/formLayout.html.twig" %}

{% block title %} {% trans %} news.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} news.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


