<section class="title_with_background_image">
    <div class="layer background-parallax" data-type="parallax" data-depth="0.20"
         style="background-image:url({{ sfondo.src }});"></div>
    <div class="overlay_video">
    </div>
</section>
