.sezione.citazione {
  padding: 260px 50px;
  background-color: $color1m;
  text-align: center;
  overflow: hidden;
  h3 {
    display: inline-block;
    width: 85%;
    font-size: 50px;
    font-family: "montserratextralight";
    strong {
      font-family: "montserratregular";
    }
  }

  .quote {
    width: 40px;
  }
  .quote.left {
    vertical-align: top;
    margin-right: 5px;
  }
  .quote.right {
    vertical-align: bottom;
    margin-left: 5px;
  }
}

@media screen and (max-width: 991px) {
  .sezione.citazione {
    padding: 150px 30px;
    .container {
      padding: 0;
    }
    h3 {
      width: 70%;
      font-size: 24px;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.citazione {
    padding: 100px 20px;
    h3 {
      width: 80%;
      font-size: 22px;
    }
    .quote {
      width: 30px;
    }
  }
}

@media screen and (max-width: 499px) {
  .sezione.citazione {
    padding: 80px 5px;
    h3 {
      width: 70%;
      font-size: 18px;
    }
    .quote {
      width: 25px;
    }
  }
}
