{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/operatori.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/operatori.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('admin/operatori/form.html.twig') }}
{% endblock %}
