{{ form_start(form) }}

{{ form_errors(form) }}

{{ form_row(form.listImgData) }}
{{ form_row(form.listImgDelete) }}


{{ form_row(form.nome) }}
{{ form_row(form.cognome) }}
{{ form_row(form.email) }}
{{ form_row(form.username) }}
{{ form_row(form.role) }}
{{ form_row(form.plainPassword.first) }}
{{ form_row(form.plainPassword.second) }}
{{ form_row(form.isEnabled) }}

<div class="col-md-3 col-sm-3 col-xs-12 avatarImg">
    {% if supportData.listImgUrl %}
        <img class="img-thumbnail img-responsive" src="{{ supportData.listImgUrl }}"/>

    {% else %}
        <img class="img-thumbnail img-responsive" src="/media/users/user.png"/>
    {% endif %}
</div>
<div class="form-group col-md-9 col-sm-9 col-xs-12">
    <div class="profile-photo">
        <div class="actions col-md-3 col-sm-3 col-xs-12">
            <a class="btn btn-primary file-btn">
                <span>{% trans %}
                    default.labels.upload {% endtrans %}</span>
                {{ form_widget(form.listImg) }}
            </a>
            <button class="btn btn-danger" id="eliminaAvatar" formnovalidate>{% trans %}
                    default.labels.elimina {% endtrans %}</button>
        </div>
        <div class="col-md-9 col-sm-9 col-xs-12 uploadArea">
            <div class="upload-msg">
                {% trans %}
                    operatori.help.cropper {% endtrans %}
            </div>
            <div class="profile-photo-wrap">
                <div id="profile-photo"></div>
            </div>
        </div>
    </div>
</div>

{{ form_row(form.profileText) }}

{{ form_widget(form) }}
<div class="clearfix"></div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
            default.labels.salva {% endtrans %}</button>

    <a href="{{ path('operatori_list') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>
</div>

{{ form_end(form) }}