<section class="title_with_news_correlate">
    <div class="container" id="news-container">
        <div class="row row-news">
            {% if data.News|default("") %}
                {% set correlate = blogService.getCorrelate(data.News, app.request.locale, quante.val) %}
                {% if correlate %}
                    {% for News in correlate %}
                        {% if News.ListImgFileName %}
                            {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                            {% set imgAlt = News.ListImgFileName %}
                        {% else %}
                            {% set img = "/images/defaults/placeholder.png" %}
                            {% set imgAlt = News.translate(app.request.locale).titolo %}
                        {% endif %}
                        <div class="col-md-6 block-news">
                            <div class="wrapper">
                                {#<div class="date">#}
                                {#<p class="day">{{ News.publishAt.date|date("d") }}</p>#}
                                {#<p class="month">{{ arrayMesi[News.publishAt.date|date("m")] }}</p>#}
                                {#</div>#}
                                <div class="wrapper-img">
                                    <img class="img-ofi" src="{{ img }}" alt="{{ imgAlt }}">
                                </div>
                                <div class="wrapper-text">
                                    <p class="title match_height_title">{{ News.translate(app.request.locale).titolo }}</p>
                                    <p class="text match_height_text">{{ blogService.getTextPreview(News, 300) }}</p>
                                </div>
                                <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}"
                                   class="btn_scopri"><img src="{{ btn.src }}" alt="{{ btn.alt|default('') }}"></a>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</section>
