.sezione.box-alternati {
  .col-lg-4 {
    padding: 0;
    .col-lg-12 {
      height: 400px;
    }
  }
  .col-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .col-text {
    text-align: center;
    padding: 40px;
    position: relative;
    .content {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      h3 {
        margin-top: 40px;
      }
    }
    .icon {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .col-text.up {
    .icon {
      top: 5px;
    }
  }
  .col-text.down {
    .icon {
      bottom: 5px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.box-alternati .col-text.up .icon, .sezione.box-alternati .col-text.down .icon {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .sezione.box-alternati .col-lg-4 .col-lg-12 {
    height: 300px;
  }
  .sezione.box-alternati .col-text .content {
    img {
      width: 35px;
    }
    h3 {
      margin-top: 15px;
    }
  }
}

@media screen and (max-width: 549px) {
  .sezione.box-alternati .col-text, .sezione.box-alternati .col-img {
    width: 100%;
  }
}
