{% use "bootstrap_3_layout.html.twig" %}

{%- block form_label -%}

    {% if label is not same as(false) -%}
        {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}

        {% if not compound -%}
            {% set label_attr = label_attr|merge({'for': id}) %}
        {%- endif -%}
        {% if required -%}
            {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
        {%- endif -%}
        {% if label is empty -%}
            {%- if label_format is not empty -%}
                {% set label = label_format|replace({
                    '%name%': name,
                    '%id%': id,
                }) %}
            {%- else -%}
                {% set label = name|humanize %}
            {%- endif -%}
        {%- endif -%}
        <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}
        {% if required %}
            <span class="required" title="This field is required">*</span>
        {% endif %}

        </label>
    {%- endif -%}

{%- endblock form_label -%}


{% block form_row -%}
    {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
    <div class="form-group{% if (not compound or force_error|default(false)) and not valid %} has-error{% endif %}{{ showErrorIcon ? ' has-feedback' : '' }}">
        {{- form_label(form) -}}
        {{- form_widget(form) -}}
        {% if help|default %}
            <span class="help-block">{{ help }}</span>
        {% endif %}
        {{- form_errors(form) -}}
    </div>
{%- endblock form_row %}


{% block money_widget -%}
    {{ money_pattern|replace({ '{{ widget }}': block('form_widget_simple') })|raw }}
{% endblock %}

{%- block form_widget_simple -%}
    {% set showErrorIcon = false %}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {% set showErrorIcon = (not compound or force_error|default(false)) and not valid %}
    {% endif %}

    {% if iconBefore is defined or iconAfter is defined %}
        <div class="input-group">
    {% endif %}

    {% if iconBefore is defined %}
        <span class="input-group-addon">
        <span class="{{ iconBefore }}"></span>
    </span>
    {% endif %}
    {{- parent() -}}
    {% if iconAfter is defined %}
        <span class="input-group-addon">
        {% if iconAfter %}
            <span class="{{ iconAfter }}"></span>
        {% else %}
            <i></i>
        {% endif %}
    </span>
    {% endif %}

    {% if showErrorIcon %}
        <span class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
    {% endif %}

    {% if iconBefore is defined or iconAfter is defined %}
        </div>
    {% endif %}

{%- endblock form_widget_simple %}



{%- block form_end -%}
    {%- if not render_rest is defined or render_rest -%}
        {{ form_rest(form) }}
    {%- endif -%}

    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
        <span class="help-block">{% trans %} default.labels.obbligatori {% endtrans %}</span>
    </div>
    </form>
{%- endblock form_end -%}


{% block vich_image_widget %}


    <div class="col-md-7 col-sm-7 col-xs-10 vich">
        <div class="input-group">
            <label class="input-group-btn">
                    <span class="btn btn-success btn-file">{% trans %} default.labels.sfoglia {% endtrans %}
                        {{ form_widget(form.file) }}
                    </span>
            </label>
            <input type="text" class="form-control" readonly value="{{ basename }}"/>

            {% if form.delete is defined %}
                <span class="input-group-addon btn-danger delFile"><i class="fa fa-trash"></i></span>
                {{ form_widget(form.delete) }}
            {% endif %}
        </div>
    </div>

    <div class="col-md-2 col-sm-2 col-xs-2 preview-area">
        {% if download_uri is defined and download_uri %}
            <a target="_blank" href="{{ download_uri }}"><img class="img-responsive" src="{{ download_uri }}"
                                                              alt=""/></a>
        {% endif %}
        {% if show_download_link is defined and show_download_link  and download_uri is defined and download_uri %}
            <a href="{{ download_uri }}">{{ 'download'|trans({}, 'VichUploaderBundle') }}</a>
        {% endif %}
    </div>

{%- endblock vich_image_widget -%}

{% block seo_description_widget %}
    {{ block('seo_title_widget') }}
{% endblock %}

{% block seo_title_widget %}
    {%- set type = type|default('text') -%}
    {% if type is not defined or type not in ['file', 'hidden'] %}
        {%- set attr = attr|merge({class: (attr.class|default('') ~ ' form-control seoWidth')|trim}) -%}
    {% endif %}
    <input type="{{ type }}" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value }}" {% endif %}/>
    <div class="row rowCounter">
        <div class="col-md-2 col-sm-2 col-xs-6 pull-right">
            <div class="input-group">
                <input type="text" readonly class="form-control mobileSeoCounter seoCounter" value="0"
                       data-soglia="{{ sogliaMobile }}"/>
                <span class="input-group-addon"><i class="fa fa-mobile"></i></span>
            </div>
        </div>
        <div class="col-md-2 col-sm-2 col-xs-6 pull-right">
            <div class="input-group">
                <input type="text" readonly class="form-control desktopSeoCounter seoCounter" value="0"
                       data-soglia="{{ sogliaDesktop }}"/>
                <span class="input-group-addon"><i class="fa fa-desktop"></i></span>
            </div>
        </div>
    </div>
{% endblock %}


{% block form_errors -%}
    {% if errors|length > 0 -%}
        {% if form.parent %}<span class="help-block error-block">{% else %}<div class="alert alert-danger">{% endif %}
        <ul class="list-unstyled">
        {%- for error in errors -%}
            <li><span class="glyphicon glyphicon-exclamation-sign"></span> {{ error.message }}</li>
        {%- endfor -%}
    </ul>
        {% if form.parent %}</span>{% else %}</div>{% endif %}
    {%- endif %}
{%- endblock form_errors %}


