.box__dragndrop, .box__uploading, .box__success, .box__release, .box__error {
    display: none;
    font-weight: 700
}

#dropzone.has-advanced-upload {
    background-color: white;
    outline: 2px dashed #73879c;
    outline-offset: 0;
    height: 200px
}

#dropzone.has-advanced-upload .box__dragndrop {
    display: inline
}

#dropzone {
    background-color: #c8dadf;
    position: relative;
    padding: 75px 40px;
    margin-bottom: 1em
}

.box__file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

#dropzone.is-dragover {
    background-color: #73879c;
    color: #fff;
    content: "Puoi rilasciare i tuoi files"
}

.box__input strong {
    text-decoration: underline;
    cursor: pointer
}

#submitFiles {
    display: none
}

.is-dragover .box__release {
    display: block
}

.is-dragover .box__input {
    display: none
}

#filesAllegati .unsaved {
    float: right;
    color: #d9534f
}