
.icon-logo_webtek:before {
    content: '\e804';
}

/* '' */
.icon-1:before {
    content: '\e806';
}

/* '' */
.icon-1-1:before {
    content: '\e807';
}

/* '' */
.icon-1-2-slot:before {
    content: '\e808';
}

/* '' */
.icon-2-1-slot:before {
    content: '\e809';
}

/* '' */
.icon-3-slot:before {
    content: '\e80a';
}

/* '' */