.file-btn, .btn-img {
    position: relative
}

.file-btn {
    cursor: pointer
}

.panelImg .img-responsive {
    margin: 0 auto 1em auto;
    max-height: 10em
}

.file-btn input[type="file"], .btn-img input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.missingImage div i {
    font-size: 2.6em
}

.missingImage {
    border: 2px dashed #cecece;
    min-height: 5em;
    margin-bottom: 1em;
    padding-top: 1.2em
}

