.file-btn {
    position: relative
}

.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0
}

.newsRow {
    background-color: #f9f9f9;
    border: 1px dotted #666;
    margin-bottom: 1em;
    padding: 1em
}

.containerRows {
    border: 2px dashed grey;
    min-height: 250px;
    width: 100%;
    margin-bottom: 1em;
    display: inline-block;
    vertical-align: middle
}

.pulsante {
    min-height: 24em
}

.pulsante .btn {
    margin-top: 4em;
    font-size: 3em
}

.uploadImgNews {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    top: 0;
    left: 0
}

.pulsantiera .btn {
    font-size: 1.3em
}

.containerRows .img-responsive {
    margin-bottom: 1em
}

.uploadedImage {
    margin: auto
}

.missingImage div i {
    font-size: 2.6em
}

.missingImage {
    border: 2px dashed #cecece;
    min-height: 5em;
    margin-bottom: 1em;
    padding-top: 1.2em
}

.file-btn, #upload_header {
    cursor: pointer
}

.panelImg .img-responsive {
    margin: 0 auto 1em auto;
    max-height: 10em
}

.box__dragndrop, .box__uploading, .box__success, .box__release, .box__error {
    display: none;
    font-weight: 700
}

#dropzone.has-advanced-upload {
    background-color: white;
    outline: 2px dashed #73879c;
    outline-offset: 0;
    height: 200px
}

#dropzone.has-advanced-upload .box__dragndrop {
    display: inline
}

#dropzone {
    background-color: #c8dadf;
    position: relative;
    padding: 75px 40px;
    margin-bottom: 1em
}

.box__file {
    width: .1px;
    height: .1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1
}

#dropzone.is-dragover {
    background-color: #73879c;
    color: #fff;
    content: "Puoi rilasciare i tuoi files"
}

.box__input strong {
    text-decoration: underline;
    cursor: pointer
}

#submitFiles {
    display: none
}

.fileData .form-group, .fileData .form-group label {
    margin-bottom: 0
}

.fileData input {
    margin-bottom: .2em;
    padding: 0 1em;
    height: 2em
}

.is-dragover .box__release {
    display: block
}

.is-dragover .box__input {
    display: none
}

#filesAllegati .unsaved {
    float: right;
    color: #d9534f
}