.avatarList {
    width: 3em;
}

.profile-photo .profile-photo-wrap,
.profile-photo .upload-result,
.profile-photo.ready .upload-msg {
    display: none;
}

.profile-photo.ready .profile-photo-wrap {
    display: block;
}

.profile-photo.ready .upload-result {
    display: inline-block;
}

.profile-photo-wrap {
    width: 128px;
    height: 128px;
}

.upload-msg {
    text-align: center;
    padding: 25px 10px 0 10px;
    font-size: 16px;
    color: #aaa;
    width: 128px;
    height: 128px;
    border: 1px solid #aaa;
}

.file-btn {
    position: relative;
}

.file-btn input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.avatarImg img {
    width: 128px;
    float: right;
}
