{% if data.slides|default("") %}
    <div class="container-fluid big-slider-home">
        <div class="row">
            <div class="col-xs-12">
                <div class="slider-home">
                    {% for  slide in data.slides %}
                        <a {% if slide.url is defined and slide.url != "" %}href="{{ slide.url }}"{% endif %}
                           class="wrapper-slider">
                            <img class="img-slider" src="{{ asset(slide.image.src) }}" alt="{{ slide.image.alt }}"
                                 data-original="{{ asset(slide.image.src) }}"
                                 data-cropped="{{ asset(slide.image.src)|imagine_filter('crop_slider') }}">
                        </a>
                    {% endfor %}

                </div>
                <div class=" scroll_button">
                    <a><span></span></a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% if data.error|default("") %}
    <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> Modulo malconfigurato</div>
{% endif %}