{% trans_default_domain "public" %}
<section class="slider_with_text_and_icon">
    <div class="container">
        <div class="row">
            <p class="title">{% trans %}default.labels.scopri_il_gusto_dei_nostri_prodotti{% endtrans %}...</p>
            <div id="scroll_button"><a href="#"><span></span></a></div>
            <div class="slider_icone">
                {% if data.error %}
                    {{ data.error }}
                {% else %}
                    {% for slide in data.slides %}
                        <div>
                            <a href="{{ slide.url }}" class="link_slider">
                                <p class="titolo_servizio">{{ slide.titolo }}</p>
                                <div class="icona_slider" style="background:url('{{ slide.image.src }}') no-repeat;">
                                    <span style="background:url('{{ slide.image.src }}') no-repeat;"></span></div>
                            </a>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</section>
