.slider_with_text_and_icon {
  padding: 125px 0 230px 0;
  text-align: center;
  position: relative;
  .slick-prev:before, .slick-next:before {
    color: $color5;
  }
  .slick-prev {
    left: 20px;
  }
  .slick-next {
    right: 20px;
  }
  a:focus {
    outline-color: transparent;
  }
  .link_slider .icona_slider {
    position: relative;
    width: 100px;
    height: 100px;
    margin: auto;
  }
  .title {
    font-family: $font1;
    font-style: italic;
    font-size: 19px;
    color: $color9;
    padding-bottom: 20px;
  }
  .link_slider .icona_slider span {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-position: -100px 0 !important;
    opacity: 0;
    transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
  }
  .link_slider:hover .icona_slider span {
    opacity: 1;
  }
  .titolo_servizio {
    text-align: center;
    font-size: 20px;
    display: block;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    margin-bottom: 22px;
    display: inline-block;
    border-bottom: 1px solid transparent;
    color: $color1;
    transition: opacity 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
  }
  .slick-slide {
    outline-color: transparent;
  }
  a {
    &:hover {
      color: $color1;
      p {
        border-bottom: 1px solid $color4;
      }
    }
  }

  #scroll_button {
    position: relative;
    height: 180px;
  }
  #scroll_button a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid $color9;
    border-bottom: 1px solid $color9;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb04 {
    0% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
    40% {
      -webkit-transform: rotate(-45deg) translate(-10px, 10px);
    }
    60% {
      -webkit-transform: rotate(-45deg) translate(0, 0);
    }
  }
  @keyframes sdb04 {
    0% {
      transform: rotate(-45deg) translate(0, 0);
    }
    40% {
      transform: rotate(-45deg) translate(-10px, 10px);
    }
    60% {
      transform: rotate(-45deg) translate(0, 0);
    }
  }
}

@media screen and (max-width: 991px) {
  .slider_with_text_and_icon {

  }
}

@media screen and (max-width: 640px) {
  .slider_with_text_and_icon {

  }
}
