.sezione.box-singolo {
  background-position: 50% 50%;
  background-size: cover;
  .box-testo {
    background-color: rgba($color3, .4);
    padding: 200px 50px;
    text-align: center;
    h2, h2 a, h2 a:visited, h2 a:hover, h2 a:focus {
      color: $color4;
      margin: 10px 0 40px 0;
    }
    button {
      padding: 20px 30px;
    }
    p {
      color: $color4;
      font-size: 18px;
      font-weight: 700;
    }
  }
}
