<div class="sezione box-doppio" id="{{ id_sezione.val }}" style="background-color: {{ bg_color.val }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img-responsive" data-aos="fade-right"
                 data-aos-duration="800">
                <img src="{{ immagine.src }}" alt="{{ immagine.alt }}"/>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-text" data-aos="fade-left" data-aos-duration="800">
                <div class="box-testo">
                    <span>{{ titoletto.val }}</span>
                    <h3>{{ titolo.val|raw }}</h3>
                    <p>
                        {{ testo.val|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
