{% if data.menu %}
    {% for menu in data.menu %}
        <a rel="nofollow" href="{{ menu.slug }}">{% if menu.img %}
                <img src="{{ menu.img.src }}" alt="{{ menu.img.alt }}" />{% endif %}
            <span>{{ menu.titolo }}</span>
        </a>
    {% endfor %}
{% endif %}