<section class="simple-slider">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 no-padding">
                <div class="slide-container">
                    {% for slide in immagini_slider %}
                        {% if slide.src != "" and slide.src|length > 0 %}
                            <div>
                                <img src="{{ slide.src }}" alt="{{ slide.alt|default("") }}">
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
