.sezione.citazione {
  overflow: hidden;
  padding: 100px 50px;
  background-color: $color1;
  text-align: center;
  font-family: $font;
  h3 {
    display: inline-block;
    width: 85%;
    font-size: $text9;
    line-height: 45px;
    font-weight: $medium;
    padding: 0 20px;
    color: $color5;
    strong {
      font-weight: $semi-bold;
      color: $color2;
    }
  }

  .quote {
    width: 40px;
  }
  .quote.left {
    vertical-align: top;
    margin-right: 5px;
  }
  .quote.right {
    vertical-align: bottom;
    margin-left: 5px;
  }
}

@media screen and (max-width: 991px) {
  .sezione.citazione {
    padding: 60px 30px;
    .container {
      padding: 0;
    }
    h3 {
      width: 70%;
      font-size: $text8;
      line-height: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.citazione {
    h3 {
      width: 80%;
      font-size: $text7;
      line-height: 26px;
    }
    .quote {
      width: 30px;
    }
  }
}

@media screen and (max-width: 600px) {
  .sezione.citazione {
    padding: 40px 5px;
    h3 {
      font-size: $text6;

    }
    .quote {
      width: 25px;
    }
  }
}

@media screen and (max-width: 499px) {
  .sezione.citazione {
    padding: 40px 0px;
    h3 {
      width: 100%;
      font-size: $text5;
      line-height: 24px;
    }
    .quote {
      display: none;
    }
  }
}
