<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} WEBTEK{% endblock %}</title>

    <link href="{{ asset('admin/vendors/bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('admin/vendors/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/custom.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/app/admin/css/webtek.css') }}" rel="stylesheet">

    <link href="{{ asset('bundles/app/admin/css/fontello.css') }}" rel="stylesheet">

    {% block css %}{% endblock %}
</head>


<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
</head>
<body{% block bodyclass %}{% endblock %}>
{% block body %}{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
