.menuTable {
  display: table;
  table-layout: auto;
  float: left;
  width: 100%;
  padding-left: 15px;
  margin-right: -160px;
  padding-right: 160px;
  ul {
    display: table-row;
    margin: 0;
    padding: 0;
    li {
      list-style: none;
      display: table-cell;
      text-align: center;
      vertical-align: middle;
      padding: 0;
      cursor: pointer;
      .submenu {
        background-color: white;
        position: absolute;
        left: 0;
        width: 100%;
        padding-top: 40px;
        padding-bottom: 40px;
        display: none;
        &.active {
          display: block;
        }
        .categoria-box {
          margin-top: 40px;
          margin-bottom: 40px;
        }
        .nome-categoria {
          margin-top: 30px;
          color: $color4;
          font-size: 12px;
          font-weight: 600;
          text-align: center;
          display: block;
        }
        .img-categoria-wrap {
          height: 140px;
          text-align: center;
          width: 100%;
          font: 0/0 a;
          img {
            text-align: center;
            max-height: 100%;
            max-width: 100%;
            width: auto;
            display: inline-block;
            vertical-align: middle;
          }
          &:before {
            content: ' ';
            display: inline-block;
            vertical-align: middle;
            height: 100%;
          }
        }
      }
      > a {
        &:hover, &:focus {
          text-decoration: none;
        }
        display: block;
        font-family: $font;
        font-size: 13px;
        padding: 0 0;
        line-height: 80px;
        color: white;
        font-weight: 600;
        vertical-align: middle;
        &::after {
          content: "\e259";
          font-family: 'Glyphicons Halflings';
          vertical-align: top;
          font-weight: 400;
          font-size: 11px;
          padding-left: 5px;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  //ADATTAMENTO

  @media(max-width: 1040px) {
    margin-right: -100px;
    padding-right: 100px;
  }

  @media(max-width: 992px) {
    ul li > a {
      font-size: 12px;
    }
  }
}