{% trans_default_domain "public" %}
<section class="container-fluid container-limitato lista-prodotti lista-prodotti-4col">
    <div class="row">
        {% for Prodotto in data.prodotti %}
            <div class="col-md-3 col-xs-6 colonna-prodotto">
                <div class="box-prodotto">
                    <div class="img-prodotto-wrap">
                        <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}">
                            <img class="img-prodotto"
                                 src="{{ asset(Prodotto.uploadDir ~ Prodotto.listImgFileName) }}"
                                 alt="{{ Prodotto.listImgAlt }}">
                        </a>
                    </div>
                    {% if(Prodotto.brand) %}
                        <div class="marca">{{ Prodotto.brand.translate().titolo }}</div>
                    {% endif %}
                    <h3 class="nome-prodotto">{{ Prodotto.translate().titolo }}
                    </h3>
                    <div class="prezzo"> {{ productHelper.prezzo(Prodotto, listinoHelper.getDefault)|localizedcurrency('EUR') }}</div>
                    <div class="clearfix pulsanti">
                        <a href="{{ to_route('prodotto_ecommerce', {slug: Prodotto.translate().slug}) }}"
                           class="acquista-button pulsante-ghebagas btn"><span> {% trans %}
                                    ecommerce.labels.acquista {% endtrans %}</span></a>
                        <a data-product="{{ Prodotto.id }}" href="#"
                           class="wishlist-button pulsante-ghebagas btn {% if Prodotto.inWishlist == 1 %}active{% endif %}"><span>  {% trans %}
                                    ecommerce.labels.wishlist {% endtrans %}</span></a>
                    </div>

                </div>
            </div>
        {% endfor %}

    </div>
</section>