{% extends "admin/gruppi_meta/formLayout.html.twig" %}

{% block title %} {% trans %} gruppi_meta.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} gruppi_meta.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


