.two_blocks_text_image_left {
  background-color: $color12;
  .img_left {
    float: left;
    margin: 10px 0;
  }
  .col_text {
    display: table;
    text-align: center;
    padding: 0;
  }
  .col_img {
    padding: 0;
  }
  .title_section {
    font-size: 45px;
    margin: 30px;
    color: $color11;
    font-family: 'Merriweather', serif;
    font-weight: 400;
    display: table-cell;
    vertical-align: middle;
    strong {
      font-family: "alana";
      color: $color5;
      font-size: 81px;
      font-weight: 400;
    }
  }
}

@media screen and (max-width: 991px) {
  .two_blocks_text_image_left {
    .col_text {
      display: block;
    }
    .img_left {
      padding: 10px 20px;
      display: block;
      margin: auto;
      float: none;
    }
    .title_section {
      font-size: 23px;
      display: block;
      strong {
        font-size: 50px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .two_blocks_text_image_left {

  }
}
