{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/gruppi_settaggi.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ form_start(form) }}

    {{ form_row(form.name) }}

    <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

        <button class="btn btn-success btn-main-submit" formnovalidate><i class="fa fa-save"></i> {% trans %}
                default.labels.salva {% endtrans %}</button>

        <a href="{{ path('gruppi_settaggi') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                default.labels.chiudi {% endtrans %}</a>
    </div>

    {{ form_end(form) }}



{% endblock %}