{% extends "admin/gruppi_settaggi/formLayout.html.twig" %}

{% block title %} {% trans %} gruppi_settaggi.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} gruppi_settaggi.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


