{% if link.link|default("") %}
    <a class="link-contatto" href="{{ link.link }}">{% if immagine.src|default("") %}
            <img src="{{ immagine.src }}" alt="{{ immagine.alt }}" />{% endif %}{{ link.label | default("") }}</a>
{% endif %}