{% if data.files %}
    {% if titolo.val|default("") %}<strong> {{ titolo.val }} </strong>{% endif %}
    <ul>
        {% for file in data.files %}
            <li>
                <a target="_blank" href="{{ vich_uploader_asset(file, 'file') }}">
                    {{ file.translate().alt }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endif %}
