<section class="headerSliderWithLinks">
    <div class="slider-wrap">
        {% if imgRitaglio is defined and imgRitaglio.src != "" %}
            <img class="ritaglio" src="{{ imgRitaglio.src }}">

        {% endif %}
        <div class="slider">
            {% for  slide in data.slides %}
                <a class="slide">
                    <img class="slide-full" src="{{ slide.image.src }}" alt="{{ slide.image.alt|default("") }}">
                </a>
            {% endfor %}
        </div>
    </div>

    <ul class="menu-links">
        <li>
            <a href="{{ link1.link }}">
                <img src="{{ link1_img.src }}" alt="{{ link1_img.alt|default("") }}">
            </a>
        </li>
        <li>
            <a href="{{ link2.link }}">
                <img src="{{ link2_img.src }}" alt="{{ link2_img.alt|default("") }}">
            </a>
        </li>
        <li>
            <a href="{{ link3.link }}">
                <img src="{{ link3_img.src }}" alt="{{ link3_img.alt|default("") }}">
            </a>
        </li>
    </ul>
</section>