<ul class="nav navbar-nav navbar-right">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            {% for lang, lingua in data.langs %}
                {% if lang == app.request.locale %}
                    {{ lang|upper }}
                {% endif %}
            {% endfor %}
            <span class="caret"></span></a>
        <ul class="dropdown-menu">
            {% for lang, lingua in data.langs %}
                <li><a href="{{ attribute(localizedUrls, lang) }}">{{ lingua }}</a></li>
            {% endfor %}
        </ul>
    </li>
</ul>