$textsize3: 16px !default;
$fontweightBold: 700 !default;
$color1: #1c3a64 !default;
$color9: #8b8b8b !default;

$textsize6: 22px !default;

.box-social {
  text-align: left;
  padding: 30px 0;
  border-top: 1px solid rgba($color9, .2);
  border-bottom: 1px solid rgba($color9, .2);
  margin: 30px 0;
  .titolo {
    font-size: $textsize3;
    font-weight: $fontweightBold;
    margin-bottom: 15px;
    display: inline-block;
    margin-right: 10px;
    i {
      color: $color1;
      margin-right: 1em;
    }
  }
  .social-link {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-left: 30px;
    > li {
      display: inline-block;
      margin-right: 20px;
      i {
        color: $color1;
        font-size: $textsize6;
      }
    }
  }

  @media (max-width: 1100px) {
    .titolo {
      font-size: 15px;
    }
  }
  @media (max-width: 800px) {
    .titolo {
      font-size: 14px;
    }
  }
  @media (max-width: 600px) {
    .titolo {
      padding-left: 15px;
    }
    .social-link {
      margin-left: 10px;
    }
  }
}
