{% trans_default_domain "public" %}

<div class="box-vetrina-simple" id="link2">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 col-grande sameHeight">
                <div class="box-grande">
                    <div class="titolo">
                        <img src="{{ asset('images/chalet/Logo_decorazionedx.png') }}" alt=""/>
                        <h3>{{ data.label }}</h3>
                    </div>
                    <div class="quadrati">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="square square1">
                                        {% if icona1.src|default("") %}
                                            <img src="{{ icona1.src|default("") }}"
                                                 alt="{{ icona1.alt|default("") }}" />{% endif %}
                                        {% if titoloicona1.val | default("") %}
                                            <p>
                                                {{ titoloicona1.val }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="square square2">
                                        {% if icona2.src|default("") %}
                                            <img src="{{ icona2.src|default("") }}"
                                                 alt="{{ icona2.alt|default("") }}" />{% endif %}
                                        {% if titoloicona2.val | default("") %}
                                            <p>
                                                {{ titoloicona2.val }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="square square2">
                                        {% if icona3.src|default("") %}
                                            <img src="{{ icona3.src|default("") }}"
                                                 alt="{{ icona3.alt|default("") }}" />{% endif %}
                                        {% if titoloicona3.val | default("") %}
                                            <p>
                                                {{ titoloicona3.val }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
                                    <div class="square square1">
                                        {% if icona4.src|default("") %}
                                            <img src="{{ icona4.src|default("") }}"
                                                 alt="{{ icona4.alt|default("") }}" />{% endif %}
                                        {% if titoloicona4.val | default("") %}
                                            <p>
                                                {{ titoloicona4.val }}
                                            </p>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% if immagineGrande.src|default("") %}
                        <img src="{{ immagineGrande.src|default("") }}"
                             alt="{{ immagineGrande.alt|default("") }}" />{% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 col-grid sameHeight">
                <div class="thumbnail text">
                    <div class="box-testo">
                        {% if iconaTesto.src|default("") %}
                            <img src="{{ iconaTesto.src|default("") }}" alt="{{ iconaTesto.alt|default("") }}"
                            />{% endif %}

                        {% if testo.val|default("") %}
                            <p>
                                {{ testo.val|raw }}
                            </p>
                        {% endif %}
                    </div>
                </div>
                <div class="wrapper-doppio">
                    <div class="container-fluid">
                        <div class="row">

                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-a">
                                {% if data.appartamenti.0|default(false) %}
                                    {% set appartamento = data.appartamenti.0 %}
                                    <div class="thumbnail">
                                        <img src="{{ appartamento.img.src }}" alt="{{ appartamento.img.alt }}"/>
                                        <div class="caption-img">
                                            <a href="{{ appartamento.url }}"><h4>{{ appartamento.label }}</h4></a>
                                        </div>
                                        <a href="{{ appartamento.url }}" rel="nofollow" class="overlay">
                                            <img src="{{ asset('/images/chalet/Freccia_over.png') }}"
                                                 alt="{% trans %} default.labels.consulta_scheda {% endtrans %}"/>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-b">
                                {% if data.appartamenti.1|default(false) %}
                                    {% set appartamento = data.appartamenti.1 %}
                                    <div class="thumbnail">
                                        <img src="{{ appartamento.img.src }}" alt="{{ appartamento.img.alt }}"/>
                                        <div class="caption-img">
                                            <a href="{{ appartamento.url }}"><h4>{{ appartamento.label }}</h4></a>
                                        </div>
                                        <a href="{{ appartamento.url }}" rel="nofollow" class="overlay">
                                            <img src="{{ asset('/images/chalet/Freccia_over.png') }}"
                                                 alt="{% trans %} default.labels.consulta_scheda {% endtrans %}"/>
                                        </a>
                                    </div>
                                {% endif %}
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>