.box-vetrina-simple {
  background-color: $color8;
  padding-top: 20px;
  .col-grande {
    padding-right: 0;
    padding-left: 20px;
    padding-bottom: 20px;
    .box-grande {
      width: 100%;
      height: 100%;
      position: relative;
      > img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      .titolo {
        position: absolute;
        right: 0;
        top: 40px;
        background-color: $color2;
        h3 {
          font-size: $text11;
          font-weight: $bold;
          margin: 40px 10px;
          color: $color8;
          padding-right: 140px;
          padding-left: 30px;
        }
        img {
          position: absolute;
          right: 0;
          top: -45px;
        }
      }
      .quadrati {
        position: absolute;
        width: 50%;
        right: left;
        bottom: 40px;
        .col-lg-6 {
          padding: 2px;
          text-align: center;
          .square1 {
            background-color: rgba($color3, 0.7);
          }
          .square2 {
            background-color: rgba($color2, 0.7);
          }
          .square {
            padding: 10px;
            height: 100%;
            img {
              height: 35px;
              margin-bottom: 10px;
            }
            p {
              font-weight: $regular;
              font-size: $text2;
              color: $color8;
              margin-bottom: 0;
            }
          }
        }
      }
      .quadrati .col-lg-6:nth-child(2), .quadrati .col-lg-6:nth-child(4) {
        padding-right: 0;
      }
      .quadrati .col-lg-6:nth-child(1), .quadrati .col-lg-6:nth-child(3) {
        padding-left: 0;
      }
    }
  }
  .col-lg-6 {
    .thumbnail {
      border: none;
      border-radius: 0;
      position: relative;
      padding: 0;
      .caption-img {
        background-color: rgba($color2, .7);
        position: absolute;
        text-align: center;
        bottom: 0;
        left: 0;
        width: 100%;
        z-index: 3;
        a:hover {
          text-decoration: none;
        }
        h4 {
          font-size: $text8;
          font-weight: $bold;
          color: $color8;
          text-transform: uppercase;
        }
      }
      > img {
        width: 100%;
      }
      .overlay {
        display: none;
        background-color: rgba($color9, .4);
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 2;
        text-align: center;
        img {
          width: 40px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translateX(-50%) translateY(-50%) translateY(-27px);
          -webkit-transform: translateX(-50%) translateY(-50%) translateY(-27px);
          -moz-transform: translateX(-50%) translateY(-50%) translateY(-27px);
          -o-transform: translateX(-50%) translateY(-50%) translateY(-27px);
          -ms-transform: translateX(-50%) translateY(-50%) translateY(-27px);
        }
      }
      &:hover {
        .overlay {
          display: block;
        }
        .caption-img {
          background-color: rgba($color2, 1);
        }
      }
    }
    .thumbnail.text {
      text-align: center;
      background-color: $color6;
      .box-testo {
        padding: 15px 100px;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        img {
          width: 80px;
          margin-bottom: 40px;
        }
        p {
          font-size: $text6;
          font-weight: $regular;
          color: $color7;
        }
      }
    }
  }
  .col-grid {
    padding-left: 0;
    padding-right: 0;
    .col-a {
      padding-left: 0;
      padding-right: 10px;
    }
    .col-b {
      padding-right: 0;
      padding-left: 10px;
    }
  }
}

@media screen and (max-width: 1499px) {
  .box-vetrina-simple .col-lg-6 .thumbnail.text .box-testo {
    p {
      font-size: font-percentage($text6, 0.8);
    }
    img {
      margin-bottom: 10px;
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-vetrina-simple .col-lg-6 .thumbnail.text .box-testo {
    padding: 15px 50px;
    p {
      font-size: font-percentage($text6, 0.7);
    }
  }
  .box-vetrina-simple .col-lg-6 .thumbnail .caption-img h4 {
    font-size: font-percentage($text8, 0.80);
  }
  .box-vetrina-simple .col-grande .box-grande .titolo h3 {
    font-size: font-percentage($text11, 0.85);
  }
  .box-vetrina-simple .col-lg-6 .box-grande {
    .titolo {
      img {
        height: 150px;
        top: -35px;
      }
      h3 {
        margin: 25px 10px;
      }
    }
    .quadrati {
      bottom: 0;
      .col-lg-6 {
        .square {
          img {
            height: 27px;
          }
          p {
            font-size: font-percentage($text2, 0.85);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-vetrina-simple .col-grande {
    padding-left: 0;
  }
}

@media screen and (max-width: 767px) {
  .box-vetrina-simple .col-lg-6 .box-grande {
    .titolo {
      img {
        height: 120px;
        top: -30px;
      }
      h3 {
        margin: 15px 10px;
        padding-right: 90px;
        font-size: font-percentage($text11, 0.75);
      }
    }
    .quadrati {
      bottom: 0;
      width: 40%;
      .col-lg-6 {
        .square {
          img {
            height: 25px;
          }
          p {
            font-size: font-percentage($text2, 0.80);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .box-vetrina-simple .col-grande {
    height: 400px !important;
  }
  .box-vetrina-simple .col-grid .col-a {
    width: 100%;
    padding-right: 0;
  }
  .box-vetrina-simple .col-grid .col-b {
    width: 100%;
    padding-left: 0;
  }
  .box-vetrina-simple .col-lg-6 .thumbnail.text {
    height: 300px !important;
  }
  .box-vetrina-simple .col-lg-6 .box-grande {
    .quadrati {
      width: 60%;
    }
  }
}

@media screen and (max-width: 449px) {
  .box-vetrina-simple .col-lg-6 .box-grande {
    .titolo {
      top: 20px;
      img {
        height: 80px;
        top: -17px;
      }
      h3 {
        margin: 10px;
        padding-right: 60px;
        font-size: font-percentage($text11, 0.65);
      }
    }
    .quadrati {
      width: 70%;
    }
  }
}

@media screen and (max-width: 359px) {
  .box-vetrina-simple .col-lg-6 .box-grande {
    .titolo {
      top: 20px;
      img {
        height: 80px;
        top: -17px;
      }
      h3 {
        margin: 10px;
        padding-right: 50px;
        font-size: font-percentage($text11, 0.55);
      }
    }
    .quadrati {
      width: 70%;
      .col-lg-6 {
        .square {
          img {
            height: 22px;
          }
          p {
            font-size: font-percentage($text2, 0.75);
          }
        }
      }
    }
  }
}
