<section class="contattiSingle">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="titolo" data-aos="fade-right" data-aos-duration="1000">
                    {{ titolo.val|default("") }}
                </h2>
                <p class="indirizzo" data-aos="fade-right" data-aos-duration="1000">
                    {{ indirizzo.val|default("") }}
                </p>
                <ul class="lista-contatti">
                    <li data-aos="fade-right" data-aos-duration="1000">
                        <span> Tel: </span> <a href="{{ telefono.link }}"> {{ telefono.label }}</a>
                    </li>
                    <li data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
                        <span> Cell: </span> <a href="{{ cellulare.link }}"> {{ cellulare.label }}</a>
                    </li>
                    <li data-aos="fade-right" data-aos-duration="1000" data-aos-delay="600">
                        <span> Fax: </span> <a href="{{ fax.link }}"> {{ fax.label }}</a>
                    </li>
                    <li data-aos="fade-right" data-aos-duration="1000" data-aos-delay="900" class="emails">
                        <span>Email:</span> <a href="{{ email.link }}"> {{ email.label }}</a> <span
                                class="trattino">-</span> <a href="{{ email_2.link }}"> {{ email_2.label }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
