{% extends "admin/admin-list.html.twig" %}

{% block page_title %} {% trans %} logs.labels.title{% endtrans %}: {% trans %} default.labels.elenco{% endtrans %} {% endblock %}

{% block pulsantiera %}
    <div class="btn-group" role="group">
    </div>
{% endblock %}


{% block page_content %}
    <div class="x_panel">
        <div class="x_content">
            <table data-name="datatable" id="datatable" class="table table-striped table-bordered">
            </table>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/logs.js') }}"></script>
{% endblock %}