.newsPiuLette {
  font-family: $font;
  a:hover {
    color: white;
  }
  .main-cat-news {
    padding-bottom: 20px;
    border-bottom: 1px solid $color1;
    margin-bottom: 20px;
  }
  .news-wrap {
    > .col-sm-12 {
      padding: 0 5px;
    }
    > .col-sm-12:first-child {
      padding-left: 0;
    }
    h5 {
      margin-top: 0;
      margin-bottom: 5px;
    }
  }
  .img-grande {
    width: 100%;
  }
  .titolo-news {
    color: $color2;
    a, a:hover {
      color: inherit;

    }

  }
  a {
    color: $color1;
  }
  .cat {
    font-size: 13px;
    color: $color1;
    a {
      color: $color1;
    }
  }
}

.most-read {
  .row {
    margin-bottom: 15px;
  }
  .img-piccola {
    width: 100%;
  }
  a, a:hover {
    color: $color3
  }
}

@media screen and (max-width: 991px) {
  .newsPiuLette {
    .titolo-news.secondaria {
      margin-top: 20px;
    }
    .titolo-news {
      font-size: 18px;
    }
    .news-wrap {
      > .col-sm-12 {
        padding: 0 0px;
      }
    }
    .cat.secondaria {
      padding-bottom: 20px;
      border-bottom: 1px solid #ffffff;
    }
  }

}

@media screen and (max-width: 450px) {
  .img-grande {
    width: 100%;
  }
  .most-read .row {
    .col-lg-5, .col-lg-7 {
      width: 100%;
    }
  }
}
