{% trans_default_domain "public" %}
<div class="sezione-slider-news">
    {% if titolo.val|default("") %}<h3>{{ titolo.val }}</h3>{% endif %}
    <a class="read-more" href="{{ to_route("blog") }}" rel="nofollow">{% trans %} news.labels.archivio{% endtrans %}
        <img src="{{ asset('images/energia/grafica/details_orange.png') }}"></a>
    <div class="slider">
        {% for News in data.News %}
            {% if News.ListImgFileName %}
                {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                {% set imgAlt = News.HeaderImgAlt %}
            {% else %}
                {% set img = "/images/defaults/placeholder.png" %}
                {% set imgAlt = News.translate(app.request.locale).titolo %}
            {% endif %}
            <div class="slide">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img">
                            {% set news_2 = {"thumbnail": {"size": [350, 350] }} %}
                            <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}"
                               rel="nofollow"><img src="{{ asset(img) | imagine_filter('news2') }}"
                                                   alt="{{ News.listImgAlt }}"/></a>
                            <div class="box-data">
                                <p>{{ blogService.getDateFormat(News, 'd') }}
                                    <br/><span>{{ blogService.getDateFormat(News, '%b') }}</span></p>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-text">
                            <div class="slide-text">
                                <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                    <h3>{{ News.translate(app.request.locale).titolo }}</h3></a>
                                <p>{{ blogService.getTextPreview(News, 150) }}</p>
                                <a class="link-news"
                                   href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}"
                                   rel="nofollow"><i>{% trans %} news.labels.leggi_di_piu{% endtrans %}</i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>