#map {
    min-height: 300px;
    border: 1px solid #cecece;
    margin: 1em 0;
}

.orario {
    background-color: #f9f9f9;
    border: 1px dotted #666;
    padding: 1em;
}

#sede_form_dipendenti {
    float: left;
    width: 70%;
}

#sede_form_dipendenti .checkbox {
    float: left;
    margin-right: 1em;
}