{% extends "admin/base.html.twig" %}
{% block bodyclass %} class="login"{% endblock %}
{% block body %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                {{ form_start(form) }}
                <h1>Login</h1>

                {% for msg in app.session.flashBag.get('success') %}
                    <div class="alert alert-success">{{ msg|trans({}, 'security') }}</div>
                {% endfor %}

                {% for msg in app.session.flashBag.get('error') %}
                    <div class="alert alert-danger">{{ msg|trans({}, 'security') }}</div>
                {% endfor %}

                {% if error %}
                    <div class="alert alert-danger">{{ error|trans() }}</div>
                {% endif %}

                {{ form_errors(form) }}

                {{ form_row(form.email) }}

                {{ form_row(form.recaptcha) }}


                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                    <button class="btn btn-default btn-block submit" type="submit"><i
                                class="fa fa-lock"></i> {% trans %}
                            default.labels.richiedi_pass {% endtrans %}</button>
                </div>

                <div class="clearfix"></div>
                <div class="separator">
                    <div>
                        <h1><i class="fa fa-superpowers"></i> Webtek CMS</h1>
                        <p>©2016 All Rights Reserved</p>
                    </div>
                </div>
                {{ form_end(form) }}

            </section>
        </div>

    </div>
{% endblock %}


{% block css %}

    {{ parent() }}

    <style>
        .g-recaptcha > div {
            float: right;
            margin: 0 10px 10px 0;
        }
    </style>

{% endblock %}
