{% extends "admin/base.html.twig" %}
{% block bodyclass %} class="login"{% endblock %}
{% block body %}
    <div class="login_wrapper">
        <div class="animate form login_form">
            <section class="login_content">

                {% if error %}
                    <div class="alert alert-danger">{{ error|trans() }}</div>
                {% endif %}

                {{ form_start(form) }}


                <h1>{% trans %} operatori.labels.reset_pass {% endtrans %}</h1>

                {{ form_errors(form) }}

                {{ form_row(form.plainPassword.first) }}
                {{ form_row(form.plainPassword.second) }}
                <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                    <button class="btn btn-default btn-block submit" type="submit"><i
                                class="fa fa-lock"></i> {% trans %}
                            default.labels.salva {% endtrans %}</button>
                </div>
                <div class="clearfix"></div>
                <div class="separator">
                    <div>
                        <h1><i class="fa fa-superpowers"></i> Webtek CMS</h1>
                        <p>©2016 All Rights Reserved</p>
                    </div>
                </div>
                {{ form_end(form) }}

            </section>
        </div>

    </div>
{% endblock %}