{% extends "@WebtekEcommerce/admin/listino/formLayout.html.twig" %}

{% block title %} {% trans %} listino.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} listino.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}


