{% trans_default_domain "public" %}

{#<div class="container-fluid">#}
    {#<div class="row">#}
        {#<div class="col-md-12">#}
            {#<h1 class="titolo">{% trans %}ecommerce.labels.orders{% endtrans %}</h1>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="tabella-ordini">
                <thead>
                <tr>
                    <th>
                        {% trans %}
                            ecommerce.labels.orderNum
                        {% endtrans %}
                    </th>
                    <th class="data-ordine">
                        {% trans %}
                            ecommerce.labels.orderDate
                        {% endtrans %}
                    </th>
                    <th class="stato-ordine">
                        {% trans %}
                            ecommerce.labels.orderStatus
                        {% endtrans %}
                    </th>
                    <th class="pagamento">
                        {% trans %}
                            ecommerce.labels.payment
                        {% endtrans %}
                    </th>
                    <th>
                        {% trans %}
                            ecommerce.labels.orderTotal
                        {% endtrans %}
                    </th>

                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                {% for ordine in data.ordini %}
                    <tr>
                        <td>
                            <strong>{{ ordine.id }}</strong>
                        </td>
                        <td class="data-ordine">
                            {{ ordine.createdAt }}
                        </td>
                        <td class="stato-ordine">
                            {{ ordine.status }}
                        </td>
                        <td class="pagamento">
                            {{ ordine.payment }}
                        </td>
                        <td class="prezzo">
                            <strong> {{ ordine.totale }}</strong>
                        </td>
                        <td>
                            <a href="{{ to_route("account_order_detail",{"id":ordine.id}) }}">
                                <span class="icon-search"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>

            </table>

        </div>
    </div>
</div>
