{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} feature.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} feature.labels.title{% endtrans %}: {% trans %} default.labels.modifica_ordine{% endtrans %} {% endblock %}

{% block page_content %}

    <div class="x_panel">
        <div class="x_title">
            <p class="help-block">
                {% trans %} feature.help.sort_help {% endtrans %}
            </p>
        </div>
        <div class="x_content">
            <div id="sortContainer" class="col-md-4">
                {% for featureId, featureName in list %}
                {% if "[grp]" in featureId %}
                {% if not loop.first %}
                    </ul>
                {% endif %}
                <h2>{{ featureName }}</h2>
                <ul class="list-group">
                    {% else %}
                        <li class="list-group-item" id="featureId_{{ featureId }}">
                            <i class="fa fa-arrows-alt"></i>&nbsp;&nbsp;{{ featureName }}</li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>


    <a href="#" class="btn btn-success" id="jsonExport"><i
                class="fa fa-save"></i> {% trans %} feature.labels.salva_disposizione{% endtrans %}
    </a>
    <a href="{{ path('feature') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('admin/js/jquery/jquery-ui.min.js') }}"></script>
    <script src="{{ asset('bundles/webtekecommerce/admin/js/feature.js') }}"></script>

{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('admin/vendors/jstree/dist/themes/default/style.min.css') }}"/>
    <link rel="stylesheet" href="{{ asset('admin/vendors/jstree-bootstrap-theme/dist/themes/proton/style.min.css') }}"/>
    <link href="{{ asset('bundles/webtekecommerce/admin/css/feature.css') }}" rel="stylesheet">

{% endblock %}