//NAVBAR
background-color:

$color3;
border-color:transparent

;
.navbar-nav {
  li a {
    color: $color2;
    font-weight: 500;
  }
}

.dropdown-menu {
  li {
    text-align: center;
    a {
      color: $color3;
      font-weight: 500;
    }
  }
}

.logo {
  padding-top: 2px;
  margin-right: 40px;
}
