{% trans_default_domain "public" %}
{#{% set arrayMesi = {#}
{#"01" : "GEN",#}
{#"02" : "FEB",#}
{#"03" : "MAR",#}
{#"04" : "APR",#}
{#"05" : "MAG",#}
{#"06" : "GIU",#}
{#"07" : "LUG",#}
{#"08" : "AGO",#}
{#"09" : "SET",#}
{#"10" : "OTT",#}
{#"11" : "NOV",#}
{#"12" : "DIC"#}
{#} %}#}

<section class="title_with_news">
    <div class="container" id="news-container">
        <div class="row row-news">
            {% for News in data.News %}
                {% if News.ListImgFileName %}
                    {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                    {% set imgAlt = News.ListImgAlt %}
                {% else %}
                    {% set img = "/public/images/default/placeholder.png" %}
                    {% set imgAlt = News.translate(app.request.locale).titolo %}
                {% endif %}
                <div class="col-md-6 block-news">
                    <div class="wrapper">
                        {#<div class="date">#}
                        {#<p class="day">{{ News.publishAt.date|date("d") }}</p>#}
                        {#<p class="month">{{ arrayMesi[News.publishAt.date|date("m")] }}</p>#}
                        {#</div>#}
                        <div class="wrapper-img">
                            <a rel="nofollow"
                               href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, 'it').slug, slugnotizia: News.translate('it').slug},false,true) }}">
                                <img class="img-ofi" src="{{ img }}" alt="{{ imgAlt }}">
                            </a>
                        </div>
                        <div class="wrapper-text">
                            <p class="title match_height_title">{{ News.translate(app.request.locale).titolo }}</p>
                            <p class="text match_height_text">{{ blogService.getTextPreview(News, 300) }}</p>
                        </div>
                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, 'it').slug, slugnotizia: News.translate('it').slug},false,true) }}"
                           class="btn_scopri"><img src="{{ btn.src }}" alt="{{ btn.alt|default('') }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
