{#<h4 class="title">{{ data.page.titolo }}</h4>#}
{% if data.page.listImg.src %}
    <img src="{{ data.page.listImg.src }}" alt="{{ data.page.listImg.alt }}"/>
{% endif %}
<h2 class="title">{{ data.page.sottotitolo }}</h2>
<h1 class="subtitle">{{ pageService.getPageText(data.page.rows)| raw }}</h1>