{% trans_default_domain "public" %}
<div class="sezione booking selettoreDate">
    {% if icona.src is defined %}
        <img src="{{ icona.src }}"{% if icona.alt is defined %} alt="{{ icona.alt }}{% endif %}">{% endif %}
    <h3>{{ claim.val }}</h3>
    <div class="container">
        <div class="row">
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 ">
                <h5>{% trans %}booking.labels.data_partenza{% endtrans %}</h5>
                <div class="datepicker" data-locale="{{ app.request.locale }}">
                    <p class="giorno">{{ data.oggi.d }}</p>
                    <p class="month-year">{{ data.oggi.m }}<br>{{ data.oggi.Y }}</p>
                    <img class="calendar-icon" src="/icone-loghi/Risorsa_2.png">
                    <input type="text" id="datetime-partenza" class="hide" value="{{ data.oggi.date }}"/>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <h5>{% trans %}booking.labels.data_arrivo{% endtrans %}</h5>
                <div class="datepicker" data-locale="{{ app.request.locale }}">
                    <p class="giorno">{{ data.next.d }}</p>
                    <p class="month-year">{{ data.next.m }}<br>{{ data.next.Y }}</p>
                    <img class="calendar-icon" src="/icone-loghi/Risorsa_2.png">
                    <input type="text" class="hide" id="datetime-arrivo" value="{{ data.next.date }}"/>
                </div>
            </div>
            <div class="col-xs-4 col-sm-4 col-md-3 col-lg-3">
                <h5>{% trans %}booking.labels.passeggeri{% endtrans %}</h5>
                <div class="quantity">
                    <a class="btn-minus-passeggeri" href="#"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></a>
                    <p>1</p>
                    <a class="btn-plus-passeggeri" href="#"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
                <button type="button"
                        class="btn btn-default btn-contatta">{% trans %}booking.labels.richiedi_disponibilita{% endtrans %}
                    <i class="fa fa-chevron-right fa-lg" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<script type="text/x-handlebars" id="bookingPopUpTemplate">

    <div id="bookingPopUpDialog" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="bookingPopUp">
                        <form class="contact" data-endpoint="{{ to_route('contact-us') }}">
                            <label for="fullname">{% trans %}booking.labels.nome_e_cognome{% endtrans %}</label>
                            <input type="text" name="fullname" id="fullname" required value="Giovanni">
                            <label for="email">{% trans %}booking.labels.email{% endtrans %}</label>
                            <input type="email" name="email" id="email" required value="gianiaz@gmail.com">
                            <label for="phone">{% trans %}booking.labels.telefono{% endtrans %}</label>
                            <input type="tel" name="phone" id="phone" required value="3477196482">
                            <label>{% trans %}booking.labels.informazioni{% endtrans %}</label>
                            <div class="row row_date">
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <h5>{% trans %}booking.labels.data_partenza{% endtrans %}</h5>
                                    <div class="datepicker">
                                        <p class="giorno">{% verbatim %}{{giornoPartenza}}{% endverbatim %}</p>
                                        <p class="month-year">{% verbatim %}{{mesePartenza}}{% endverbatim %}
                                            <br>{% verbatim %}{{annoPartenza}}{% endverbatim %}</p>
                                        <img class="calendar-icon" src="/icone-loghi/Risorsa_2.png">
                                        <input type="text" id="datetime-partenza-form" name="data-partenza" class="hide" />
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <h5>{% trans %}booking.labels.data_arrivo{% endtrans %}</h5>
                                    <div class="datepicker">
                                        <p class="giorno">{% verbatim %}{{giornoArrivo}}{% endverbatim %}</p>
                                        <p class="month-year">{% verbatim %}{{meseArrivo}}{% endverbatim %}
                                            <br>{% verbatim %}{{annoArrivo}}{% endverbatim %}</p>
                                        <img class="calendar-icon" src="/icone-loghi/Risorsa_2.png">
                                        <input type="text" id="datetime-arrivo-form" name="data-arrivo" class="hide" value="" />
                                    </div>
                                </div>
                                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                    <h5>{% trans %}booking.labels.passeggeri{% endtrans %}</h5>
                                    <div class="quantity">
                                        <a href="#" class="btn-minus-passeggeri"><i class="fa fa-minus fa-lg" aria-hidden="true"></i></a>
                                        <p>{% verbatim %}{{passeggeri}}{% endverbatim %}</p>
                                        <a href="#" class="btn-plus-passeggeri"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></a>
                                        <input type="hidden" name="passeggeri" value="{% verbatim %}{{passeggeri}}{% endverbatim %}" />
                                    </div>
                                </div>
                            </div>
                            <label for="messaggio">{% trans %}booking.labels.messaggio{% endtrans %}</label>
                            <textarea id="messaggio" name="messaggio"></textarea>
                            <input type="checkbox" class="css-checkbox" id="privacy" name="privacy" value="1">
                            <label class="css-label" for="privacy">{% trans %}booking.labels.ho_letto{% endtrans %}
                                <a href=""><u>{% trans %}default.labels.privacy_policy{% endtrans %}</u></a></label>
                            <p>{% trans %}default.labels.campi_obbligatori{% endtrans %}</p>
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-danger" data-dismiss="modal">{% trans %}default.labels.chiudi{% endtrans %}</button>
                    <input type="submit" class="btn btn-default btn-contact-us" value="{% trans %}default.labels.invia{% endtrans %}">
                </div>
            </div>
        </div>
    </div>


</script>
