{% trans_default_domain "public" %}
<div class="sezione contatti">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-img">
                {% if slide.src|default("") %}<img src="{{ slide.src }}" alt="{{ slide.alt|default("") }}" />{% endif %}
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                {% if logo.src|default("") %}
                    <img src="{{ logo.src }}" alt="{{ logo.alt|default("") }}" data-aos="zoom-in"
                         data-aos-duration="1200"/>
                {% endif %}
                <h2 data-aos="zoom-in" data-aos-duration="1200">{{ titolo.val }}</h2>
                <p data-aos="zoom-in" data-aos-duration="1200">
                    {{ testo.val | default("") | raw }}
                </p>
                <form class="contact" data-endpoint="{{ to_route('contact-us') }}">
                    <label for="fullname">{% trans %}booking.labels.nome_e_cognome{% endtrans %}</label>
                    <input type="text" name="fullname" id="fullname" required value="">
                    <label for="email">{% trans %}booking.labels.email{% endtrans %}</label>
                    <input type="email" name="email" id="email" required value="">
                    <label for="phone">{% trans %}booking.labels.telefono{% endtrans %}</label>
                    <input type="tel" name="phone" id="phone" required value="">
                    <label>{% trans %}booking.labels.informazioni{% endtrans %}</label>
                    <div class="container-fluid">
                        <div class="row row_date">
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <h5>{% trans %}booking.labels.data_partenza{% endtrans %}</h5>
                                <div class="datepicker" data-locale="{{ app.request.locale }}">
                                    <p class="giorno">{{ data.oggi.d }}</p>
                                    <p class="month-year">{{ data.oggi.m }}
                                        <br>{{ data.oggi.Y }}</p>
                                    <img class="calendar-icon" src="/icone-loghi/Risorsa_2.png">
                                    <input type="text" value="{{ data.oggi.date }}" id="datetime-partenza-form"
                                           name="data-partenza" class="hide"/>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <h5>{% trans %}booking.labels.data_arrivo{% endtrans %}</h5>
                                <div class="datepicker" data-locale="{{ app.request.locale }}">
                                    <p class="giorno">{{ data.next.d }}</p>
                                    <p class="month-year">{{ data.next.m }}
                                        <br>{{ data.next.Y }}</p>
                                    <img class="calendar-icon" src="/icone-loghi/Risorsa_2.png">
                                    <input type="text" id="datetime-arrivo-form" name="data-arrivo" class="hide"
                                           value="{{ data.next.date }}"/>
                                </div>
                            </div>
                            <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                                <h5>{% trans %}booking.labels.passeggeri{% endtrans %}</h5>
                                <div class="quantity">
                                    <a href="#" class="btn-minus-passeggeri"><i class="fa fa-minus fa-lg"
                                                                                aria-hidden="true"></i></a>
                                    <p>1</p>
                                    <a href="#" class="btn-plus-passeggeri"><i class="fa fa-plus fa-lg"
                                                                               aria-hidden="true"></i></a>
                                    <input type="hidden" name="passeggeri" value="1"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <label for="messaggio">{% trans %}booking.labels.messaggio{% endtrans %}</label>
                    <textarea id="messaggio" name="messaggio"></textarea>
                    <input type="checkbox" class="css-checkbox" id="privacy" name="privacy" value="1">
                    <label class="css-label" for="privacy">{% trans %}booking.labels.ho_letto{% endtrans %}
                        <a href=""><u>{% trans %}default.labels.privacy_policy{% endtrans %}</u></a></label>
                    <p>{% trans %}default.labels.campi_obbligatori{% endtrans %}</p>

                    <input type="submit" class="btn btn-default btn-send" value="INVIA">
                </form>
            </div>
        </div>
    </div>
</div>