.box-contatti-full-viewport {
  height: 100%;
  padding-top: 60px;
  padding-bottom: 30px;
  .container-fluid, .row, .col-xs-6 {
    height: 100%;
  }
  .col-lg-8 {
    padding: 0;
  }
  .col-lg-4 {
    padding: 0;
    display: table;
    .box-testo {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
      img {
        margin-bottom: 30px;
      }
      p {
        font-family: "adelle", serif;
        font-size: 18px;
        font-weight: 700;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .box-contatti-full-viewport {
    .col-lg-4 {
      .box-testo {
        img {
          width: 30%;
          margin-bottom: 15px;
        }
        p {
          font-size: 14px;
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .box-contatti-full-viewport {
    .col-xs-6 {
      width: 100%;
    }
    .col-lg-8 {
      height: 40%;
    }
    .col-lg-4 {
      height: 60%;
      padding: 15px;
    }
  }
}
