$color1: #1c3a64 !default;
$color2: #009900 !default;
$color3: #ff9c00 !default;
$color5: #161618 !default;
$color6: #6e6e6e !default;
$color7: #fff !default;
$color8: #000 !default;
$color9: #8b8b8b !default;
$color10: #f72020 !default;
$color11: #e5e5e5 !default;
$color12: #9ba2b3 !default;
$color13: #e1e1e1 !default;
$color14: #7b7b7b !default;
$color15: #6b84a7 !default;
$color16: #efefef !default;

$textsize12: 12px !default;
$textsize14: 14px !default;
$textsize16: 16px !default;
$textsize25: 25px !default;
$textsize30: 30px !default;

$fontweightLight: 300;
$fontweightRegular: 400;
$fontweightMedium: 500;
$fontweightSemibold: 600;
$fontweightBold: 700;

$fontfamily1: $font;

input:focus, textarea:focus {
  outline: 0;
  box-shadow: none;
  border-color: $color2;
}

.rating {
  cursor: pointer;
}

label {
  color: $color1;
  font-weight: 400;
}

.dati-prodotto {
  margin-bottom: 40px;
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.nome-prodotto-main {
  font-size: 40px;
  color: $color1;
  margin-bottom: 0px;
  margin-top: 0;
  line-height: 40px;
  font-weight: 300;
}

.categoria-prodotto {
  color: #9D9D9D;
  font-size: 16px;
  margin-bottom: 10px;
}

.marchioH3 {
  margin-top: 10px;
  display: block;
  margin-bottom: 20px;
}

.marchioH3 h3 {
  color: $color2;
  font-size: 16px;
  text-transform: uppercase;

}

.btn {
  background-color: $color2;
  color: white;
  background-image: none;
  font-weight: 400;
  font-size: 16px;
  border: 0;
  margin-top: 20px;
}

.box-commenti {
  padding: 40px 0;
  .num-commenti {
    font-family: $fontfamily1;
    font-weight: $fontweightMedium;
    font-size: $textsize16;
    color: $color1;
    text-transform: uppercase;
    margin-bottom: 25px;
  }
  .media-object {
    padding: 0px;
    padding-bottom: 0;
    width: 80px;
  }
  .media-body {
    padding-left: 10px;
  }
  .media {
    padding: 30px 0;
    border-top: 1px solid rgba($color9, .2);
    margin-top: 0;
  }
  .media-heading {
    font-size: $textsize14;
    font-family: $fontfamily1;
    font-weight: 400;
    span {
      color: $color2;
      margin: 5px 0;
      display: inline-block;
    }
  }
  .messaggio-commento {
    color: #7f7f7f;
    font-family: $fontfamily1;
    font-size: $textsize12;
    letter-spacing: 0.5px;
    line-height: 22px;
  }
  .btn {
    border: 0;
    padding: 15px;
    border-radius: 4px;
    background-color: $color2;
    background-image: none;
    color: white;
    font-weight: 400;
    font-family: $fontfamily1;
    font-size: $textsize14;
  }
  .titolo {
    font-weight: $fontweightMedium;
    font-family: $fontfamily1;
    font-size: $textsize16;
    margin-bottom: 30px;
  }
  h3 {
    margin-top: 0;
    font-family: $fontfamily1;
  }
  textarea {
    width: 100%;
    padding-left: 15px;
    padding-top: 15px;
    min-height: 200px;
    font-family: $fontfamily1;

  }
  label {
    text-transform: uppercase;
    color: $color9;
    font-weight: $fontweightMedium;
    font-family: $fontfamily1;
    font-size: $textsize14;
  }
  .dx {
    padding-right: 0;
  }
  .sx {
    padding-left: 0;
  }
  input {
    width: 100%;
    height: 50px;
    font-family: $fontfamily1;
  }
  .row {
    margin-bottom: 1em;
  }
  .row_pubblica {
    .btn {
      text-transform: uppercase;
    }
  }
  .row_x {
    text-indent: -9999px;
    height: 1px;
  }
  @media (max-width: 767px) {
    .dx, .sx {
      padding-right: 0;
      padding-left: 0;
    }
    .titolo {
      font-size: font-percentage($textsize16, .7);
    }
    label {
      font-size: font-percentage($textsize14, .85);
    }
    .media-heading {
      font-size: font-percentage($textsize14, .8);
    }
    .btn {
      font-size: font-percentage($textsize14, .8);
      padding: 10px;
    }
  }
}
