$color2: #F39200 !default;
$color3: #878787 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;

.titolo {
  font-size: 24px;
  color: $color6;
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.totalCount {
  text-align: right;
  strong {
    color: $color2;
  }
}

.navigation {
  display: block;
  padding-top: 14px;
  border-top: 1px solid #EBEBEB;
  .pagination {
    float: right;
    .page, .current, .next, .previous, .last, .first {
      width: 36px;
      height: 36px;
      font-size: 16px;
      text-align: center;
      vertical-align: middle;
      display: inline-block;
      padding-top: 8px;
      &:hover {
        background-color: $color2;
        color: white;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        color: inherit;
        &:hover {
          text-decoration: none;
        }
      }
    }
    .current {
      background-color: $color2;
      color: white;
    }
    .page, .next, .previous, .last, .first {
      background-color: #EBEBEB;
      color: #8C8C8C;
    }
  }
}

.col-titolo {
  padding-left: 8px;
  padding-right: 8px;
}

@media(max-width: 767px) {
  .titolo {
    font-size: 21px;
    text-align: center;
    margin-top: 14px;
  }
}

@media(max-width: 500px) {
  .colonna-prodotto {
    width: 100%;
  }
  .titolo {
    font-size: 20px;
  }
}
