<section class="text_with_background_image">
    <div class="sfondo grayscale" style="background-image:url('{{ img.src }}');">
    </div>
    <div class="container-fluid">
        <div class="overlay_video">
        </div>
        <div class="wrapper_text">
            <h1 class="title1" data-aos="zoom-in" data-aos-duration="1000">{{ title.val|raw }}</h1>
            <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}">
        </div>
    </div>
</section>
