.box-commenti {
  padding: 20px;
  background-color: $color2;
  h3 {
    margin-top: 0;
  }
  textarea {
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
  }
  .dx {
    padding-right: 0;
  }
  .sx {
    padding-left: 0;
  }
  input {
    width: 100%;
  }
  .row {
    margin-bottom: 1em;
  }
  .row_pubblica {
    text-align: right;
    .btn {
      position: relative;
      right: 5px;
    }
  }
  .row-commento {
    .avatar-pic {
      float: left;
      width: 45px;
      margin-right: 12px;
    }
    .commento-di {
      color: $color3;
    }
  }
  .row_x {
    text-indent: -9999px;
    height: 1px;
  }
}
