{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('bundles/anagrafica/admin/css/anagrafica.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/anagrafica/admin/js/anagrafica.js') }}"></script>
    <script src="{{ asset('admin/js/jquery/jquery.form.min.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('@Anagrafica/Anagrafica/form.html.twig') }}
{% endblock %}