{% extends "@Anagrafica/Anagrafica/formLayout.html.twig" %}

{% block title %} {% trans %} anagrafica.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} anagrafica.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}