{% if titolo.val|default("") %}<h5>{{ titolo.val | upper }}</h5>{% endif %}
<ul class="categories">
    {% for menu in data.categories %}
        <li>
            <a href="{{ menu.url }}">{{ menu.label }}
            </a>
        </li>
    {% endfor %}
</ul>