{% extends "admin/admin.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/app/admin/js/groups.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include(':admin/groups:form.html.twig') }}
{% endblock %}