{% set News = data.News %}
{% if News|default("") %}
    {% if News.HeaderImgFileName %}
        {% set img = "/" ~ News.UploadDir ~ News.HeaderImgFileName %}
        {% set imgAlt = News.HeaderImgAlt %}
    {% else %}
        {% set img = "/images/defaults/placeholder.png" %}
        {% set imgAlt = News.translate(app.request.locale).titolo %}
    {% endif %}

    <div class="container-fluid blogHead">
        <div class="row">
            <h1 class="titolo-articolo">{{ News.translate(app.request.locale).titolo }}</h1>
            <img class="img-head" src="{{ asset(img) | imagine_filter("newsheader") }}" alt="{{ imgAlt }}">


            {#<div class="stats-articolo">#}
            {#<span><i class="fa fa-eye fa-2x" aria-hidden="true"></i>150</span>#}
            {#</div>#}
        </div>
    </div>
{% endif %}