.buttonCentered {
  margin: 60px 0;
  text-align: center;
  a {
    display: inline-block;
    font-family: $font;
    background-color: $color2;
    border-radius: 0;
    color: $color1;
    border: 0;
    font-weight: $medium;
    padding: 10px 22px;
    font-size: $text7
  }
  @media (max-width: 700px) {
    a {
      font-size: $text5;
    }

  }
  @media (max-width: 500px) {
    a {
      font-size: $text4

    }
  }
}