display:inline-block

;
float:right

;
li {
  a {
    color: $color8;
    padding: 5px 30px;
    img {
      height: 40px;
    }
  }
}

@media screen and (max-width: 767px) {
  float: none;
  display: block;
}

@media screen and (max-width: 1049px) {
  li a img {
    height: 30px;
  }
}
