<div class="box-quadruplo-box-floating">
    <div class="box-floating">
        {% if slogan.val|default("") %} <p>{{ slogan.val|raw }}</p> {% endif %}
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="box-wrapper">
                <div class="col-xs-6 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 col-text">
                    <div class="box-testo" data-aos="zoom-in" data-aos-duration="1000">
                        {% if titolo.val|default("") %}<h3> {{ titolo.val | raw }}</h3> {% endif %}
                        {% if testo.val|default("") %} <p>{{ testo.val }}</p> {% endif %}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 col-img">
                    {% if img1.src|default("") %}
                        <img src="{{ img1.src }}" alt="{{ img1.alt|default("") }}" data-aos="zoom-in"
                             data-aos-duration="1000"/>
                    {% endif %}
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-slider">
                    <img class="quote" src="{{ asset('images/energia/grafica/quote.png') }}">
                    <div class="slider-opinioni" data-aos="fade-down" data-aos-duration="1000">
                        {% if data.error %}
                            {{ data.error }}
                        {% else %}
                            {% for slide in data.slides %}
                                <div>
                                    <img src="{{ slide.image.src }}" alt="{{ slide.image.alt|default("") }}"/>
                                    <h3>{{ slide.titolo }}</h3>
                                    <p>{{ slide.testo|raw }}</p>
                                    <p class="firma"><i>{{ slide.sottotitolo }}</i></p>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-img">
                    {% if img2.src|default("") %}
                        <img src="{{ img2.src }}" alt="{{ img2.alt|default("") }}" data-aos="zoom-in"
                             data-aos-duration="1000"/>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>