.sezione.blog-top {
  font-family: $font;
  .col-lg-6, .col-lg-12 {
    position: relative;
    img {
      width: 100%;
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit: cover; object-position:center';
    }
    .caption-articolo {
      background: linear-gradient(rgba(51, 51, 51, 0), #333);
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding-left: 20px;
      padding-bottom: 20px;
      color: $color1;
      a, a:hover {
        color: inherit;
      }
      .categoria-articolo {
        display: inline-block;
        background-color: $color5;
        margin-bottom: 0;
        padding: 5px;

        font-weight: 700;
      }
      .titolo-articolo {

        font-size: 28px;
        margin-top: 5px;
        margin-bottom: 15px;
        display: block;
      }
    }
  }
  .mainHeight {
    // padding: 0 3px 0 0;
    padding: 0;
    border-right: 3px solid transparent;
    min-height: 350px;
  }
  .sameHeight {
    // padding: 0 0 0 3px;
    padding: 0;
    border-left: 3px solid transparent;
    .row-up {
      height: 60%;
    }
    .row-down {
      height: 40%;
    }
    .row {
      .col-lg-12, .col-lg-6 {
        height: 100%;
        img {
          height: 100%;
        }
      }
      .col-lg-12 {
        // padding: 0 0 3px 0;
        padding: 0;
        border-bottom: 3px solid transparent;
      }
      .col-a {
        // padding: 3px 3px 0 0;
        padding: 0;
        border-top: 3px solid transparent;
        border-right: 3px solid transparent;
      }
      .col-b {
        // padding: 3px 0 0 3px;
        padding: 0;
        border-top: 3px solid transparent;
        border-left: 3px solid transparent;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .sezione.blog-top .sameHeight .container-fluid {
    height: 50%;
    .row-up, .row-down {
      height: 100%;
    }
  }
  .sezione.blog-top .col-lg-6 .caption-articolo, .sezione.blog-top .col-lg-12 .caption-articolo {
    .titolo-articolo {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .categoria-articolo {
      font-size: 12px;
    }
  }
}

@media screen and (max-width: 991px) {
  .sezione.blog-top .col-lg-6 .caption-articolo, .sezione.blog-top .col-lg-12 .caption-articolo {
    padding-left: 5px;
    padding-bottom: 5px;
    .titolo-articolo {
      font-size: 20px;
      margin-bottom: 5px;
    }
    .categoria-articolo {
      font-size: 10px;
    }
    .data-articolo {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 767px) {
  .sezione.blog-top .mainHeight {
    height: 200px;
    min-height: auto;
    border: none;
    border-bottom: 3px solid transparent;
    img {
      height: 100%;
    }
  }
  .sezione.blog-top .sameHeight {
    height: 400px !important;
    border: none;
    border-top: 3px solid transparent;
  }
  .sezione.blog-top .col-lg-6 .caption-articolo, .sezione.blog-top .col-lg-12 .caption-articolo {
    padding-left: 5px;
    padding-bottom: 5px;
    .titolo-articolo {
      font-size: 18px;
      margin-bottom: 5px;
    }
    .categoria-articolo {
      font-size: 10px;
    }
    .data-articolo {
      font-size: 10px;
    }
  }
}

@media screen and (max-width: 449px) {
  .sezione.blog-top .mainHeight {
    height: 150px;
  }
  .sezione.blog-top .sameHeight {
    height: 300px !important;
  }
  .sezione.blog-top .col-lg-6 .caption-articolo, .sezione.blog-top .col-lg-12 .caption-articolo {
    padding-left: 5px;
    padding-bottom: 5px;
    .titolo-articolo {
      font-size: 16px;
      margin-bottom: 5px;
    }
    .categoria-articolo {
      font-size: 10px;
    }
    .data-articolo {
      font-size: 10px;
    }
  }
}