{% extends "@Offerte/Offerte/formLayout.html.twig" %}

{% block title %} {% trans %} offerte.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} offerte.labels.title{% endtrans %}: {% trans %} default.labels.modifica{% endtrans %} {% endblock %}
