.modulo-pag-webtek {
  height: 100%;
  .container-fluid {
    height: 100%;
    .row {
      height: 100%;
      position: relative;
      .slider-container {
        height: 100%;
        .slick-slide {
          height: 100%;
          img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            font-family: 'object-fit: cover;'
          }
        }
      }
      .box-wrap-webtek {
        height: 100%;
        position: absolute;
        bottom: 0;
        right: 0;
        width: 515px;
        .box {
          position: absolute;
          padding: 40px;
          bottom: 0;
          height: 100%;
          background-color: rgba($color5, .8);
          transition-duration: 1s;
          display: table;
          .wrapper_text {
            display: table-cell;
            vertical-align: bottom;
            padding-bottom: 50px;
            .testo {
              color: $color4;
              font-weight: $regular;
              margin-bottom: 30px;
              font-size: $text2;
              a {
                color: $color1;
                &:hover {
                  text-decoration: underline;
                }
              }
            }
            .btn-default {
              border: none;
              border-radius: 0;
              background-color: $color1;
              color: $color5;
              font-size: $text3;
              font-weight: $regular;
              padding: 10px 15px;
              &:focus, &:hover {
                background-color: darken($color1, 10%);
              }
            }
          }
          &.trasla {
            transform: translateX(0);
            -webkit-transform: translateX(0);
            -moz-transform: translateX(0);
            -ms-transform: translateX(0);
            -o-transform: translateX(0);
            transition-duration: 1s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .modulo-pag-webtek {
    .container-fluid {
      .row {
        .box-wrap-webtek {
          .box {
            padding: 20px;
            padding-bottom: 50px;
            padding-left: 60px;
            .wrapper_text {
              .testo {
                margin-bottom: 30px;
                font-size: font-percentage($text4, .7);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .modulo-pag-webtek {
    .container-fluid {
      .row {
        .slider-container {
          height: 350px;
        }
        .box-wrap-webtek {
          position: relative;
          width: 100%;
          height: auto;
          .box {
            position: relative;
            width: 100%;
            height: auto;
            padding: 20px;
            padding-left: 60px;
            .wrapper_text {
              padding: 0;
              .testo {
                margin-bottom: 30px;
                font-size: font-percentage($text4, .6);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .modulo-pag-webtek {
    .container-fluid {
      .row {
        .box-wrap-webtek {
          width: 100%;
          bottom: 0;
          left: 0;
          height: auto;
          .box {
            width: 100%;
            bottom: 0;
            left: 0;
            height: auto;
            padding: 20px;
            padding-bottom: 150px;
            padding-left: 60px;
            .wrapper_text {
              .testo {
                margin-bottom: 30px;
                font-size: font-percentage($text4, .5);
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 801px) and (max-height: 799px) {
  .modulo-pag-webtek {
    .container-fluid {
      .row {
        .box-wrap-webtek {
          position: relative;
          width: 100%;
          height: auto;
          .box {
            position: relative;
            width: 100%;
            height: auto;
            padding: 20px;
            .wrapper_text {
              padding: 0;
              .testo {
                margin-bottom: 30px;
                font-size: font-percentage($text4, .7);
              }
              .btn-default {
                font-size: font-percentage($text3, .8);
              }
            }
          }
        }
      }
    }
  }
}
