<section class="only_title_text">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h1 class="title_section align-center"
                    data-aos="fade-in"
                    data-aos-duration="800">{{ data.category.titolo }}   </h1>
                {% if(data.category.sottotitolo != "") %}
                    <p class="text_section align-center" data-aos="fade-in"
                       data-aos-duration="800">{{ data.category.sottotitolo }}</p>
                {% endif %}
            </div>
        </div>
    </div>
</section>
