{% extends "admin/admin.html.twig" %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('TagBundle:CategoriaTag:form.html.twig') }}
{% endblock %}