<section class="header-w-text-icon-button">
    <img src="{{ data.header.img.src }}" alt="{{ data.header.img.alt }}"/>
    <div class="box-testo">

        {% if icona.src|default("") %}
            <img src="{{ icona.src }}" alt="{{ icona.alt|default("") }}"/>
        {% endif %}

        {% if titolo.val|default("") %}
            <h1 class="header-text1">{{ titolo.val }}</h1>
        {% elseif data.header.titolo|default("") %}
            <h1 class="header-text1">{{ data.header.titolo | default("") }}</h1>
        {% endif %}

        {% if sottotitolo.val|default("") %}
            <h2 class="header-text2">
                {{ sottotitolo.val }}
            </h2>
        {% elseif data.header.sottotitolo|default("") %}
            <h2 class="header-text2">
                {{ data.header.sottotitolo }}
            </h2>
        {% endif %}

    </div>
    {% if link.link|default("") %}
        <a href="{{ link.link }}" class="btn btn-default">{{ link.label }}
            <i class="fa fa-angle-right fa-lg" aria-hidden="true"></i></a>
    {% endif %}
</section>
