{% for menu in data.menu %}
    <li>
        <a href="{{ menu.slug }}" class="title {% if menu.active %}active{% endif %}">{{ menu.titolo|upper }}</a>
    </li>
    {% if menu.sections|length > 0 %}
        {% for anchor in menu.sections %}
            <li>
                <a href="{{ menu.slug }}#{{ anchor.id }}">{{ anchor.slot2|striptags|lower }}</a>
            </li>
        {% endfor %}
    {% endif %}
{% endfor %}
