<div class="sezione testo-immagine">
    <div class="container" data-aos="fade-left" data-aos-duration="800">
        <p class="titoletto">
            {{ titoletto.val }}
        </p>
        <h3 class="titolo">
            {{ titolo.val|raw }}
        </h3>
        <p class="testo">
            {{ testo.val|raw }}
        </p>
    </div>
    <img src="{{ immagine_big.src }}" alt="{{ immagine_big.alt }}" data-aos="fade-right" data-aos-duration="800"/>
</div>
