& {
  padding-top: 40px;
  padding-bottom: 40px;
}

.title {
  color: $color2;
}

.quantita, .quantita-head {
  text-align: center;
}

.ordine-pagato {
  color: $color2;
  margin-top: 40px;
  font-weight: 600;
  font-size: 18px;
}

.dati-pagamento {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  li {
    color: $color1;
    padding: 10px 0;
    font-size: 16px;
    border-bottom: 1px solid $color5;
    &:last-child {
      border-bottom: 0;
    }
  }
}

.call_back {
  background-color: $color2;
  color: white;
  font-size: 18px;
  background-image: none;
  margin-top: 20px;
}

.messaggio {
  color: $color1;
  font-size: 18px;
  margin-bottom: 40px;
}

.tabella-dati-ordine {
  tr td, tr th {
    color: $color1;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  tr:first-child th {
    padding-bottom: 40px;
  }
  tr:nth-child(2) td {
    padding-top: 40px;
  }
}

.dati-ordine {
  color: $color1;
  font-size: 18px;
  .col-sm-12 {
    margin-bottom: 20px;
  }
}

.tabella-riepilogo-articoli {
  width: 100%;
  border-bottom: 1px solid $color5;
  .tab-dati-prodotto {
    .marca {
      font-size: 14px;
      color: $color3;
    }
    .nome-prodotto {
      font-size: 17px;
      color: $color6;
      &:hover {
        color: darken($color6, 20%);
      }
    }
    .dati-variante {
      color: $color2;
      font-size: 14px;
    }

  }
  .prezzo {
    font-size: 16px;
    color: $color21;
  }
  .subtotale {
    font-size: 16px;
    font-weight: 600;
    color: $color6;
  }

  tfoot {
    tr:first-child td {
      padding-top: 20px;
    }
    tr:last-child td {
      padding-bottom: 20px;
    }
    tr td {
      color: $color6;
      font-size: 18px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
    tr.totale td {
      font-weight: 600;
    }
  }

  thead {
    tr {
      background-color: $color2;
      th {
        color: white;
        padding: 14px 0;
        font-size: 16px;
        font-weight: 600;
      }
    }
  }
  tbody {
    tr {
      border: 1px solid $color5;
      border-top: 0;
    }
    td {
      padding-top: 10px;
      padding-bottom: 10px;
    }
    .tab-img-prodotto {
      vertical-align: middle;
      text-align: center;
      img {
        max-height: 150px;
      }

    }
  }

  @media(max-width: 991px) {
    tbody .tab-img-prodotto img {
      max-height: 150px;
      max-width: 100px;
    }
    thead {
      th {
        font-size: 14px;
      }
    }
    tfoot {
      tr td {
        font-size: 16px;
      }
    }
    .tab-dati-prodotto {
      .marca {
        font-size: 13px;
      }
      .nome-prodotto {
        font-size: 15px;
      }
      .dati-variante {
        font-size: 13px;
      }

    }
    .prezzo {
      font-size: 15px;
    }
    .subtotale {
      font-size: 15px;
    }
  }
}

@media(max-width: 767px) {
  .dati-ordine {
    font-size: 16px;
  }
  .tabella-riepilogo-articoli thead tr th {
    font-size: 14px;
    font-weight: 600;
  }
  .tabella-dati-ordine tr td {
    font-size: 16px;
  }
  thead {
    th {
      font-size: 13px;
    }
  }
  tfoot {
    tr td {
      font-size: 15px;
    }
  }
}

.mobile {
  display: none;
}

@media(max-width: 600px) {
  .tabella-riepilogo-articoli {
    .prezzo-head, .quantita-head, .prezzo, .quantita {
      display: none;
    }
    .mobile {
      display: block;
    }
  }
}

.numeric {
  text-align: right;
  padding-right: 0.5em !important;
}