{% trans_default_domain "public" %}
{% set arrayMesi = {
    "01" : "GEN",
    "02" : "FEB",
    "03" : "MAR",
    "04" : "APR",
    "05" : "MAG",
    "06" : "GIU",
    "07" : "LUG",
    "08" : "AGO",
    "09" : "SET",
    "10" : "OTT",
    "11" : "NOV",
    "12" : "DIC"
} %}
<section class="title_with_news">
    <div class="container" id="news-container">
        <div class="row row-news">
            {% for News in data.pagination %}
                {% if data.type == 'category' %}
                    {% set News = News.News %}
                {% endif %}
                {% if News.ListImgFileName %}
                    {% set img = "/" ~ News.UploadDir ~ News.ListImgFileName %}
                    {% set imgAlt = News.HeaderImgAlt %}
                {% else %}
                    {% set img = "/images/defaults/placeholder.png" %}
                    {% set imgAlt = News.translate(app.request.locale).titolo %}
                {% endif %}
                <div class="col-md-6 block-news">
                    <div class="wrapper">
                        {#<div class="date">#}
                        {#<p class="day">{{ News.publishAt.date|date("d") }}</p>#}
                        {#<p class="month">{{ arrayMesi[News.publishAt.date|date("m")] }}</p>#}
                        {#</div>#}
                        <div class="wrapper-img">
                            <a rel="nofollow"
                               href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}">
                                <img class="img-ofi" src="{{ img }}" alt="{{ imgAlt }}">
                            </a>
                        </div>
                        <div class="wrapper-text">
                            <p class="title match_height_title">{{ News.translate(app.request.locale).titolo }}</p>
                            <p class="text match_height_text">{{ blogService.getTextPreview(News, 300) }}</p>
                        </div>
                        <a href="{{ to_route("blog_read_news", {slug: blogService.getCategory(News, app.request.locale).slug, slugnotizia: News.translate(app.request.locale).slug}) }}"
                           class="btn_scopri"><img src="{{ btn.src }}" alt="{{ btn.alt|default('') }}"></a>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row row-loader hidden">
            <img src="{{ loader.src }}" alt="{{ loader.alt|default('') }}">
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(data.pagination) }}
    </div>

</section>


<script type="text/x-handlebars" id="blogPostTemplate">

  <div class="col-md-6 block-news">
    <div class="wrapper">
      <div class="wrapper-img">
        <img src="{% verbatim %}{{ img }}{% endverbatim %}" alt="{% verbatim %}{{ imgAlt }}{% endverbatim %}">
      </div>
      <div class="wrapper-text">
        <p class="title match_height_title">{% verbatim %}{{ titolo }}{% endverbatim %}</p>
        <p class="text match_height_text">{% verbatim %} {{text}} {% endverbatim %}</p>
      </div>
      <a href="{% verbatim %}{{ url }}{% endverbatim %}" class="btn_scopri"><img src="{{ btn.src }}
    " alt="{{ btn.alt|default('') }}"></a>
    </div>
  </div>
















</script>
