height:

70
%;
.text_button_with_background_image_opacity {
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  position: relative;
  .gradient {
    position: absolute;
    background: linear-gradient(transparent, rgba($color14, .7));
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  .wrapper_motto {
    position: absolute;
    bottom: 50px;
    left: 0;
    color: $color5;
    padding: 0 3%;
    .box {
      background-color: rgba($color1, .8);
      color: $color5;
      text-align: center;
      left: 10%;
      padding: 40px 15px;
      display: inline-block;
      h3 {
        font-size: $text7;
        font-weight: $extra-bold;
        text-transform: uppercase;
        strong {
          font-size: $text14;
        }
      }
    }
    .title1 {
      font-size: $text6;
      margin: 0;
      margin-bottom: 14px;
    }
    .title2 {
      font-size: $text10;
      margin-bottom: 0;
    }
    .title3 {
      font-size: $text11;
      font-weight: $bold;
      strong {
        color: $color1;
      }
    }
  }
  .btn-right {
    position: absolute;
    right: 30px;
    bottom: 70px;
    .btn-default {
      font-weight: $bold;
      font-size: $text5;
      border-radius: 0;
      padding: 25px 30px;
      background-color: rgba($color1, 0.7);
      color: $color5;
      transition-duration: 0.3s;
      i {
        top: -1px;
        position: relative;
        margin-left: 10px;
        color: $color5;
      }
      &:hover, &:active, &:focus {
        background-color: $color1;
        transition-duration: 0.3s;
      }
    }

  }

  #scroll_button {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
    left: 0;
  }

  #scroll_button a span {
    position: absolute;
    top: -45px;
    left: 50%;
    width: 46px;
    height: 46px;
    margin-left: -23px;
    border: 3px solid #bdbdbd;
    border-radius: 100%;
    box-sizing: border-box;
    z-index: 8;
    bottom: 60px;
  }
  #scroll_button a span::after {
    position: absolute;
    top: 50%;
    left: 50%;
    content: '';
    width: 16px;
    height: 16px;
    margin: -12px 0 0 -8px;
    border-left: 3px solid #bdbdbd;
    border-bottom: 3px solid #bdbdbd;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    box-sizing: border-box;
  }
  #scroll_button a span::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    content: '';
    width: 41px;
    height: 41px;
    box-shadow: 0 0 0 0 #d2d2d2;
    border-radius: 100%;
    opacity: 0;
    -webkit-animation: sdb03 2s infinite;
    animation: sdb03 2s infinite;
    box-sizing: border-box;
  }
  @-webkit-keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb03 {
    0% {
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    60% {
      box-shadow: 0 0 0 60px rgba(212, 212, 212, 0.1);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
}

@media screen and (max-width: 1550px) {
  .text_button_with_background_image_opacity {
    .wrapper_motto {
      .title1 {
        font-size: font-percentage($text6, 0.95);
      }
      .title2 {
        font-size: font-percentage($text10, 0.95);
      }
      .title3 {
        font-size: font-percentage($text11, 0.95)
      }
      .box {
        h3 {
          font-size: font-percentage($text7, 0.9);
          strong {
            font-size: font-percentage($text14, 0.9);
          }
        }
      }
    }
  }
  .text_button_with_background_image_opacity .btn-right .btn-default {
    padding: 20px 25px;
    font-size: font-percentage($text5, 0.9);
  }
}

@media screen and (max-width: 1300px) {
  .text_button_with_background_image_opacity {
    .wrapper_motto {
      .title1 {
        font-size: font-percentage($text6, 0.90);
      }
      .title2 {
        font-size: font-percentage($text10, 0.90);
      }
      .title3 {
        font-size: font-percentage($text11, 0.90)
      }
      .box {
        h3 {
          font-size: font-percentage($text7, 0.8);
          strong {
            font-size: font-percentage($text14, 0.8);
          }
        }
      }
    }
  }
  .text_button_with_background_image_opacity .btn-right .btn-default {
    padding: 15px 20px;
    font-size: font-percentage($text5, 0.85);
  }
}

@media screen and (max-width: 1200px) {
  .text_button_with_background_image_opacity {
    .wrapper_motto {
      .title1 {
        font-size: font-percentage($text6, 0.85);
      }
      .title2 {
        font-size: font-percentage($text10, 0.85);
      }
      .title3 {
        font-size: font-percentage($text11, 0.85)
      }
      .box {
        h3 {
          font-size: font-percentage($text7, 0.7);
          strong {
            font-size: font-percentage($text14, 0.7);
          }
        }
      }
    }
  }
  .text_button_with_background_image_opacity .btn-right {
    .btn-default {
      padding: 15px 20px;
      font-size: font-percentage($text5, 0.85);
    }
  }
}

@media screen and (max-width: 991px) {
  .text_button_with_background_image_opacity {
    .wrapper_motto {
      bottom: 70px;
      .title1 {
        font-size: font-percentage($text6, 0.8);
      }
      .title2 {
        font-size: font-percentage($text10, 0.8);
      }
      .title3 {
        font-size: font-percentage($text11, 0.8)
      }
      .box {
        padding: 10px 15px;
        h3 {
          font-size: font-percentage($text7, 0.65);
          strong {
            font-size: font-percentage($text14, 0.65);
          }
        }
      }
    }
  }
  .text_button_with_background_image_opacity .btn-right {
    left: 3%;
    bottom: 20px;
    .btn-default {
      padding: 15px 20px;
      font-size: font-percentage($text5, 0.85);
    }
  }
}

@media screen and (max-width: 800px) {
  .text_button_with_background_image_opacity {
    .wrapper_motto {
      .title1 {
        font-size: font-percentage($text6, 0.75);
      }
      .title2 {
        font-size: font-percentage($text10, 0.75);
      }
      .title3 {
        font-size: font-percentage($text11, 0.75)
      }
      .box {
        h3 {
          font-size: font-percentage($text7, 0.6);
          strong {
            font-size: font-percentage($text14, 0.6);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  .text_button_with_background_image_opacity {
    #scroll_button a span {
      position: absolute;
      top: -20px;
    }
    .wrapper_motto {
      .title1 {
        font-size: font-percentage($text6, 0.65);
      }
      .title2 {
        font-size: font-percentage($text10, 0.65);
      }
      .title3 {
        font-size: font-percentage($text11, 0.65)
      }
      .box {
        h3 {
          font-size: font-percentage($text7, 0.55);
          strong {
            font-size: font-percentage($text14, 0.55);
          }
        }
      }
    }
  }
  .text_button_with_background_image_opacity .btn-right {
    .btn-default {
      padding: 15px;
      font-size: font-percentage($text5, 0.75);
    }
  }
}

@media screen and (max-width: 500px) {
  .text_button_with_background_image_opacity {
    .wrapper_motto {
      .title1 {
        font-size: font-percentage($text6, 0.6);
      }
      .title2 {
        font-size: font-percentage($text10, 0.5);
      }
      .title3 {
        font-size: font-percentage($text11, 0.4)
      }
      .box {
        h3 {
          font-size: font-percentage($text7, 0.5);
          strong {
            font-size: font-percentage($text14, 0.35);
          }
        }
      }
    }
  }
}
