<div class="row">
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {% if immagine1.src|default("") %}
            <img src="{{ immagine1.src }}" alt="{{ immagine1.alt|default("") }}"/>
        {% endif %}
        {% if testo1.val|default("") %}
            <p>
                {{ testo1.val }}
            </p>
        {% endif %}
        {% if link1.link|default("") %}
            <a href="{{ link1.link }}">{{ link1.label|raw }}</a>
        {% elseif link1.label|default("") %}
            <span> {{ link1.label|raw }}</span>
        {% endif %}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {% if immagine2.src|default("") %}
            <img src="{{ immagine2.src }}" alt="{{ immagine2.alt|default("") }}"/>
        {% endif %}
        {% if testo2.val|default("") %}
            <p>
                {{ testo2.val }}
            </p>
        {% endif %}
        {% if link2.link|default("") %}
            <a href="{{ link2.link }}">{{ link2.label|raw }}</a>
        {% elseif link2.label|default("") %}
            <span> {{ link2.label|raw }}</span>
        {% endif %}
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        {% if immagine3.src|default("") %}
            <img src="{{ immagine3.src }}" alt="{{ immagine3.alt|default("") }}"/>
        {% endif %}
        {% if testo3.val|default("") %}
            <p>
                {{ testo3.val }}
            </p>
        {% endif %}
        {% if link3.link|default("") %}
            <a href="{{ link3.link }}">{{ link3.label|raw }}</a>
        {% elseif link3.label|default("") %}
            <span>{{ link3.label|raw }}</span>
        {% endif %}
    </div>
</div>