.container-pannelli {
  padding-bottom: 40px;
}

.breadcrumb {
  text-align: left;
}

.title {
  font-size: $text6;
  font-weight: $bold;
  color: $color3;
}

.subtitle {
  font-size: $text4;
  font-weight: $semi-bold;
  color: $color3;
  text-align: left;
}

.testo {
  font-size: $text2;
  font-weight: $regular;
  color: $color3;
  margin-bottom: 30px;
  text-align: left;
}

.pannello {
  text-align: left;
  margin-bottom: 5px;
  .media {
    padding: 5px;
    background-color: $color6;
    h4 {
      margin: 0;
      font-size: $text5;
    }
  }
}

