{% extends "@WebtekEcommerce/admin/shipments/formLayout.html.twig" %}

{% block title %} {% trans %} metodi_spedizione_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} metodi_spedizione_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
