{% if data.pages | length == 3 %}
    <section class="animation_numbers_homepage">
        {% if titolo.val|default("") %}<h3>{{ titolo.val }}</h3>{% endif %}
        <div class="container-fluid" id="numeri">
            <div class="row align-center">
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_dipendenti">
                    {% set Page = attribute(data.pages, 0) %}
                    {% set row = attribute(Page.pageRows, 0) | default("") %}

                    <a class="nf-link" href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}"
                       rel="nofollow"></a>
                    <a href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}">
                        <div class="wrapper_text">
                            {% if Page.ListImgFileName %}
                                <img class="img_numeri" src="/{{ Page.uploadDir }}{{ Page.ListImgFileName }}"
                                     alt="{{ Page.listImgAlt }}">
                            {% endif %}
                            <p class="title_numeri color1" data-valore="">{{ Page.translate().titolo }}</p>
                        </div>
                    </a>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 dipendenti_img wrapper_blocchi"{% if row %} style="background-image:url({{ vich_uploader_asset(row, 'slot1ImageFile') }})"{% endif %}>
                </div>
                {% set Page = attribute(data.pages, 1) %}
                {% set row = attribute(Page.pageRows, 0) | default("") %}
                <div class="col-lg-3 col-lg-push-3 col-md-3 col-md-push-3 col-sm-6 col-xs-6 progetti_img wrapper_blocchi"{% if row %}
                     style="background-image:url({{ vich_uploader_asset(row, 'slot1ImageFile') }})"{% endif %}">
            </div>
            <div class="col-lg-3 col-lg-pull-3 col-md-3 col-md-pull-3 col-sm-6 col-xs-6 wrapper_numeri wrapper_blocchi numeri_progetti">
                <a class="nf-link" href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}" rel="nofollow"></a>
                <a href="{{ pageUrlGenerator.generaUrl(Page, app.request.locale) }}">
                    <div class="wrapper_text">
                        {% if Page.ListImgFileName %}
                            <img class="img_numeri" src="/{{ Page.uploadDir }}{{ Page.ListImgFileName }}"
                                 alt="{{ Page.listImgAlt }}">
                        {% endif %}
                        <p class="title_numeri color2" data-valore="">{{ Page.translate().titolo }}</p>
                    </div>
                </a>
            </div>
        </div>
    </section>
{% endif %}