#editModules {
    position: absolute;
    top: 1em;
    right: 1em;
}

.edit-grid {
    position: absolute;
    z-index: 31999;
    border: 2px dashed #0a6aa1;
    top: 0;
    left: 0;
}

.edit-grid a {
    display: block;
    padding: 1em;
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    color: #fff;
    background-color: #0a6aa1;
}

#datatable {
    width: 100%;
}