<html>
<head>
    <meta charset="utf-8">
    <title>Sito in manutenzione</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ asset('public/css/maintenance/style.css') }}">
</head>
<body>

<div id="message">
    <img src="{{ asset('img/logo.png') }}"/>
    <p>{{ maintenanceUntil }}</p>
</div>
</body>
</html>
