<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type='text/xsl' href='/xml-sitemap.xsl'?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:image="http://www.google.com/schemas/sitemap-image/1.1"
        xmlns:video="http://www.google.com/schemas/sitemap-video/1.1">

    {% for url in urls %}
        <url>
            <loc>{{ url.loc }}</loc>
            <lastmod>{{ url.lastmod }}</lastmod>
            <changefreq>{{ url.changefreq }}</changefreq>
            <priority>{{ url.priority }}</priority>
            {% if url.images %}
                {% for image in url.images %}
                    <image:image>
                        <image:loc>{{ image.loc }}</image:loc>
                        <image:caption>{{ image.caption }}</image:caption>
                    </image:image>
                {% endfor %}
            {% endif %}
        </url>
    {% endfor %}
</urlset>