.three_columns {
  .three_columns_main {

    //   overflow: hidden;
    //
    //
    // [class*="col-"]{
    //     margin-bottom: -99999px;
    //     padding-bottom: 99999px;
    // }

    & > .col-md-4 {
      // height:400px;
      .text-wrap {
        padding: 140px 44px;

      }
      .title-tc3 {
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 36px;
        font-family: "montserratsemibold";
        padding-bottom: 20px;
        &:after {
          content: " ";
          width: 50px;
          height: 4px;
          margin-top: 15px;
          display: block;
          background-color: $color4g;
        }
      }
      .text-tc3 {
        font-size: 16px;
        font-family: "montserratlight";
      }
    }

    & > .col-md-4:first-child {
      background-color: $color1g;
      color: $text1g;
    }

    & > .col-md-4:nth-child(2) {
      background-color: $color2g;
      color: $text2g;
    }

    & > .col-md-4:last-child {
      background-color: $color3g;
      color: $text3g;
    }

  }

}

@media (min-width: 991px) {
  .three_columns {

    .three_columns_main {
      display: table;
      &::before {
        content: none;
      }
      [class*="col-"] {
        float: none;
        display: table-cell;
        vertical-align: top;
      }
    }
  }
}

@media (max-width: 1450px) {
  .three_columns {

    .three_columns_main {

      & > .col-md-4 {
        .text-wrap {
          padding: 140px 24px;
        }
        .title-tc3 {
          margin-top: 40px;
          margin-bottom: 10px;
          font-size: 33px;

        }
        .text-tc3 {
          font-size: 16px;
        }
      }
    }
  }
}

@media (max-width: 1250px) {
  .three_columns {

    .three_columns_main {

      & > .col-md-4 {
        .text-wrap {
          padding: 140px 16px;
        }
        .title-tc3 {
          margin-top: 40px;
          margin-bottom: 10px;
          font-size: 26px;

        }
        .text-tc3 {
          font-size: 16px;
        }
      }
    }
  }
}

@media(max-width: 1100px) {
  .three_columns {

    .three_columns_main {
      & > .col-md-4 {
        .text-wrap {
          padding: 100px 16px;
        }
      }
    }
  }
}

@media(max-width: 991px) {
  .three_columns {

    .three_columns_main {
      text-align: center;

      & > .col-md-4 .title-tc3:after {
        margin-left: auto;
        margin-right: auto;
      }
    }

  }
}

@media(max-width: 640px) {
  .three_columns {

    .three_columns_main {

      & > .col-md-4 {
        .text-wrap {
          padding: 80px 10px;
        }
        .title-tc3 {
          margin-top: 40px;
          margin-bottom: 10px;
          font-size: 26px;

        }
        .text-tc3 {
          font-size: 15px;
          line-height: 25px;
        }
      }
    }
  }
}

@media(max-width: 400px) {
  .three_columns {

    .three_columns_main {

      & > .col-md-4 {
        .title-tc3 {
          font-size: 20px;
          margin-top: 20px;
        }

        .text-wrap {
          padding: 40px 5px;
        }
        .text-tc3 {
          font-size: 14px;
        }
      }
    }
  }
}
