.gallery-articolo {
  padding: 20px 0;
  img {
    height: 150px;
    margin: 0 5px;
  }
  .fa {
    position: absolute;
    bottom: 50%;
    color: $color1;
    cursor: pointer;
    z-index: 2;
    transform: translateY(50%);
  }
  .fa-angle-right {
    right: -25px;
  }
  .fa-angle-left {
    left: -25px;
  }
}

h3 {
  text-transform: uppercase;
}

@media screen and (max-width: 549px) {
  .gallery-articolo {
    margin: 0 20px;
  }
}