<div class="menuFullScreen">
    {% for cat in data.categorie %}

        {% if cat.children|length %}
            <div class="submenu" id="sub_{{ cat.id }}">
                <div class="container-limitato container-fluid">
                    <div class="row mobileOnly">
                        <div class="col-sm-12">
                            <div class="back-arrow pull-left clearfix">
                                <span class="fa fa-arrow-left"></span>
                            </div>
                            <div class="nomeCategoria">
                                {{ cat.name }}
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        {% for child in cat.children %}
                            {% set url=to_route("categoria_ecommerce",{"slug":cat.slug ~ "/" ~ child.slug }) %}

                            <div class="col-lg-2 col-md-4 col-xs-4 categoria-box">
                                <div class="img-categoria-wrap">
                                    <a href="{{ url }}" rel="nofollow"><img
                                                src="{{ asset(child.listImg) }}"></a>
                                </div>
                                <a class="nome-categoria" href="{{ url }}">{{ child.name|upper }}</a>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
</div>