.menuFullScreen {
  .mobileOnly {
    display: none;
  }
  .submenu {
    background-color: white;
    position: absolute;
    top: 237px;
    left: 0;
    width: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    display: none;
    z-index: 100;
    &.active {
      display: block;
    }
    .categoria-box {
      margin-top: 40px;
      margin-bottom: 40px;
      transition: transform 200ms;
      -webkit-backface-visibility: hidden;
      -ms-transform: translateZ(0); /* IE 9 */
      -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
      transform: translateZ(0);
      &:hover {
        -webkit-backface-visibility: hidden;
        -ms-transform: translateZ(0); /* IE 9 */
        -webkit-transform: translateZ(0); /* Chrome, Safari, Opera */
        transform: translateZ(0) scale(1.1);
        transition: transform 200ms;
      }
    }
    .nome-categoria {
      margin-top: 30px;
      color: $color4;
      font-size: 12px;
      font-weight: 600;
      text-align: center;
      display: block;
    }
    .img-categoria-wrap {
      height: 140px;
      text-align: center;
      width: 100%;
      font: 0/0 a;
      img {
        text-align: center;
        max-height: 100%;
        max-width: 100%;
        width: auto;
        display: inline-block;
        vertical-align: middle;
      }
      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
    }

  }
  @media(max-width: 767px) {
    .back-arrow {
      cursor: pointer;
      font-size: 40px;
    }
    .nomeCategoria {
      text-align: center;
      padding-left: 20px;
      color: $color1;
      font-size: 26px;
    }
    .mobileOnly {
      display: blocK;
    }
  }

}