{% if titolo.val|default("") %}<h5>{{ titolo.val | upper }}</h5>{% endif %}
<ul class="categories">
    {% for menu in data.categories %}
        <li><i class="fa fa-angle-right fa-2x"></i> <a href="{{ menu.url }}">{{ menu.label }}
                <span>{{ menu.summary }}</span></a>
        </li>
    {% endfor %}
</ul>