.box-doppio-stats {
  > .container-fluid > .row > .col-lg-6 {
    position: relative;
    padding: 0
  }
  .col-img {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .box-testo {
      position: absolute;
      width: 100%;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      left: 0;
      padding: 40px 50px;
      h3 {
        color: $color5;
        font-size: $text9;
        font-weight: $semi-bold;
        strong {
          font-size: $text10;
          font-weight: $bold;
          color: $color1;
        }
      }
    }
  }
  .col-griglia .col-lg-6 {
    position: relative;
    text-align: center;
    padding: 0;
    .box-testo {
      padding: 100px 30px;
      .odometer.odometer-auto-theme {
        display: block;
      }
      p {
        font-size: $text10;
        font-weight: $bold;
        color: $color3;
      }
      h4 {
        font-size: $text6;
        font-weight: $semi-bold;
        color: $color11;
      }
      img {
        margin-bottom: 20px;
      }
    }
  }
}

@media screen and (max-width: 1199px) {
  .box-doppio-stats .col-griglia .col-lg-6 .box-testo {
    padding: 50px 30px;
    p {
      font-size: font-percentage($text10, 0.8);
    }
    h4 {
      font-size: font-percentage($text6, 0.8);
    }
  }
  .box-doppio-stats .col-img .box-testo h3 {
    font-size: font-percentage($text9, 0.9);
    strong {
      font-size: font-percentage($text10, 0.9);
    }
  }
}

@media screen and (max-width: 991px) {
  .box-doppio-stats .col-griglia .col-lg-6 .box-testo {
    padding: 30px;
    p {
      font-size: font-percentage($text10, 0.7);
    }
    h4 {
      font-size: font-percentage($text6, 0.7);
    }
    img {
      height: 40px;
    }
  }
  .box-doppio-stats .col-img .box-testo h3 {
    font-size: font-percentage($text9, 0.8);
    strong {
      font-size: font-percentage($text10, 0.8);
    }
  }
}

@media screen and (max-width: 699px) {
  .box-doppio-stats .col-img, .box-doppio-stats .col-griglia {
    width: 100%;
  }
  .box-doppio-stats .col-griglia .col-lg-6 .box-testo {
    padding: 15px;
    p {
      font-size: font-percentage($text10, 0.5);
    }
    h4 {
      font-size: font-percentage($text6, 0.6);
    }
    img {
      height: 35px;
    }
  }
  .box-doppio-stats .col-img .box-testo h3 {
    font-size: font-percentage($text9, 0.7);
    strong {
      font-size: font-percentage($text10, 0.75);
    }
  }
}
