{% if data.langs|length > 1 %}
    <ul>
        {% for lang, lingua in data.langs %}
            {% if data.META is defined and data.META.alternate is defined and attribute(data.META.alternate, lang)|default("") %}
                {% set url = attribute(data.META.alternate, lang) %}
            {% else %}
                {% set url = attribute(localizedUrls, lang) %}
            {% endif %}
            <li>{% if lang != app.request.locale %}
                <a href="{{ url }}">{% endif %}{{ lang }}{% if lang != app.request.locale %}
                </a>{% endif %}</li>
        {% endfor %}
    </ul>
{% endif %}