{% extends "admin/admin.html.twig" %}


{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('bundles/webtekecommerce/admin/js/payments.js') }}"></script>


{% endblock %}

{% block page_content %}
    {{ include('@WebtekEcommerce/admin/payments/form.html.twig') }}
{% endblock %}
