{% extends "@WebtekEcommerce/admin/payments/formLayout.html.twig" %}

{% block title %} {% trans %} metodi_pagamento_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} metodi_pagamento_ecommerce.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
