<div class="box-doppio-new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-text col-bdn">
                <div class="box-testo"
                        {% if icona.src|default("") %}
                            style="background-image:url('{{ icona.src }}')"
                        {% endif %}
                     data-aos="fade-right" data-aos-duration="500">
                    {% if titolo.val|default("") %}
                        <h1 class="titolo">
                            {{ titolo.val }}
                        </h1>
                    {% endif %}
                    {% if sottotitolo.val|default("") %}
                        <h3 class="titolo">
                            {{ sottotitolo.val|raw }}
                        </h3>
                    {% endif %}
                    {% if testo.val|default("") %}
                        <div class="testo">
                            {{ testo.val|raw }}
                        </div>
                    {% endif %}
                    {% if link.link|default("") %}
                        <a class="btn btn-default" href="{{ link.link }}">{{ link.label }}</a>
                    {% endif %}
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 col-img col-bdn">
                {% if img_big.src|default("") %}
                    <img src="{{ img_big.src }}" alt="{{ img_big.alt|default("") }}" data-aos="fade-left"
                         data-aos-duration="500"/>
                {% endif %}
            </div>
        </div>
    </div>
</div>
