.sezione.thumbnails {
  background-color: $color2;
  .col-lg-3 {
    height: 300px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    h2 {
      color: $color4;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      margin-bottom: 10px;
      padding: 0 15px;
    }
    .box-hover {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      display: none;
      h3, h5 {
        color: $color4;
        margin: 30px 0;
      }
      a {
        padding: 10px 20px;
        text-align: left;
        i {
          margin-left: 10px;
        }
      }
    }
  }
  .thumbnail {
    height: 100%;
    margin-bottom: 0;
    position: relative;
    transition: all .5s;
    border: none;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .thumbnail::before {
    content: "";
    display: none;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(52, 73, 94, 0.75);
  }
  .col-lg-3:hover {
    .thumbnail:before {
      display: block;
    }
    .thumbnail {
      transition: all .5s;
      transform: scale(1.2);
    }
  }
}

@media screen and (min-width: 1200px) and (max-width: 1550px) {
  .sezione.thumbnails .col-lg-3 h2 {
    font-size: 25px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .sezione.thumbnails .col-lg-3 h2 {
    font-size: 20px;
  }
  .sezione.thumbnails .col-lg-3 .box-hover h3, .sezione.thumbnails .col-lg-3 .box-hover h5 {
    font-size: 14px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .sezione.thumbnails .col-lg-3 h2 {
    font-size: 20px;
  }
  .sezione.thumbnails .col-lg-3 .box-hover h3, .sezione.thumbnails .col-lg-3 .box-hover h5 {
    font-size: 14px;
  }
}

@media screen and (max-width: 767px) {
  .sezione.thumbnails .col-lg-3 .box-hover {
    padding: 8px;
  }
  .sezione.thumbnails .col-lg-3 h2 {
    font-size: 18px;
  }
  .sezione.thumbnails .col-lg-3 .box-hover button {
    padding: 5px 10px;
    font-size: 10px;
  }
}

@media screen and (max-width: 450px) {
  .sezione.thumbnails .col-lg-3 {
    height: 200px;
    width: 100%;
  }
  .sezione.thumbnails .col-lg-3 h2 {
    font-size: 14px;
    padding: 0 10px;
  }
  .sezione.thumbnails .col-lg-3 .box-hover h3, .sezione.thumbnails .col-lg-3 .box-hover h5 {
    margin: 10px;
    font-size: 12px;
  }
}
