.slider-pagina-webtek {
  height: 100%;
  width: 100%;
  .slider-container {
    height: 100%;
    .slick-slide {
      height: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .slider-pagina-webtek {
    height: 350px;
  }
}
