{% extends "admin/admin.html.twig" %}


{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('node_modules/croppie/croppie.css') }}" rel="stylesheet">
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
    <script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
    <script src="{{ asset('node_modules/lightbox2/dist/js/lightbox.min.js') }}"></script>
    <script src="{{ asset('bundles/app/admin/js/vetrinacat.js') }}"></script>
{% endblock %}

{% block page_content %}
    {{ include('admin/vetrinacat/form.html.twig') }}
{% endblock %}