.menu-laterale {
  .iconHeader {
    color: $color1;
    font-size: 52px;
  }
  .titoloMenu {
    font-family: $font2;
    color: $color2;
    font-size: 30px;
    margin-bottom: 40px;
    margin-top: 0;
  }
  .bodyMenu {
    .lista-categorie {
      margin-bottom: 20px;
    }
    .lista-categorie > li {

      border-bottom: 1px solid #EBEBEB;
    }
    .lista-categorie > li:last-child {
      border-bottom: 0;
    }
    .lista-categorie li a {
      padding: 15px 0;
      font-size: 12px;
      color: $color1;
      display: block;
      position: relative;
      &::after {
        content: "\e258";
        font-family: 'Glyphicons Halflings';
        position: absolute;
        right: 0;
        color: $color2;
        vertical-align: middle;
      }
      &:hover, &:focus {
        text-decoration: none;
        font-weight: 600;
      }
    }
    .lista-categorie .canOpen {
      ul {
        display: none;
      }
      &.opened ul {
        display: block;
      }
    }

    .lista-categorie .canOpen > a {
      position: relative;
      &::after {
        content: "\e114";
        font-family: 'Glyphicons Halflings';
        color: $color2 !important;
        position: absolute;
        right: 0;
        vertical-align: middle;
        color: inherit;
      }
    }
    .lista-categorie .opened > a {
      &::after {
        content: "\e113";
      }
    }
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .canOpen > ul {
      padding-left: 10px;
    }
  }
  @media (max-width: 767px) {
    .headMenu {
      min-height: 0;
      padding: 5px 10px;
      img {
        margin-right: 10px;
      }
      .iconHeader {
        vertical-align: middle;
        font-size: 45px;
      }
      .titoloMenu {
        display: inline-block;
        position: static;
        margin-bottom: 0;
        margin-top: 0;
        vertical-align: middle;
        margin-left: 10px;
        font-size: 18px;
      }

    }
    .bodyMenu {
      display: none;
    }
  }
  @media (max-width: 500px) {
    .headMenu {
      .iconHeader {
        font-size: 35px;
      }
    }
  }

  @media (max-width: 400px) {
    .headMenu {
      .titoloMenu {
        font-size: 16px;
      }
    }

  }
}
