<section class="menu-laterale">
    <div class="headMenu">
        {#{% if(data.categoriaMenu.icona != "") %}#}
        {#<span class="iconHeader {{ data.categoriaMenu.icona }}"></span>#}
        {#{% endif %}#}
        <h2 class="titoloMenu">Categorie</h2>
    </div>
    <div class="bodyMenu">
        <ul class="lista-categorie">
            {% for cat in data.categorie %}
                <li {% if(cat.children|length) %} class="canOpen" {% endif %}>
                    <a href="{{ to_route("categoria_ecommerce",{"slug":cat.slug}) }}">{{ cat.name }}</a>
                    {% if(cat.children|length) %}
                        <ul>
                            {% for child in cat.children %}
                                <li>
                                    <a href="{{ to_route("categoria_ecommerce",{"slug": cat.slug ~ "/" ~ child.slug}) }}">{{ child.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
</section>
