<section class="three_columns_icons" id="three_columns_icons">
    <div class="container-fluid">
        <div class="row three_columns_icons_main">
            <div class="col-md-4">
                <div class="text-wrap">
                    <img class="icon" src="{{ icona1.src }}" alt="{{ icona1.alt|default("") }}" data-aos="zoom-in">
                    <h3 class="title-tc3" data-aos="zoom-in">{{ titolo1.val }}</h3>
                    <p class="text-tc3" data-aos="zoom-in"> {{ testo1.val|raw }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-wrap">
                    <img class="icon" src="{{ icona2.src }}" alt="{{ icona2.alt|default("") }}" data-aos="zoom-in"
                         data-aos-duration="1000" data-aos-delay="300">
                    <h3 class="title-tc3" data-aos="zoom-in" data-aos-delay="300"
                        data-aos-duration="1000">{{ titolo2.val }}</h3>
                    <p class="text-tc3" data-aos="zoom-in" data-aos-delay="300"
                       data-aos-duration="1000"> {{ testo2.val|raw }}</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="text-wrap">
                    <img class="icon" src="{{ icona3.src }}" alt="{{ icona3.alt|default("") }}" data-aos="zoom-in"
                         data-aos-duration="1000" data-aos-delay="600">
                    <h3 class="title-tc3" data-aos="zoom-in" data-aos-duration="1000"
                        data-aos-delay="600">{{ titolo3.val }}</h3>
                    <p class="text-tc3" data-aos="zoom-in" data-aos-duration="1000"
                       data-aos-delay="600"> {{ testo3.val|raw }}</p>
                </div>
            </div>
        </div>
    </div>
</section>
