{% trans_default_domain "public" %}

<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="icon" type="image/x-icon" href="/favicon.ico"/>

{% block stylesheets %}

    {% if twigs.assets.css is defined %}
        {% for css in twigs.assets.css %}
            <link rel="stylesheet" type="text/css" href="{{ css }}">
        {% endfor %}
    {% endif %}

    <link rel="stylesheet" type="text/css"
          href="/public/css/{{ generali.layout }}/style{% if parametri_avanzati.script_minimizzati %}.min{% endif %}.css"/>



{% endblock %}
