$color6: #484848 !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.elencoMarche {
  text-align: center;
  margin-bottom: 40px;
  .titolo {
    margin-bottom: 30px;
    font-weight: 600;
    font-size: 21px;
    color: $color6;
  }
  .pulsante-ghebagas {
    font-size: 14px;
    margin-top: 20px;
  }
  .logo-wrap {
    height: 120px;
    text-align: center;
    width: 100%;
    font: 0/0 a;
    &::before {
      content: " ";
      display: inline-block;
      vertical-align: middle;
      height: 100%;

    }
    .logo {
      max-height: 100%;
      width: auto;
      max-width: 100%;
      display: inline-block;
      vertical-align: middle;
      text-align: center;
    }
  }

  //ADATTAMENTO
  @media(max-width: 600px) {
    .logo-wrap {
      height: 100px;
    }
  }
  @media(max-width: 500px) {
    .logo-wrap {
      height: 80px;
    }
  }
  @media(max-width: 400px) {
    .logo-wrap {
      height: 60px;
    }
  }
}

