<section class="elencoMarche">
    <div class="container-fluid container-limitato">
        {% if titolo.val != "" %}
            <h3 class="titolo">{{ titolo.val }}</h3>
        {% endif %}
        <div class="row">
            {% for brand in data.brands %}
                <div class="col-lg-2 col-sm-3 col-xs-4">
                    <div class="logo-wrap">
                        <img src="{{ asset(brand[0].getUploadDir ~ brand[0].getListImgFileName) }}" class="logo">
                    </div>
                </div>
            {% endfor %}
        </div>
        {% if link.label is defined and link.label != "" and link.link != "" %}
            <a href="{{ link.link }}" class="btn pulsante-ghebagas"><span>{{ link.label }}</span></a>
        {% endif %}
    </div>
</section>