{% extends "admin/admin.html.twig" %}

{% block title %} {% trans %} layout.labels.title{% endtrans %}{% endblock %}
{% block page_title %} {% trans %} layout.labels.title{% endtrans %}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="{{ asset('admin/vendors/bootstrap-colorpicker/dist/css/bootstrap-colorpicker.css') }}" rel="stylesheet">
{% endblock %}


{% block page_content %}

    <form method="post" class="form-horizontal form-label-left input_mask">
        {% for row in data %}
            <div class="row">
                {% for variable in row %}
                    <div class="col-md-6 col-xs12">
                        <div class="form-group">
                            <label class="col-md-3 col-sm-3 col-xs-12 control-label required" for="{{ variable.key }}">
                                {{ variable.key }}
                            </label>
                            <div class="col-md-6 col-sm-4 col-xs-6">
                                <div class="input-group colorpicker-component">
                                    <input type="text" id="{{ variable.key }}" name="data[{{ variable.key }}]"
                                           required="required" class="form-control" maxlength="128"
                                           value="{{ variable.value }}">
                                    <span class="input-group-addon"><i></i></span>
                                </div>
                            </div>
                            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                                {% if variable.utilizzato %}
                                    <strong class="text-success">{% trans %}layout.labels.utilizzata_in {% endtrans %} {{ variable.utilizzato }}</strong>
                                {% else %}
                                    <strong class="text-danger">{% trans %}layout.labels.variabile_non_utilizzata{% endtrans %}</strong>
                                {% endif %}
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}

        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

            <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
                    default.labels.salva {% endtrans %}</button>

            <a href="{{ path('dashboard') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
                    default.labels.chiudi {% endtrans %}</a>
        </div>

    </form>

{% endblock %}

    {% block javascripts %}
        {{ parent() }}
        <script src="{{ asset('node_modules/ckeditor/ckeditor.js') }}"></script>
        <script src="{{ asset('admin/vendors/bootstrap-colorpicker/dist/js/bootstrap-colorpicker.min.js') }}"></script>
        <script src="{{ asset('bundles/app/admin/js/layout.js') }}"></script>

    {% endblock %}