.cosa_realizziamo {
  text-align: center;
  .bb-bookblock {
    margin: 0 auto;
    position: relative;
    z-index: 100;
    -webkit-perspective: 1300px;
    perspective: 1300px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .bb-page {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transition-property: -webkit-transform;
    transition-property: transform;
  }
  .bb-vertical .bb-page {
    width: 50%;
    height: 100%;
    left: 50%;
    -webkit-transform-origin: left center;
    transform-origin: left center;
  }
  .bb-horizontal .bb-page {
    width: 100%;
    height: 50%;
    top: 50%;
    -webkit-transform-origin: center top;
    transform-origin: center top;
  }
  .bb-page > div,
  .bb-outer,
  .bb-content,
  .bb-inner {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .bb-vertical .bb-content {
    width: 200%;
  }
  .bb-horizontal .bb-content {
    height: 200%;
  }
  .bb-page > div {
    width: 100%;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .bb-vertical .bb-back {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  .bb-horizontal .bb-back {
    -webkit-transform: rotateX(-180deg);
    transform: rotateX(-180deg);
  }
  .bb-outer {
    width: 100%;
    overflow: hidden;
    z-index: 999;
  }
  .bb-overlay,
  .bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    opacity: 0;
  }
  .bb-flipoverlay {
    background-color: rgba(0, 0, 0, 0.2);
  }
  .bb-bookblock.bb-vertical > div.bb-page:first-child,
  .bb-bookblock.bb-vertical > div.bb-page:first-child .bb-back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
  }
  .bb-bookblock.bb-horizontal > div.bb-page:first-child,
  .bb-bookblock.bb-horizontal > div.bb-page:first-child .bb-back {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  /* Content display */
  .bb-content {
    background: #fff;
  }
  .bb-vertical .bb-front .bb-content {
    left: -100%;
  }
  .bb-horizontal .bb-front .bb-content {
    top: -100%;
  }
  /* Flipping classes */
  .bb-vertical .bb-flip-next,
  .bb-vertical .bb-flip-initial {
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
  }
  .bb-vertical .bb-flip-prev {
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
  }
  .bb-horizontal .bb-flip-next,
  .bb-horizontal .bb-flip-initial {
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
  }
  .bb-horizontal .bb-flip-prev {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
  .bb-vertical .bb-flip-next-end {
    -webkit-transform: rotateY(-15deg);
    transform: rotateY(-15deg);
  }
  .bb-vertical .bb-flip-prev-end {
    -webkit-transform: rotateY(-165deg);
    transform: rotateY(-165deg);
  }
  .bb-horizontal .bb-flip-next-end {
    -webkit-transform: rotateX(15deg);
    transform: rotateX(15deg);
  }
  .bb-horizontal .bb-flip-prev-end {
    -webkit-transform: rotateX(165deg);
    transform: rotateX(165deg);
  }
  .bb-item {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    background: #fff;
  }
  /* No JS */
  .no-js .bb-bookblock,
  .no-js ul.bb-custom-grid li {
    width: auto;
    height: auto;
  }
  .no-js .bb-item {
    display: block;
    position: relative;
  }
  .bb-custom-wrapper {
    width: 100%;
    height: 100%;
    position: relative;
  }
  .bb-custom-wrapper .bb-bookblock {
    width: 100%;
    height: 100%;
    -webkit-perspective: 2000px;
    perspective: 2000px;
  }
  .bb-custom-side {
    width: 50%;
    float: left;
    height: 100%;
    overflow: hidden;
    background: #fff;
  }
  .bb-custom-firstpage {
    text-align: center;
    padding-top: 15%;
    width: 50%;
    float: left;
    height: 100%;
  }
  .bb-custom-icon-arrow-left:before,
  .bb-custom-icon-first:before {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  /* No JS */
  .no-js .bb-custom-wrapper {
    height: auto;
  }
  .no-js .bb-custom-content {
    height: 470px;
  }

  .container-fluid {
    padding: 0;
  }
  .sub-item {
    width: 50%;
    float: left;
  }
  .title_section {
    font-size: 48px;
    color: $text-nicola7;
    margin-top: 40px;
    font-family: 'montserratlight';
    width: 50%;
    margin: auto;
    margin-bottom: 20px;
    &:after {
      content: "";
      display: block;
      margin: 20px auto;
      width: 70px;
      height: 3px;
      background: $color-gabricom4;
    }
  }
  .text_section {
    font-size: 16px;
    color: $text-nicola9;
    font-family: 'montserratlight';
    strong {
      color: $text-nicola8;
    }
    width: 55%;
    margin: auto;
    line-height: 30px;
  }
  .subtitle_section {
    font-size: 16px;
    color: $text-nicola7;
    margin-top: 40px;
    font-family: 'montserratlight';
    width: 55%;
    margin: auto;
    margin-bottom: 25px;
    line-height: 30px;
  }
  .text-item {
    background-color: $color-nicola7;
    padding: 100px 0;
    display: table;
  }
  .wrapper_text_item {
    display: table-cell;
    vertical-align: middle;
  }
  .item-img {
    @include background-cover();
  }
  .bb-bookblock {
    width: 100% !important;
    height: auto;
    .bb-item {
      height: auto !important;
    }
    .bb-custom-side {
      position: relative;
    }
    .bb-nav-next {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
    }
    .bb-nav-prev {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate(0, -50%);
      -moz-transform: translate(0, -50%);
      -o-transform: translate(0, -50%);
      -webkit-transform: translate(0, -50%);
    }
    .button_up,
    .button_down {
      display: none;
    }
  }
}

@media screen and (max-width: 1600px) {
  .cosa_realizziamo {
    .subtitle_section {
      width: 60%;
      margin-bottom: 25px;
      line-height: 25px;
      margin-top: 30px;
    }
    .title_section {
      font-size: 35px;
      margin-top: 30px;
    }
    .text_section {
      line-height: 23px;
    }
    .text-item {
      padding: 50px 0;
    }
  }
}

@media screen and (max-width: 1300px) {
  .cosa_realizziamo {
    .subtitle_section {
      width: 65%;
      margin-bottom: 20px;
      line-height: 20px;
      margin-top: 20px;
      font-size: 15px;
    }
    .title_section {
      font-size: 30px;
      margin-top: 20px;
    }
    .text_section {
      line-height: 20px;
      font-size: 15px;
    }
    .text-item {
      padding: 35px 0;
    }
  }
}

@media screen and (max-width: 991px) {
  .cosa_realizziamo {
    .subtitle_section,
    .text_section {
      width: 75%;
      margin-bottom: 15px;
      line-height: 17px;
      margin-top: 15px;
      font-size: 14px;
    }
    .title_section {
      font-size: 25px;
      margin-top: 15px;
    }
    .text-item {
      padding: 60px 0 20px 0;
    }
    .bb-bookblock {
      .button_right,
      .button_left {
        display: none;
      }
      .button_up,
      .button_down {
        display: block;
      }
      .bb-custom-side {
        width: 100%;
      }
      .bb-nav-next {
        position: absolute;
        left: 50% !important;
        top: 0 !important;
        transform: translate(-50%, 0) !important;
        -moz-transform: translate(-50%, 0) !important;
        -o-transform: translate(-50%, 0) !important;
        -webkit-transform: translate(-50%, 0) !important;
      }
      .bb-nav-prev {
        position: absolute;
        left: 50% !important;
        right: auto !important;
        top: auto !important;
        bottom: 0;
        transform: translate(-50%, 0) !important;
        -moz-transform: translate(-50%, 0) !important;
        -o-transform: translate(-50%, 0) !important;
        -webkit-transform: translate(-50%, 0) !important;
      }
    }
  }
}

@media screen and (max-width: 750px) {
  .cosa_realizziamo {
    .subtitle_section,
    .text_section {
      width: 95%;
      margin-bottom: 10px;
      line-height: 15px;
      margin-top: 10px;
      font-size: 13px;
    }
    .title_section {
      font-size: 20px;
      margin-top: 10px;
    }
  }
}

@media screen and (max-width: 640px) {
  .cosa_realizziamo {
    .subtitle_section,
    .text_section {
      width: 95%;
      margin-bottom: 10px;
      line-height: 14px;
      margin-top: 10px;
      font-size: 12px;
    }
    .title_section {
      font-size: 17px;
      margin-top: 10px;
    }
  }
}
