<div id="allegati" class="col-md-4 col-xs-12 panelImg">
    <div class="x_panel">
        <div class="x_title">
            <h2>{% trans %} default.labels.allegati {% endtrans %}</h2>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div id="dropzone" data-endpoint="/admin/_attachments/{{ typeofobject }}/upload"
                 data-allowed-extensions="{{ parametri_avanzati.allowed_upload_extensions }}"
                 data-file-max-size="{{ parametri_avanzati.file_max_size }}"
                 data-image-min-size="{{ parametri_avanzati.image_min_size }}">
                <div class="box__input">
                    <input class="box__file" type="file" name="files[]" id="file"
                           data-multiple-caption="{count} files selected" multiple/>
                    <label for="file"><strong>{% trans %}default.labels.scegli_un_file{% endtrans %}</strong><span
                                class="box__dragndrop"> {% trans %}default.labels.trascina_qui{% endtrans %}</span>.</label>
                </div>
                <div class="box__release">{% trans %}default.labels.rilascia_dd_files{% endtrans %}</div>
                <div class="box__uploading">Uploading&hellip;</div>
                <div class="box__success">Done!</div>
                <div class="box__error">Error! <span></span>.</div>
            </div>
            <div>
                <table id="filesDaCaricare" class="table-striped table table-responsive">

                </table>
                <a href="#" id="submitFiles"
                   class="btn btn-success btn-block">{% trans %}pages.labels.salva_files{% endtrans %}</a>
            </div>
            <div class="fileGiaCaricati">

                <table id="filesAllegati" class="table-striped table table-responsive">
                    <tbody>
                    {% if form.vars.data.attachments|default("") %}
                        {% for attachment in form.vars.data.attachments %}
                            <tr id="{{ attachment.id }}" data-id="{{ attachment.id }}" data-controller="pages">
                                <td class="col-md-3">
                                    {% if attachment.type in ['jpeg', 'gif', 'png'] %}
                                        <a data-lightbox="attachment-{{ attachment.id }}"
                                           href="{{ vich_uploader_asset(attachment, 'file') }}">
                                            <img class="img-responsive"
                                                 src="{{ vich_uploader_asset(attachment, 'file') }}"/>
                                        </a>
                                    {% else %}
                                        <a target="_blank" href="{{ vich_uploader_asset(attachment, 'file') }}">
                                            <img class="img-responsive"
                                                 src="{{ asset('admin/images/mime/'~ attachment.type~'.png') }}"/>
                                        </a>
                                    {% endif %}
                                    <div class="btn-group btn-group-justified">
                                        <a class="btn btn-success disabled btn-save-alt"><i class="fa fa-save"></i></a>
                                        <a class="btn btn-danger btn-delete-attachment"><i class="fa fa-trash"></i></a>
                                    </div>
                                </td>
                                <td class="col-md-9">
                                    <div class="form-group">
                                        <label>{% trans %}default.labels.filename {% endtrans %}</label>
                                        <span class="filename">{{ attachment.name[0:30] }}</span>
                                        {% for shortLocale, locale in languages.getActiveLanguages %}
                                            <div class="form-group">
                                                <label>{% trans %}default.labels.alttag {% endtrans %} {{ locale }}</label>
                                                <input class="form-control input-sm input-alt"
                                                       data-locale="{{ shortLocale }}" type="text"
                                                       name="fileAlt[{{ attachment.id }}][{{ shortLocale }}]"
                                                       value="{{ attachment.translate(shortLocale).alt }}"/>
                                            </div>
                                        {% endfor %}
                                    </div>
                                </td>
                            </tr>
                        {% endfor %}
                    {% endif %}
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>


<script type="text/x-handlebars-template" id="fileItemPreviewTemplate">

    {% verbatim %}
        <tr>
            <td class="col-md-4">
                <img class="img-responsive" src="{{ src }}" />
            </td>
            <td class="col-md-8 fileData">
                <div class="form-group">
                    <label>{% endverbatim %}{% trans %}default.labels.filename {% endtrans %}{% verbatim %}</label>
                    <span class="filename">{{ filename }}</span>
                </div>
                {% endverbatim %}
    {% for shortLocale, locale in languages.getActiveLanguages %}
        {% verbatim %}
                    <div class="form-group">
                        <label>{% endverbatim %}{% trans %}default.labels.alttag {% endtrans %} {{ locale }}{% verbatim %}</label>
                        <input class="form-control input-sm input-alt" data-locale="{% endverbatim %}{{ shortLocale }}{% verbatim %}"  type="text" name="fileAlt[{{index}}][{% endverbatim %}{{ shortLocale }}{% verbatim %}]" value="{{ fileAlt }}" />
                        </div>
                        {% endverbatim %}
    {% endfor %}
    {% verbatim %}

    </td>
    </tr>
    {% endverbatim %}

</script>

<script type="text/x-handlebars-template" id="rigaAllegatiTemplate">

    <tr data-id="{% verbatim %}{{ id }}{% endverbatim %}" data-controller="pages">
        <td class="col-md-3">
            {% verbatim %}
            {{#if isImage}}
                <a data-lightbox="attachment-{{ id }}" href="{{ path }}">
                    <img class="img-responsive" src="{{ path }}" />
                </a>
            {{else}}
                <a href="{{ path }}" target="_blank">
                    <img class="img-responsive" src="/admin/images/mime/{{type}}.png" />
                </a>
            {{/if}}
            {% endverbatim %}
            <div class="btn-group btn-group-justified">
                <a class="btn btn-success disabled btn-save-alt"><i class="fa fa-save"></i></a>
                <a class="btn btn-danger btn-delete-attachment"><i class="fa fa-trash"></i></a>
            </div>
        </td>
        <td class="col-md-9">
            <div class="form-group">
                <label>{% trans %}default.labels.filename {% endtrans %}</label>
                <span class="filename">{% verbatim %}{{ filename }}{% endverbatim %}</span>
                {% for shortLocale, locale in languages.getActiveLanguages %}
                    <div class="form-group">
                        <label>{% trans %}default.labels.alttag {% endtrans %} {{ locale }}</label>
                        <input class="form-control input-sm input-alt" data-locale="{{ shortLocale }}" type="text"
                               name="fileAlt[{% verbatim %}{{ id }}{% endverbatim %}][{{ shortLocale }}]"
                               value="{% verbatim %}{{ alt.{% endverbatim %}{{ shortLocale }}{% verbatim %} }}{% endverbatim %}"/>
                    </div>
                {% endfor %}
            </div>
        </td>
    </tr>


</script>
