{% block input %}
    <div class="row">
        <div class="form-group">
            <label class="col-md-3 col-sm-3 col-xs-12 control-label required"
                   for="{{ parameter.param_id }}">{{ parameter.param_label }}
                <span class="required" title="This field is required">*</span>
            </label>
            <div class="col-md-9 col-sm-9 col-xs-12">
                <input type="text" id="{{ parameter.param_id }}" name="{{ parameter.param_name }}" required="required"
                       class="form-control" value="{{ parameter.param_value }}">
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">
                {{ parameter.param_help }}
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}