$color2: #F39200 !default;
$color3: #878787 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;

.titolo {
  font-size: 24px;
  color: $color6;
  margin-top: 0;
  font-weight: 600;
  text-transform: uppercase;
}

.titolo-wrap {
  padding-left: 8px;
  padding-right: 8px;
}

@media(max-width: 500px) {
  .colonna-prodotto {
    width: 100%;
  }
}

.totalCount {
  text-align: right;
  strong {
    color: $color2;
  }
}
