{{ form_start(form) }}

{{ form_errors(form) }}

<div class="row">
    <div class="col-md-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} default.labels.dati_strutturali {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                {{ form_row(form.codice) }}
                {{ form_row(form.variabili) }}
            </div>
        </div>

        <div class="x_panel">
            <div class="x_title">
                <h2>{% trans %} default.labels.traduzioni {% endtrans %}</h2>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">

                <div class="a2lix_translations tabbable">
                    <ul class="a2lix_translationsLocales nav nav-tabs">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <li{% if loop.first %} class="active"{% endif %}>
                                <a href="#" data-toggle="tab"
                                   data-target=".page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }}">
                                    {{ locale }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>

                    <div class="a2lix_translationsFields tab-content">
                        {% for shortLocale, locale in languages.getActiveLanguages %}
                            <div data-locale="{{ shortLocale }}" data-longlocale="{{ locale }}"
                                 class="page_form_translations_{{ shortLocale }}_a2lix_translationsFields-{{ shortLocale }} tab-pane{% if loop.first %} active{% endif %}">
                                {% for field in attribute(form.translations, shortLocale) %}
                                    {{ form_row(field) }}
                                {% endfor %}
                            </div>
                        {% endfor %}
                    </div>
                </div>

            </div>


        </div>


    </div>

</div>

<div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3 col-sm-offset-3">

    <button type="submit" class="btn btn-success" formnovalidate><i class="fa fa-save"></i> {% trans %}
            default.labels.salva {% endtrans %}</button>

    <a href="{{ path('email_template') }}" class="btn btn-danger"><i class="fa fa-close"></i> {% trans %}
            default.labels.chiudi {% endtrans %}</a>
</div>

{{ form_end(form) }}
