{% extends ":admin/email_template:formLayout.html.twig" %}

{% block title %} {% trans %} email_template.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}
{% block page_title %} {% trans %} email_template.labels.title{% endtrans %}: {% trans %} default.labels.nuovo{% endtrans %} {% endblock %}


