.ColumnsImg100 {
  margin: 30px 0;
  .col-md-6 {
    height: 400px;
    padding: 0;
    position: relative;
    .box-testo {
      position: absolute;
      top: 50%;
      width: 100%;
      text-align: center;
      transform: translateY(-50%);
      padding: 20px;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
    .titolo {
      font-family: $font3;
      font-size: 60px;
      color: $color3;
      text-align: center;
      margin-bottom: 40px;
      strong {
        color: $color4;
        font-weight: $regular;
      }
    }
    .wrap {
      position: relative;
    }
    .titolo, .testo {

    }

    .testo {
      padding: 0 25px;
      text-align: center;
      font-size: 15px;
      font-family: $font;
      color: $color1;
      line-height: 25px;
      strong {
        color: $color4;
        font-weight: $bold;
      }

    }
    @media (max-width: 1600px) {
      .titolo {
        margin-bottom: 20px;
        font-size: 60px;
      }
      .testo {
        line-height: 20px;
      }
    }
    @media (max-width: 1450px) {
      .titolo {
        margin-bottom: 10px;
      }
      .testo {
        line-height: 20px;
        font-size: 14px;
      }
    }
    @media (max-width: 1350px) {
      .titolo {
        margin-bottom: 10px;
      }
      .testo {
        line-height: 20px;
        font-size: 13px;
      }
    }
    @media (max-width: 1300px) {
      .titolo {
        font-size: 50px;
        margin-bottom: 5px;
      }
      .testo {
        line-height: 18px;
        font-size: 13px;
      }
    }
    @media (max-width: 1150px) {
      .box-testo {
        padding: 10px;
      }
      .testo {
        padding: 0;
      }
    }
    @media (max-width: 1050px) {
      .box-testo {
        padding: 5px;
      }
    }
    @media (max-width: 991px) {
      height: auto !important;
      img {
        height: auto !important;
        object-fit: contain;
        object-position: unset;

      }
      .box-testo {
        padding: 30px 20px;
        position: static;
        top: auto;
        transform: none;
      }
    }
  }
}
