<section class="ColumnsImg100">
    <div class="container-fluid">
        {% if mirror.val == 0 %}
            <div class="row">
                <div class="col-md-6">
                    <img src="{{ asset(img.src) }}">
                </div>
                <div class="col-md-6">
                    <div class="box-testo">
                        <div class="wrap">
                            <h2 class="titolo">
                                {{ titolo.val|raw }}
                            </h2>
                            <div class="testo">
                                <p>
                                    {{ testo.val|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="row">


                <div class="col-md-6 col-md-push-6">
                    <img src="{{ asset(img.src) }}">
                </div>
                <div class="col-md-6 col-md-pull-6">
                    <div class="box-testo">
                        <div class="wrap">
                            <h2 class="titolo">
                                {{ titolo.val|raw }}
                            </h2>
                            <div class="testo">
                                <p>
                                    {{ testo.val|raw }}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</section>
