{% trans_default_domain 'public' %}
<section class="squares4Row">
    <div class="container-fluid container-limitato">
        <div class="row">
            <div class="col-sm-12">
                {% if titolo.val != "" %}
                    <h1 class="titolo">{{ titolo.val }}</h1>
                {% endif %}
                <div class="quadrati-container">
                    {% for brand in data.brands %}
                        <div class="square">
                            <div class="content">
                                <div class="fade-overlay">
                                    <div class="wrapper">
                                        <div class="overlay-text">
                                            <div class="marca-overlay"><a
                                                        href="{{ to_route("brand_ecommerce",{"slug":brand.slug}) }}">{{ brand.titolo }}</a>
                                            </div>
                                            <a class="subtitle-overlay"
                                               href="{{ to_route("brand_ecommerce",{"slug":brand.slug}) }}"
                                               rel="nofollow">{% trans %}
                                                    labels.ecommerce.view_products{% endtrans %}</a>
                                        </div>
                                        <a class="freccetta" rel="nofollow"
                                           href="{{ to_route("brand_ecommerce",{"slug":brand.slug}) }}"><span
                                                    class="glyphicon glyphicon-chevron-right"
                                                    aria-hidden="true"></span></a>
                                    </div>
                                </div>
                                <div class="img-box">
                                    <img src="{{ asset(brand[0].getUploadDir ~ brand[0].getListImgFileName) }}">
                                </div>
                                <h3 class="text-box">
                                    {{ brand.titolo }}
                                </h3>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>
