height:

100
%;
.text_with_background_image {
  min-height: 100%;
  height: 100%;
  background-size: cover;
  background-position: 50% 50%;
  overflow: hidden;
  position: relative;

  .overlay_video {
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.5;
    left: 0;
  }
  .wrapper_text {
    position: absolute;
    bottom: 130px;
    text-align: center;
    width: 100%;
    .title2 {
      font-size: 17px;
      color: $color5;
      font-style: italic;
      padding: 15px 25px;
      font-family: 'Merriweather', serif;
      font-weight: 400;
      line-height: 30px;
      display: block;
    }
  }
}

@media screen and (max-width: 991px) {
  .text_with_background_image {

  }
}
