<section class="text_with_background_image" style="background-image:url('{{ img.src }}');">
    <div class="container-fluid">
        <div class="overlay_video">
        </div>
        <div class="wrapper_text">
            <a href="{{ id_sezione.link }}" class="title2" data-aos="zoom-in" data-aos-duration="1000"><span><img
                            style="margin-right:10px;" src="{{ img_freccia.src }}"></span>{{ id_sezione.label }}</a>
        </div>
    </div>
</section>
