<p class="navigation">
    {% for item in data.items %}
        {% if loop.last %}
            <span>{{ item.label }}</span>
        {% else %}
            <span><a href="{{ item.url }}">{{ item.label }}</a> > </span>
        {% endif %}
    {% endfor %}
</p>