<section class="fourImagesWithTextLink" style="background-image:url('{{ bg_img.src }}')">
    <div class="container-fluid">
        <div class="row elementi">
            <div class="col-md-3 col-sm-6">
                <a href="{{ link1.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img1.alt|default("") }}"
                         src="{{ img1.src }}">
                </a>
                <a href="{{ link1.link }}" class="titolo">{{ link1.label }}</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{{ link2.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img2.alt|default("") }}"
                         src="{{ img2.src }}">
                </a>
                <a href="{{ link2.link }}" class="titolo">{{ link2.label }}</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{{ link3.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img3.alt|default("") }}"
                         src="{{ img3.src }}">
                </a>
                <a href="{{ link3.link }}" class="titolo">{{ link3.label }}</a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="{{ link4.link }}" rel="nofollow">
                    <img class="img-responsive" alt="{{ img4.alt|default("") }}"
                         src="{{ img4.src }}">
                </a>
                <a href="{{ link4.link }}" class="titolo">{{ link4.label }}</a>
            </div>

        </div>
    </div>
</section>