.fourImagesWithTextLink {
  padding: 160px 20px;
  background-size: cover;
  background-position: center;
  .elementi .col-md-3 {
    text-align: center;
    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .titolo {
      display: inline-block;
      text-align: center;
      margin-top: 20px;
      font-family: $font2;
      font-size: 24px;
      font-weight: $bold;
      color: $color1;
    }
  }
  @media (max-width: 1500px) {
    .elementi .col-md-3 {
      .titolo {
        font-size: 20px;
      }
    }
  }
  @media (max-width: 991px) {
    padding: 80px 20px;
    .elementi .col-md-3 {
      .titolo {
        margin-bottom: 40px;
      }
    }
  }

  @media (max-width: 767px) {
    padding: 40px 20px;
  }

  @media (max-width: 400px) {
    .elementi .col-md-3 {
      .titolo {
        font-size: 16px;
      }
    }
  }
}