$color1: #fff !default;
$color4: #D6BE77 !default;
$color9: #8b8b8b !default;
$color12: #231E1C !default;
$color22: #363839 !default;
$color23: #5D5D5D !default;
$textsize14: 14px !default;
$textsize18: 18px !default;
$textsize25: 25px !default;
$textsize30: 30px !default;
$fontweightRegular: 400 !default;
$fontweightMedium: 500 !default;
$fontweightBold: 700 !default;
$fontfamily1: $font;

.left-blog {
  padding: 3em 10% 0 10%;
  .titolo-categoria {
    margin-top: 0;
    font-family: $fontfamily1;
    font-size: $textsize25;
    font-weight: $fontweightBold;
    color: $color22;
    margin-bottom: 35px;
  }
  .row_articolo {
    margin-bottom: 100px;
    .col-img {
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        font-family: 'object-fit: cover;'
      }
      .date {
        background-color: $color2;
        color: white;
        position: absolute;
        top: 15px;
        left: 30px;
        text-align: center;
        padding: 0 10px;
        padding-bottom: 3px;
        .day {
          font-size: $textsize30;
          font-weight: $fontweightRegular;
          display: block;
          font-family: $fontfamily1;
        }
        .month {
          font-size: $textsize14;
          font-family: $fontfamily1;
          font-weight: $fontweightMedium;
          display: block;
          margin-top: -0.5em;
          text-transform: uppercase;
        }
      }
    }
    .col-testo {
      .content {
        position: relative;
        padding-left: 10px;
        .titolo-articolo {
          margin-top: 0;
          font-family: $fontfamily1;
          font-size: 28px;
          line-height: 35px;
          font-weight: 300;
          color: $color1;
          margin-bottom: 20px;
          a {
            color: $color1;
          }
        }
        .testo-articolo {
          font-family: $fontfamily1;
          font-size: $textsize14;
          line-height: 30px;
          letter-spacing: 0.5px;
          font-weight: $fontweightRegular;
          color: $color9;
          margin-bottom: 30px;
        }
        .categoria-news {
          margin-top: 0;
          font-family: $fontfamily1;
          font-size: $textsize14;
          font-weight: $fontweightMedium;
          color: #6e6e6e;
          margin-bottom: 20px;
          display: block;
        }
        .btn-default {
          font-family: $fontfamily1;
          font-size: $textsize14;
          font-weight: 400;
          background-image: none;
          color: white;
          border: transparent;
          background-color: $color2;
          padding: 10px 30px;
          transition: 0.3s;
          text-transform: uppercase;
          &:hover, &:focus {
            background-color: darken($color2, 10%);
            transition: 0.3s;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1599px) {
  .left-blog {
    padding: 0 5%;
  }
}

@media screen and (max-width: 1399px) {
  .left-blog {
    padding: 0 2%;
  }
}

@media screen and (max-width: 1199px) {
  .left-blog {
    padding: 0 15px;
    .titolo-categoria {
      font-size: font-percentage($textsize25, .9);
      margin-bottom: 25px;
    }
    .row_articolo {
      margin-bottom: 80px;
      .col-img {
        .date {
          .day {
            font-size: font-percentage($textsize30, .9);
          }
          .month {
            font-size: font-percentage($textsize14, .9);
          }
        }
      }
      .col-testo {
        .content {
          .titolo-articolo {
            font-size: font-percentage($textsize30, .9);
            line-height: 30px;
            margin-bottom: 20px;
          }
          .testo-articolo {
            font-size: font-percentage($textsize14, .9);
            line-height: 28px;
            margin-bottom: 25px;
          }
          .categoria-news {
            font-size: font-percentage($textsize14, .9);
            margin-bottom: 20px;
          }
          .btn-default {
            font-size: font-percentage($textsize14, .9);
            padding: 10px 25px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .left-blog {
    .titolo-categoria {
      font-size: font-percentage($textsize25, .8);
      margin-bottom: 20px;
    }
    .row_articolo {
      margin-bottom: 60px;
      .col-img {
        padding: 0;
        img {
          height: auto;
        }
        .date {
          left: 15px;
          .day {
            font-size: font-percentage($textsize30, .8);
          }
          .month {
            font-size: font-percentage($textsize14, .8);
          }
        }
      }
      .col-testo {
        padding: 0;
        .content {
          padding-left: 15px;
          .titolo-articolo {
            font-size: font-percentage($textsize30, .7);
            line-height: 28px;
            margin-bottom: 15px;
          }
          .testo-articolo {
            font-size: font-percentage($textsize14, .8);
            line-height: 22px;
            margin-bottom: 20px;
          }
          .categoria-news {
            font-size: font-percentage($textsize14, .8);
            margin-bottom: 15px;
          }
          .btn-default {
            font-size: font-percentage($textsize14, .8);
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 599px) {
  .left-blog {
    .titolo-categoria {
      font-size: font-percentage($textsize25, .7);
      margin-bottom: 15px;
    }
    .row_articolo {
      margin-bottom: 40px;
      .col-img {
        height: auto !important;
        width: 100%;
        padding: 0;
        text-align: center;
        img {
          width: 80%;
          margin-bottom: 15px;
        }
        .date {
          left: 15%;
          .day {
            font-size: font-percentage($textsize30, .7);
          }
          .month {
            font-size: font-percentage($textsize14, .7);
          }
        }
      }
      .col-testo {
        padding: 0;
        width: 100%;
        .content {
          text-align: center;
          .titolo-articolo {
            font-size: font-percentage($textsize30, .6);
            line-height: 26px;
          }
          .testo-articolo {
            font-size: font-percentage($textsize14, .8);
            line-height: 20px;
            margin-bottom: 20px;
          }
          .categoria-news {
            font-size: font-percentage($textsize14, .8);
            margin-bottom: 15px;
          }
          .btn-default {
            font-size: font-percentage($textsize14, .8);
            padding: 10px 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 449px) {
  .left-blog {
    .row_articolo {
      .col-img {
        img {
          width: 100%;
        }
        .date {
          left: 15px;
        }
      }
      .col-testo {
        .content {
          .testo-articolo {
            margin-bottom: 15px;
          }
          .categoria-news {
            margin-bottom: 15px;
          }
          .btn-default {
            padding: 10px 15px;
          }
        }
      }
    }
  }
}

// $color1:#1c3a64 !default;
// $color2:#009900 !default;
// $color4:#f5f5f5 !default;
// $color9:#8b8b8b !default;
// $textsize2:14px !default;
// $textsize3:16px !default;
// $textsize9:30px !default;
// $fontweightRegular:400 !default;
// $fontweightMedium:500 !default;
//
// .button-leggi{
//     margin-top:20px;
// }
//
// .btn{
//     text-transform:uppercase;
//     position:absolute;
//     bottom:0;
//     font-weight:$fontweightMedium;
//     padding:0.7em 3em;
// }
//
// a.categoria-news{
//     color:$color9;
//     text-transform:uppercase;
//     display:block;
//     margin:1em 0;
//     font-size:$textsize2;
// }
//
// .data-blog{
//     color:$color2;
//     font-size:$textsize2;
//     font-weight:$fontweightMedium;
//     margin-bottom:10px;
// }
//
// .row_articolo{
//     margin-bottom:30px;
//     .col-lg-6{
//         img{
//             width:100%;
//         }
//         .date{
//             background-color:$color1;
//             color:$color4;
//             position:absolute;
//             top:1em;
//             left:3em;
//             text-align:center;
//             padding:0.5em 1em;
//             .day{
//                 font-size:$textsize9;
//                 display:block;
//             }
//             .month{
//                 font-size:$textsize3;
//                 display:block;
//                 margin-top:-0.5em;
//                 text-transform:uppercase;
//             }
//         }
//         .content{
//             padding-left:10px;
//             font-weight:$fontweightRegular;
//             a.titolo-news{
//                 color:$color1;
//             }
//             h3{
//                 margin-top:0;
//                 font-size:$textsize9;
//                 color:$color1;
//             }
//             p{
//                 font-size:$textsize3;
//                 color:$color9;
//             }
//         }
//     }
// }
//
// @media (max-width:1200px){
//     .left-blog{
//         padding-left:20px;
//         padding-right:20px;
//     }
// }
//
// @media screen and (max-width:1300px){
//
//     .left-blog{
//         .btn{
//             position:relative;
//         }
//         .row_articolo .col-lg-6{
//             .content{
//                 h3{
//                     font-size:font-percentage($textsize9, 0.7);
//                 }
//                 p{
//                     font-size:font-percentage($textsize3, 0.9);
//                     margin-bottom:5px;
//                 }
//                 button{
//                     margin-top:5px;
//                 }
//             }
//         }
//     }
// }
//
// @media screen and (max-width:900px){
//     .left-blog{
//         padding-left:10px;
//         padding-right:10px;
//     }
//     .left-blog .row_articolo .col-sm-6{
//         padding-left:5px;
//         padding-right:5px;
//     }
// }
//
// @media screen and (max-width:767px){
//     .left-blog .row_articolo{
//         h3{
//             margin-top:0;
//             font-size:16px;
//             margin-bottom:5px;
//         }
//         p{
//             font-size:font-percentage($textsize3, 0.9);
//             margin-bottom:5px;
//         }
//     }
//     .left-blog .row_articolo .col-lg-6 .content button{
//         margin-top:5px;
//     }
// }
//
// @media screen and (max-width:549px){
//     .left-blog .row_articolo .col-lg-6{
//         width:100%;
//     }
//     .left-blog .row_articolo .col-lg-6 .content{
//         padding:0;
//         padding-top:10px;
//     }
//     .left-blog .row_articolo .col-lg-6 .content button{
//         padding:3px 6px;
//         font-size:font-percentage($textsize3, 0.7);
//     }
//     .left-blog .row_articolo .col-lg-6:last-child{
//         padding:0;
//     }
//     .left-blog .row_articolo .col-lg-6 .content{
//         padding-top:5px;
//     }
//     .left-blog .col-lg-8{
//         padding:20px;
//     }
// }
