.sliderTitleText {
  font-family: $font;
  .colonna-testo {
    padding: 100px 0;
  }
  .slider-wrap {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0px 40px;
    width: 100%;
    left: 0;
    z-index: 2;

  }
  .slick-slide:hover .hover-lente {
    opacity: 1;
    transition: 500ms;
  }
  .hover-wrapper {
    padding: 8px;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  .wrappone {
    position: relative;
    width: 100%;
    height: 100%;
  }
  .hover-lente {
    position: absolute;
    z-index: 5;
    background: rgba(51, 51, 51, 0.51);
    opacity: 1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: 0;
    transition: 500ms;
    display: table;
    vertical-align: middle;
    img {
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .mirrored .bgcolor {
    left: auto;
    right: 0;
  }
  .bgcolor {
    position: absolute;
    z-index: 1;
    background-color: $color8;
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .mirrored .slick-precedente {
    left: auto;
    right: 60px;
  }
  .mirrored .slick-successivo {
    left: auto;
    right: 35px;
  }
  .slick-precedente {
    position: absolute;
    left: 35px;
    top: -30px;
    background: transparent;
    border: 0;
    &:focus {
      outline: none;
    }
    &.slick-disabled {
      opacity: 0.4;
    }
  }
  .slick-successivo {
    position: absolute;
    top: -30px;
    left: 60px;
    background: transparent;
    border: 0;
    &:focus {
      outline: none;
    }
    &.slick-disabled {
      opacity: 0.4;
    }
  }

  .slider, .slick-track, .slick-slide {
    height: 400px;
  }
  .slick-slide {
    padding: 8px;
    position: relative;
    background: $color1;
    > img {
      object-fit: cover;
      object-position: center;
      font-family: 'object-fit:cover;object-position:center';
      width: 100%;
      height: 100%;
    }
    cursor: pointer;
  }
  .slick-slide:focus {
    outline: none;
  }

  .img_separatore {
    width: 100%;
    position: relative;
    z-index: 4;
  }
  .row {
    position: relative;
  }
  .row > div {
    padding-left: 0;
    padding-right: 0;
  }
  .titolo, .testo {
    padding: 0 40px;
  }
  .titolo {
    text-align: center;
    color: $color2;
    margin-bottom: 40px;
    font-size: 30px;
  }
  .testo {
    text-align: center;
    font-weight: $medium;
    font-size: 16px;
    line-height: 32px;
    strong, a {
      color: $color2;
      font-weight: $medium;
    }
  }

  @media (max-width: 1600px) {
    .titolo {
      font-size: 26px;
    }
    .testo {
      line-height: 26px;
    }
  }

  @media (max-width: 1400px) {
    .titolo, .testo, .slider-wrap {
      padding: 0 20px;
    }
    .titolo {
      font-size: 23px;
    }
    .testo {
      font-size: 16px;
      line-height: 24px;
    }
    .colonna-testo {
      width: 37%;
      &.col-md-push-7 {
        left: 63%;
      }
    }
    .colonna-slider {
      width: 63%;
      &.col-md-pull-5 {
        right: 37%;
      }
    }

  }

  @media(max-width: 1300px) {
    .titolo {
      font-size: 20px;
    }
    .testo {
      font-size: 16px;
    }
    .slider, .slick-track, .slick-slide {
      height: 300px;
    }

  }

  @media (max-width: 1000px) {
    .colonna-testo {
      padding: 80px 10% !important;
    }
    .hover-wrapper, .slick-slide {
      padding: 0;
    }
    .colonna-testo, .colonna-slider {
      width: 100%;
    }
    .bgcolor {
      display: none;
    }
    .slider-wrap {
      position: static;
      top: auto;
      left: auto;
      transform: none;
      padding: 0;
    }
    .colonna-testo {
      &.col-md-push-7 {
        left: auto;
      }
    }
    .colonna-slider {
      &.col-md-pull-5 {
        right: auto;
      }
    }
  }

  @media (max-width: 800px) {
    .colonna-testo {
      padding: 80px 5% !important;
    }
  }

  @media (max-width: 600px) {
    .colonna-testo {
      padding: 80px 20px !important;
    }
  }
  @media(max-width: 500px) {
    .colonna-testp {
      padding: 80px 10px !important;
    }
    .titolo, .testo {
      padding: 0px;
    }
    .titolo {
      font-size: 18px;
    }
    .testo {
      font-size: 15px;
      line-height: 20px;
    }
  }
}
