<ul class="nav navbar-nav navbar-right selettoreLingue hidden-xs">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">
            {% for lang, lingua in data.langs %}
                {% if lang == app.request.locale %}
                    <img
                            src="{{ asset("images/pedranzini/"~lang~".png") }}"> {{ lang|upper }}
                {% endif %}
            {% endfor %}
        </a>
        <ul class="dropdown-menu pull-center">
            {% for lang, lingua in data.langs %}
                {% if data.META is defined and data.META.alternate is defined and attribute(data.META.alternate, lang)|default("") %}
                    {% set url = attribute(data.META.alternate, lang) %}
                {% else %}
                    {% set url = attribute(localizedUrls, lang) %}
                {% endif %}
                {% if lang != app.request.locale %}
                    <li><a href="{{ url }}"><img
                                    src="{{ asset("images/pedranzini/"~lang~".png") }}">{{ lingua }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </li>
</ul>