.textImageFooter {
  .footer_text {
    color: $text14n;
    margin-top: 30px;
    font-family: 'montserratlight';
  }
}

@media (max-width: 991px) {
  .textImageFooter {
    text-align: center;
  }
}

@media screen and (max-width: 640px) {
  .textImageFooter {
    .footer_text {
      font-size: 13px;
    }
  }
}
