$color2: #F39200 !default;
$color3: #878787 !default;
$color6: #484848 !default;
$color7: #BFBFBF !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.slick-prev, .slick-next {
  z-index: 999;
  width: auto;
  height: auto;
  &::before {
    font-family: 'Glyphicons Halflings';
    font-size: 32px;
    color: $color2;
  }
}

.slick-prev {
  left: -200px;
  &::before {
    content: "\e257";
  }
}

.slick-next {
  right: -200px;
  &::before {
    content: "\e258";
  }
}

.lista-prodotti-4col, .lista-prodotti-3col {
  margin-top: 10px;
  margin-bottom: 40px;
  .colonna-prodotto:first-child {
    padding-left: 15px;
  }
  .colonna-prodotto:last-child {
    padding-right: 15px;
  }
  .colonna-prodotto {
    padding-left: 8px;
    padding-right: 8px;
    margin-bottom: 14px;
  }

  @media(max-width: 1700px) {
    .slick-prev {
      left: -50px;
    }

    .slick-next {
      right: -50px;
    }
  }

  @media(max-width: 1350px) {
    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }
    .slick-slider {
      padding-left: 30px;
      padding-right: 30px;
    }
  }

  @media(max-width: 540px) {
    .colonna-prodotto {
      width: 100%;
    }
  }
}