.box-testo-bottone {
  text-align: center;
  background-color: $color5;
  padding: 30px 0;
  img {
    margin: 0 auto;
  }
  .titolo {
    font-size: $font-size4;
    font-style: italic;
    color: $color1;
    font-weight: $regular;
    margin-bottom: 50px;
  }
  .testo {
    line-height: 60px;
    font-size: $font-size3;
    color: $color2;
    font-weight: $regular;
    margin-bottom: 50px;
    strong {
      font-weight: $bold;
    }
  }
  .btn-default {
    border-radius: 0;
    font-size: $font-size2;
    font-weight: $medium;
  }
}

@media screen and (max-width: 1199px) {
  .box-testo-bottone {
    img {
      height: 70px;
    }
    .titolo {
      font-size: font-percentage($font-size4, 0.85);
      margin-bottom: 30px;
    }
    .testo {
      line-height: 40px;
      font-size: font-percentage($font-size3, 0.9);
      margin-bottom: 30px;
    }
    .btn-default {
      font-size: font-percentage($font-size1, 0.9);
      strong {
        font-size: font-percentage($font-size2, 0.9);
      }
    }
  }
}

@media screen and (max-width: 991px) {
  .box-testo-bottone {
    .titolo {
      font-size: font-percentage($font-size4, 0.80);
      margin-bottom: 20px;
    }
    .testo {
      line-height: 30px;
      font-size: font-percentage($font-size3, 0.8);
      margin-bottom: 15px;
    }
  }
}

@media screen and (max-width: 767px) {
  .box-testo-bottone {
    padding: 30px 20px;
    img {
      height: 50px;
    }
    .titolo {
      font-size: font-percentage($font-size4, 0.70);
      margin-bottom: 15px;
    }
    .testo {
      line-height: 20px;
      font-size: font-percentage($font-size3, 0.6);
      margin-bottom: 15px;
    }
    .btn-default {
      font-size: font-percentage($font-size1, 0.8);
      strong {
        font-size: font-percentage($font-size2, 0.75);
      }
      padding: 10px 20px;
    }
  }
}
