<section class="box-testo-bottone">
    <div class="container">
        <div class="row">
            <img src="{{ icona.src }}"/>
            <h2 class="titolo">
                {{ titolo.val|raw }}
            </h2>
            <p class="testo">
                {{ testo.val|raw }}
            </p>
            {% if link.link|default("") %}
                <a href="{{ link.link }}" class="btn btn-default">{{ link.label|upper }}</a>
            {% endif %}
        </div>
    </div>
</section>
