background-size:cover

;
background-position:

50
%

50
%;
background-repeat:no-repeat

;
height:

100
%;
width:

100
%;
.text_with_background_image {
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  .wrapper_motto {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    .title1 {
      font-size: $text14;
      font-weight: $bold;
      color: $color8;
      margin: 0;
    }
  }
  .arrow {
    position: absolute;
    bottom: 30px;
    left: 50%;
    width: 50px;
    transform: translateX(-50%);
    cursor: pointer;
    transition: 0.8s ease;
  }
  .arrow.animate {
    bottom: 15px;
    transition: 0.8s ease;
  }
}

@media screen and (max-width: 1199px) {
  .text_with_background_image .wrapper_motto .title1 {
    font-size: font-percentage($text14, 0.9);
  }
}

@media screen and (max-width: 991px) {
  .text_with_background_image .wrapper_motto .title1 {
    font-size: font-percentage($text14, 0.8);
  }
}

@media screen and (max-width: 767px) {
  .text_with_background_image .wrapper_motto .title1 {
    font-size: font-percentage($text14, 0.7);
  }
}

@media screen and (max-width: 449px) {
  .text_with_background_image .wrapper_motto .title1 {
    font-size: font-percentage($text14, 0.5);
  }
}
