<section class="two_columns_contacts" id="{{ id_sezione.val }}">
    <div class="container-fluid">
        <div class="row two_columns_contacts_main">
            <div class="col-md-6" id="mappa">
            </div>
            <div class="col-md-6">
                <h3 class="title-tcc" data-aos="fade-left" data-aos-duration="1000"> {{ titolo.val|raw }} </h3>
                <div class="media" data-aos="fade-left" data-aos-duration="1000">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{{ icona_indirizzo.src }}"
                                 alt="{{ icona_indirizzo.alt|default("") }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <!-- <h3 class="media-heading nome-indirizzo">Sede Legale</h3> -->
                        <p class="indirizzo">{{ indirizzo1.val|raw }} </p>
                    </div>
                </div>
                <div class="media" data-aos="fade-left" data-aos-duration="1000">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{{ icona_indirizzo.src }}"
                                 alt="{{ icona_indirizzo.alt|default("") }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <!-- <h3 class="media-heading nome-indirizzo">Sede Legale</h3> -->
                        <p class="indirizzo">{{ indirizzo2.val|raw }} </p>
                    </div>
                </div>
                <div class="media" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                    <div class="media-left">
                        <a href="#">
                            <img class="media-object" src="{{ icona_telefono.src }}"
                                 alt="{{ icona_telefono.alt|default("") }}">
                        </a>
                    </div>
                    <div class="media-body">
                        <a class="indirizzo" href="{{ telefono.link }}">{{ telefono.label }}</a>
                    </div>
                </div>
                <div class="row reparti">
                    <div class="col-xs-5">
                        <div class="media" data-aos="fade-left" data-aos-duration="1000">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="{{ icona_email.src }}"
                                         alt="{{ icona_email.alt|default("") }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading nome-indirizzo">{{ reparto1.val|raw }}</h3>
                                <a class="indirizzo" href="{{ reparto1_email.link }}">{{ reparto1_email.label }}</a>
                            </div>
                        </div>
                        <div class="media" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="200">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="{{ icona_email.src }}"
                                         alt="{{ icona_email.alt|default("") }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading nome-indirizzo">{{ reparto2.val|raw }}</h3>
                                <a class="indirizzo" href="{{ reparto2_email.link }}">{{ reparto2_email.label }}</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <div class="media" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="400">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="{{ icona_email.src }}"
                                         alt="{{ icona_email.alt|default("") }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading nome-indirizzo">{{ reparto3.val|raw }}</h3>
                                <a class="indirizzo" href="{{ reparto3_email.link }}">{{ reparto3_email.label }}</a>
                            </div>
                        </div>
                        <div class="media" data-aos="fade-left" data-aos-duration="1000" data-aos-delay="600">
                            <div class="media-left">
                                <a href="#">
                                    <img class="media-object" src="{{ icona_email.src }}"
                                         alt="{{ icona_email.alt|default("") }}">
                                </a>
                            </div>
                            <div class="media-body">
                                <h3 class="media-heading nome-indirizzo">{{ reparto4.val|raw }}</h3>
                                <a class="indirizzo" href="{{ reparto4_email.link }}">{{ reparto4_email.label }}</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row follows">
                    <div class="col-xs-12">
                        <span data-aos="zoom-in" data-aos-duration="1000">{{ seguici.val }}</span>
                        <ul class="icons-follows">
                            <li data-aos="zoom-in" data-aos-duration="1000"><a href="{{ link_facebook.link }}">
                                    <img src="{{ icona_facebook.src }}" alt="{{ icona_facebook.alt|default("") }}"> </a>
                            </li>
                            <li data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="200">
                                <a href="{{ link_twitter.link }}">
                                    <img src="{{ icona_twitter.src }}" alt="{{ icona_twitter.alt|default("") }}"> </a>
                            </li>
                            <li data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="400">
                                <a href="{{ link_youtube.link }}">
                                    <img src="{{ icona_youtube.src }}" alt="{{ icona_youtube.alt|default("") }}"> </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>
