.blogText {
  position: relative;
  font-family: $font;
  margin-bottom: 30px;
  color: #595959;
  .titolo {
    font-weight: $bold;
    padding-right: 120px;
    margin-bottom: 50px;
    font-size: 30px;
  }
  .stats {
    position: absolute;
    top: 0;
    right: 0;
    text-align: right;
    color: $color2;
    margin-bottom: 20px;
    i {
      margin-left: 10px;
      top: 4px;
      position: relative;
      margin-right: 5px;
    }
  }

  @media (max-width: 1500px) {
    .titolo {
      font-size: 25px;
    }
  }

  @media (max-width: 1100px) {
    .titolo {
      font-size: 22px;
    }
  }

}
