$color2: #F39200 !default;
$color3: #878787 !default;
$color5: #DeDeDe !default;
$color6: #484848 !default;
.pulsante-ghebagas {
  background-color: $color2;
  color: $color1;
  font-weight: 700;
  border-radius: 0;
  font-size: 18px;
  position: relative;
  transform: skew(-8deg);
  padding: 2px 26px;
  padding-top: 4px;
  padding-bottom: 5px;
  span {
    display: inline-block;
    transform: skew(8deg);
  }
  &:hover, &:focus {
    color: $color1;
    background-color: darken($color2, 4%);
  }

}

.ricerca-avanzata-wrap {
  border-bottom: 1px solid #dedede;
}

.ricerca-avanzata {
  margin-top: 20px;
  margin-bottom: 20px;
  > .row > div {
    padding-left: 10px;
    padding-right: 10px;
  }
  .ricerca-label {
    font-weight: bold;
    color: $color6;
    font-size: 16px;
    margin-top: 7px;
    img {
      margin-right: 10px;
      margin-top: -5px;
    }
  }
  .select2 {
    width: 100% !important;
  }

  .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $color3;
    line-height: 33px;
    padding-left: 15px;
  }
  .select2-container--default .select2-selection--single {
    border-color: $color5;
    height: 36px;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: $color2 transparent transparent transparent;
    margin-top: 2px;

  }
  .pulsante-ghebagas {
    height: 36px;
    padding: 2% 0;
    width: 100%;
  }

  //ADATTAMENTO
  @media(max-width: 1199px) {
    .ricerca-label {
      margin-bottom: 5px;
    }
    margin-top: 10px;
  }

  @media(max-width: 767px) {
    margin-top: 0;

    .ricerca-label {
      text-align: center;
      margin: 20px 10px;
    }
    .select2-container {
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      max-width: 400px;
    }
    .pulsante-ghebagas {
      width: 200px;
      margin-left: auto;
      margin-right: auto;
      padding: 3px 0;
      display: block;
    }
  }
}
