<div data-instance="{{ instance }}"
     class="sezione box-doppio-invertito"{% if bgcolor is defined and bgcolor.val %} style="background-color:{{ bgcolor.val }}"{% endif %}
     id="{{ id_sezione.val }}">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-sm-push-6 col-md-6 col-md-push-6 col-lg-6 col-lg-push-6 col-img-responsive"
                 data-aos="fade-right" data-aos-duration="800">
                <img src="{{ immagine.src }}" alt="{{ immagine.alt|default("") }}"/>
            </div>
            <div{% if bgcolor is defined and bgcolor.val %} style="background-color:{{ bgcolor.val }}"{% endif %}
                    class="col-xs-12 col-sm-6 col-sm-pull-6 col-md-6 col-md-pull-6 col-lg-6 col-lg-pull-6 col-text"
                    data-aos="fade-left" data-aos-duration="800">
                <div class="box-testo">
                    <span>{{ titoletto.val }}</span>
                    <h3>{{ titolo.val|raw }}</h3>
                    <p>
                        {{ testo.val|raw }}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
